body {color: #838383;font-family: Open Sans;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 14px;line-height: 28px;}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {color: #444;}
.site-title a, a, .woocommerce .woocommerce-breadcrumb a, .cwp-woocommerce-active .wc-block-product-categories.is-list li {color: #ee3a6a;}
a:hover, .entry-meta a:hover, .entry-meta span a:hover, .woocommerce .woocommerce-breadcrumb a:hover, .cwp-sidebar .widget a:hover, .cwp-sidebar .widget li a:hover, .cwp-woocommerce-active .wc-block-product-categories.is-list li:hover {color: #d22d59;}
.entry-meta a, .entry-meta span {color: #999;}
.post.sticky, .search-form input[type="submit"], .cwp-woocommerce-active .widget_price_filter .ui-slider-horizontal .ui-slider-range, .cwp-woocommerce-active .widget_price_filter .ui-slider .ui-slider-handle {background: #ee3a6a;}
h1, h1 a {font-family: Open Sans;font-weight: 800;font-style: normal;text-decoration: none;text-transform: none;font-size: 30px;line-height: 40px;letter-spacing: 0;}
h2, h2 a {font-family: Open Sans;font-weight: 800;font-style: normal;text-decoration: none;text-transform: none;font-size: 30px;line-height: 35px;letter-spacing: 0;}
h3, h3 a {font-family: Open Sans;font-weight: 700;font-style: normal;text-decoration: none;text-transform: none;font-size: 24px;line-height: 32px;letter-spacing: 0;}
h4, h4 a {font-family: Open Sans;font-weight: 700;font-style: normal;text-decoration: none;text-transform: none;font-size: 18px;line-height: 24px;letter-spacing: 0;}
h5, h5 a {font-family: Open Sans;font-weight: 500;font-style: normal;text-decoration: none;text-transform: none;font-size: 24px;line-height: 32px;letter-spacing: 0;}
h6, h6 a {font-family: Open Sans;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 18px;line-height: 24px;letter-spacing: 0;}
.cwp-dynamic-header {background-color: #fff;}
.cwp-top-header {height: auto;background-color: #6851a2;}
.cwp-main-header {height: auto;padding: 10px 0 10px 0;background-color: #fff;}
.cwp-bottom-header {height: auto;}
.cwp-logo .custom-logo-link {max-width: 150px;}
.cwp-logo .site-title, .cwp-logo .site-title a {font-family: Open Sans;font-weight: 700;font-style: normal;text-decoration: none;text-transform: none;font-size: 15px;line-height: 1px;color: #3f51b5;}
.cwp-logo .site-title:hover, .cwp-logo .site-title:hover a, .site-title:focus-within, .site-title:focus-within a {color: #275cf6;}
.cwp-logo .site-description {font-family: Open Sans;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 12px;color: #333;}
.cwp-logo .site-description:hover, .site-description:focus {color: #333;}
.cwp-social-links li a {border-radius: 50px;font-size: 14px;width: 30px;height: 30px;line-height: 30px;}
.cwp-social-links ul li.fab-fa-linkedin-in a {color: #fff;background: ;}
.cwp-social-links ul li.fab-fa-linkedin-in a:hover, .cwp-social-links ul li.fab-fa-linkedin-in a:focus {color: ;background: ;}
.cwp-social-links ul li.fab-fa-facebook-f a {color: #fff;background: ;}
.cwp-social-links ul li.fab-fa-facebook-f a:hover, .cwp-social-links ul li.fab-fa-facebook-f a:focus {color: ;background: ;}
.cwp-social-links ul li.fab-fa-twitter a {color: #fff;background: ;}
.cwp-social-links ul li.fab-fa-twitter a:hover, .cwp-social-links ul li.fab-fa-twitter a:focus {color: ;background: ;}
.cwp-social-links ul li.fab-fa-instagram a {color: #fff;background: ;}
.cwp-social-links ul li.fab-fa-instagram a:hover, .cwp-social-links ul li.fab-fa-instagram a:focus {color: ;background: ;}
.cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-field {color: #ddd;background-color: #fff;border-style: solid;border-color: #81d742;border-width: 0 1px 0 1px;border-radius: 0 0 0 0;}
.cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-field:hover {color: #444;background-color: #fff;border-style: solid;border-color: #cdcdcd;border-width: 0 0 0 0;border-radius: 0 0 0 0;}
.cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-field, .cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-submit {height: 45px;}
.cwp-search-dropdown .search-icon, .cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-submit {font-size: 18px;color: #333;background: transparent;border-style: none;border-color: #81d742;border-width: 1px 1px 1px 1px;border-radius: 10px 10px 10px 10px;}
.cwp-search-dropdown .search-icon:hover, .cwp-search-dropdown .cwp-search-form-wrapper .search-form .search-submit:hover {color: #275cf6;border-style: none;border-width: 0 0 0 0;border-radius: 0 0 0 0;}
.cwp-search-box .cwp-search-form-wrapper .search-form .search-field {color: #fff;background: transparent;border-style: solid;border-color: #7c6ea3;border-width: 0 1px 0 1px;border-radius: 0 0 0 0;}
.cwp-search-box .cwp-search-form-wrapper .search-form .search-field:hover {color: #fff;border-style: solid;border-color: #7c6ea3;border-width: 0 1px 0 1px;border-radius: 0 1px 0 1px;}
.cwp-search-box .cwp-search-form-wrapper .search-form .search-field, .cwp-search-box .cwp-search-form-wrapper .search-form .search-submit {height: 40px;}
.cwp-search-box .search-submit {font-size: 18px;color: #8871c2;background: transparent;border-style: none;}
.cwp-search-box .search-submit:hover {color: #fff;border-style: none;}
.cwp-button-one .btn {color: #fff;background: #3f51b5;border-style: none;border-color: #ddd;border-width: 1px 1px 1px 1px;border-radius: 50px 50px 50px 50px;padding: 6px 12px 6px 12px;}
.cwp-button-one .btn:hover, .cwp-button-one .btn:focus {color: #fff;background-color: #275cf6;border-style: solid;border-color: #275cf6;border-width: 1px 1px 1px 1px;border-radius: 0 0 0 0;}
.cwp-secondary-menu li a {color: #333;border-style: none;}
.cwp-secondary-menu li a:hover, .cwp-secondary-menu li a:focus {color: #275cf6;border-style: none;}
.cwp-secondary-menu li.active a, .cwp-secondary-menu li:active a, .cwp-secondary-menu li.current-menu-item a {color: #275cf6;border-style: none;}
.navigation .cwp-secondary-menu li li a {color: #fff;}
.cwp-secondary-menu li li a:hover, .cwp-secondary-menu li li a:focus {color: #275cf6;}
.cwp-secondary-menu li li.active a, .cwp-secondary-menu li li:active a, .cwp-secondary-menu li li.current-menu-item a {color: #275cf6;}
.cwp-secondary-menu .sub-menu {background-color: #000;}
.cwp-primary-menu li a {color: #444;border-style: none;border-width: 0 0 0 0;border-radius: 0 0 0 0;font-family: Open Sans;font-weight: 700;font-style: normal;text-decoration: none;text-transform: uppercase;font-size: 14px;line-height: 24px;padding: 10px 10px 10px 10px;}
.cwp-primary-menu li a:hover, .cwp-primary-menu li a:focus {color: #ee3a6a;border-style: none;border-width: 0 0 0 0;border-radius: 0 0 0 0;}
.cwp-primary-menu li.active >a, .cwp-primary-menu li.current-menu-item >a {color: #ee3a6a;border-style: none;border-width: 0 0 0 0;border-radius: 0 0 0 0;}
.navigation .cwp-primary-menu li li a {color: #333;}
.cwp-primary-menu li li a:hover, .cwp-primary-menu li li a:focus {color: #275cf6;}
.cwp-primary-menu li li.active >a, .cwp-primary-menu li li.current-menu-item >a {color: #275cf6;}
.cwp-primary-menu .sub-menu {background-color: #fff;}
.cwp-header-menu-sidebar {background-color: #444;color: #fff;}
.cwp-header-menu-sidebar h1, .cwp-header-menu-sidebar h1 a, .cwp-header-menu-sidebar h2, .cwp-header-menu-sidebar h2 a, .cwp-header-menu-sidebar h3, .cwp-header-menu-sidebar h3 a, .cwp-header-menu-sidebar h4, .cwp-header-menu-sidebar h4 a, .cwp-header-menu-sidebar h5, .cwp-header-menu-sidebar h5 a, .cwp-header-menu-sidebar h6, .cwp-header-menu-sidebar h6 a {color: #fff;}
.cwp-header-menu-sidebar a, .cwp-header-menu-sidebar li a {color: #fff;}
.cwp-header-menu-sidebar a:hover, .cwp-header-menu-sidebar li a:hover, .cwp-header-menu-sidebar li.active >a, .cwp-header-menu-sidebar li.current-menu-item >a {color: #275cf6;}
.cwp-menu-icon-btn i {font-size: 18px;}
.cwp-menu-icon-btn .cwp-toggle-btn-text {color: #333;background: transparent;border-width: 1px 1px 1px 1px;padding: 10px 10px 10px 10px;}
.cwp-menu-icon-btn:hover .cwp-toggle-btn-text {color: #275cf6;}
.cwp-header-menu-sidebar .cwp-primary-menu .sub-menu {background-color: rgba(0,0,0,.2);}
.cwp-header-menu-sidebar .cwp-primary-menu li li a {color: #fff;}
.cwp-header-menu-sidebar .cwp-primary-menu li li a:hover, .cwp-header-menu-sidebar .cwp-primary-menu li li a:focus {color: #275cf6;}
.cwp-header-menu-sidebar .cwp-primary-menu li li.active >a, .cwp-header-menu-sidebar .cwp-primary-menu li li.current-menu-item >a {color: #275cf6;}
.cwp-header-menu-sidebar .cwp-close-btn i {font-size: 18px;}
.cwp-header-menu-sidebar .cwp-close-btn-box {color: #333;background: transparent;border-width: 1px 1px 1px 1px;padding: 10px 10px 10px 10px;}
.cwp-header-menu-sidebar .cwp-close-btn-box:hover {color: #275cf6;}
.cwp-contact-info-icon i {font-size: 14px;color: #fff;}
.cwp-contact-info-title {color: #fff;font-family: Lora;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 14px;line-height: 24px;letter-spacing: 1px;}
.cwp-contact-info-text, .cwp-contact-info-text a {color: #fff;font-family: Open Sans;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 14px;line-height: 12px;}
.cwp-custom-html, .cwp-custom-html * {color: #fff;}
.cwp-dynamic-footer {background-color: #2a2a2a;}
.cwp-top-footer {height: auto;padding: 30px 0 30px 0;border-style: solid;border-width: 0 0 1px 0;border-color: #2f2f2f;border-radius: 0 0 0 0;}
.cwp-top-footer .widget-title {font-family: Open Sans;font-weight: 600;font-style: normal;text-decoration: none;text-transform: none;font-size: 14px;line-height: 24px;color: #fff;}
.cwp-top-footer .widget {color: #838383;}
.cwp-top-footer .widget a {color: #838383;}
.cwp-top-footer .widget a:hover {color: #ee3a6a;}
.cwp-main-footer {height: auto;padding: 30px 0 30px 0;}
.cwp-main-footer .widget-title {font-family: Open Sans;font-weight: 600;font-style: normal;text-decoration: none;text-transform: none;font-size: 16px;line-height: 24px;color: #fff;}
.cwp-main-footer .widget, .cwp-main-footer .widget a {font-family: Open Sans;font-weight: 400;font-style: normal;text-decoration: none;text-transform: none;font-size: 14px;line-height: 24px;border-style: default;border-width: 0 0 1px 0;}
.cwp-main-footer .widget {color: #838383;}
.cwp-main-footer .widget a {color: #838383;}
.cwp-main-footer .widget a:hover {color: #ee3a6a;}
.cwp-bottom-footer {height: auto;padding: 20px 0 20px 0;background-color: #2f2f2f;}
.cwp-bottom-footer .widget-title {color: #fff;}
.cwp-bottom-footer .widget {color: #838383;}
.cwp-bottom-footer .widget a {color: #838383;}
.cwp-bottom-footer .widget a:hover {color: #ee3a6a;}
.cwp-footer-copyright {color: #fff;}
.cwp-footer-social-links ul li {margin: 0 5px 0 5px;}
.cwp-footer-social-links ul li a {font-size: 14px;border-radius: 50px;width: 30px;height: 30px;line-height: 30px;}
.cwp-footer-social-links ul li.fab-fa-facebook-f a {color: #1e73be;background: #fff;}
.cwp-footer-social-links ul li.fab-fa-facebook-f a:hover, .cwp-footer-social-links ul li.fab-fa-facebook-f a:focus {color: #fff;background: #1e73be;}
.cwp-footer-social-links ul li.fab-fa-twitter a {color: #75ccff;background: #fff;}
.cwp-footer-social-links ul li.fab-fa-twitter a:hover, .cwp-footer-social-links ul li.fab-fa-twitter a:focus {color: #fff;background: #75ccff;}
.cwp-footer-social-links ul li.fab-fa-linkedin-in a {color: #0077b5;background: #fff;}
.cwp-footer-social-links ul li.fab-fa-linkedin-in a:hover, .cwp-footer-social-links ul li.fab-fa-linkedin-in a:focus {color: #fff;background: #0077b5;}
.cwp-footer-navigation li a {color: #fff;}
.cwp-footer-navigation li a:hover, .cwp-footer-navigation li a:focus {color: #81d742;}
.cwp-footer-navigation li.active a, .cwp-footer-navigation li.current-menu-item a {color: #81d742;}
.cwp-footer-menu-title {color: #fff;}
.cwp-footer-custom-html, .cwp-footer-custom-html * {color: #fff;}
.cwp-footer-sidebar-1 .widget {margin: 20px 0 0 0;}
.cwp-footer-sidebar-6 .widget {margin: 0 0 0 0;}
.cwp-footer-sidebar-7 .widget {margin: 0 0 0 0;}
.cwp-footer-sidebar-8 .widget {margin: 0 0 0 0;}
.cwp-blog-pagination .pagination .nav-links .page-numbers {background: #f5f5f5;color: #333;}
.cwp-blog-pagination .pagination .nav-links .page-numbers.current, .cwp-blog-pagination .pagination .nav-links .page-numbers:hover {border-color: #275cf6;}
.cwp-blog-pagination .pagination .nav-links .page-numbers.current, .cwp-blog-pagination .pagination .nav-links .page-numbers:hover {background: #275cf6;color: #fff;}
.cwp-blog-pagination .posts-navigation .nav-links .nav-previous a, .cwp-blog-pagination .posts-navigation .nav-links .nav-next a {color: #275cf6;}
.cwp-blog-pagination .posts-navigation .nav-links .nav-previous:hover a, .cwp-blog-pagination .posts-navigation .nav-links .nav-next:hover a {color: #1949d4;}
.cwp-blog.cwp-content-wrapper {padding: 20px 0 40px 0;}
.single-post .post-navigation .nav-links .post-title {color: #ee3a6a;}
.single-post .post-navigation .nav-links .post-title:hover {color: #ed104b;}
.single-post .post-navigation .nav-links .title {color: #999;}
.single-post .post-navigation .nav-links .title:hover {color: #444;}
.cwp-single-post.cwp-content-wrapper {padding: 20px 0 40px 0;}
.cosmoswp-btn, #cwp-main-wrap .comments-area .submit, #cwp-main-wrap form:not(.search-form) input[type="submit"] {color: #fff;background: #ee3a6a;border-style: solid;border-color: #ee3a6a;border-width: 1px 1px 1px 1px;border-radius: 3px 3px 3px 3px;}
.cosmoswp-btn:hover, .cosmoswp-btn:focus, #cwp-main-wrap form:not(.search-form) input[type="submit"]:hover, #cwp-main-wrap form:not(.search-form) input[type="submit"]:focus {color: #fff;background-color: #d22d59;border-style: solid;border-color: #d22d59;border-width: 1px 1px 1px 1px;border-radius: 0 0 0 0;}
.cwp-sidebar .widget .widget-title {padding: 0 0 0 15px;font-family: Montserrat;font-weight: 600;font-style: normal;text-decoration: none;text-transform: none;font-size: 20px;line-height: 24px;border-style: solid;border-width: 0 0 0 5px;border-color: #ee3a6a;}
.cwp-sidebar .widget a, .cwp-sidebar .widget li a {color: #40454a;}
.cwp-banner .breadcrumbs, .woocommerce .cwp-banner .woocommerce-breadcrumb {color: #fff;}
.cwp-banner .breadcrumbs a, .cwp-breadcrumbs a, .woocommerce .cwp-banner .woocommerce-breadcrumb a {color: #ee3a6a;}
.cwp-banner .breadcrumbs a:hover, .woocommerce .cwp-banner .woocommerce-breadcrumb a:hover, .cwp-breadcrumbs a:hover {color: #ed104b;}
.cwp-scroll-to-top {color: #fff;background: #ee3a6a;border-style: none;}
.cwp-scroll-to-top:hover {color: #fff;background: #ed104b;border-style: none;}
.cwp-body-main-wrap {background-color: #fff;}
.cwp-banner {background-size: cover;-webkit-background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: scroll;height: 300px;}
.cwp-banner .banner-title, .cwp-banner .page-title {color: #fff;}
.cwp-banner.cwp-enable-overlay:after {background-color: rgba(0,0,0,.55);}
.cwp-page.cwp-content-wrapper {padding: 20px 0 40px 0;}
@media (min-width:720px) {body {font-size: 16px;line-height: 28px;}
	h1, h1 a {font-size: 32px;line-height: 40px;}
	h2, h2 a {font-size: 30px;line-height: 35px;}
	h3, h3 a {font-size: 28px;line-height: 32px;}
	h4, h4 a {line-height: 24px;}
	h5, h5 a {font-size: 24px;line-height: 32px;}
	h6, h6 a {font-size: 18px;line-height: 24px;}
	.cwp-top-header {height: auto;}
	.cwp-main-header {height: auto;padding: 10px 0 10px 0;}
	.cwp-bottom-header {height: auto;}
	.cwp-logo .custom-logo-link {max-width: 150px;}
	.cwp-logo .site-title, .cwp-logo .site-title a {font-size: 20px;line-height: 2px;}
	.cwp-logo .site-description {font-size: 13px;}
	.cwp-social-links li a {font-size: 14px;width: 30px;height: 30px;line-height: 30px;}
	.cwp-button-one .btn {padding: 6px 12px 6px 12px;}
	.cwp-primary-menu li a {font-size: 14px;line-height: 24px;}
	.cwp-menu-icon-btn i {font-size: 18px;}
	.cwp-menu-icon-btn .cwp-toggle-btn-text {padding: 10px 10px 10px 10px;}
	.cwp-header-menu-sidebar .cwp-close-btn i {font-size: 18px;}
	.cwp-header-menu-sidebar .cwp-close-btn-box {padding: 10px 10px 10px 10px;}
	.cwp-contact-info-icon i {font-size: 14px;}
	.cwp-contact-info-title {font-size: 14px;line-height: 24px;letter-spacing: 1px;}
	.cwp-contact-info-text, .cwp-contact-info-text a {font-size: 14px;line-height: 12px;}
	.cwp-top-footer .widget-title {font-size: 14px;line-height: 24px;}
	.cwp-main-footer .widget-title {line-height: 24px;}
	.cwp-main-footer .widget, .cwp-main-footer .widget a {font-size: 14px;line-height: 24px;}
	.cwp-bottom-footer .widget, .cwp-bottom-footer .widget a {font-size: 14px;line-height: 24px;}
	.cwp-blog.cwp-content-wrapper {padding: 40px 0 60px 0;}
	.cwp-single-post.cwp-content-wrapper {padding: 40px 0 60px 0;}
	.cwp-sidebar .widget .widget-title {font-size: 20px;line-height: 24px;}
	.cwp-banner {background-size: cover;-webkit-background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: scroll;height: 350px;}
	.cwp-page.cwp-content-wrapper {padding: 40px 0 60px 0;}}
@media (min-width:992px) {body {font-size: 14px;line-height: 28px;}
	h1, h1 a {font-size: 44px;line-height: 40px;}
	h2, h2 a {font-size: 34px;line-height: 35px;}
	h3, h3 a {font-size: 32px;line-height: 32px;}
	h4, h4 a {line-height: 24px;}
	h5, h5 a {font-size: 24px;line-height: 32px;}
	h6, h6 a {font-size: 18px;line-height: 24px;}
	.cwp-vertical-header .cwp-dynamic-header {width: 280px;background-color: #fff;}
	.cwp-vertical-header.cwp-show-menu-sidebar .cwp-left-push .cwp-vertical-header-left {left: 280px;}
	.cwp-vertical-header.cwp-show-menu-sidebar .cwp-left-push .cwp-vertical-header-right {right: -280px;}
	.cwp-vertical-header.cwp-show-menu-sidebar .cwp-right-push .cwp-vertical-header-right {right: 280px;}
	.cwp-vertical-header.cwp-show-menu-sidebar .cwp-right-push .cwp-vertical-header-left {left: -280px;}
	.cwp-vertical-header .cwp-vertical-body-content-left .cwp-body-main-wrap, .cwp-vertical-header .cwp-vertical-body-content-left .cwp-dynamic-footer {margin-left: 280px;max-width: calc(100% - 280px);}
	.cwp-vertical-header .cwp-vertical-body-content-right .cwp-body-main-wrap, .cwp-vertical-header .cwp-vertical-body-content-right .cwp-dynamic-footer {margin-right: 280px;max-width: calc(100% - 280px);}
	.cwp-top-header {height: auto;}
	.cwp-main-header {height: auto;padding: 30px 0 30px 0;}
	.cwp-bottom-header {height: auto;padding: 10px 0 10px 0;}
	.cwp-logo .custom-logo-link {max-width: 200px;}
	.cwp-logo .site-title, .cwp-logo .site-title a {font-size: 25px;line-height: 20px;}
	.cwp-logo .site-description {font-size: 16px;}
	.cwp-social-links li a {font-size: 14px;width: 30px;height: 30px;line-height: 30px;}
	.cwp-button-one .btn {padding: 8px 25px 8px 25px;}
	.cwp-secondary-menu li a {padding: 10px 10px 10px 10px;}
	.cwp-primary-menu li a {font-size: 14px;line-height: 24px;margin: 0 20px 0 0;padding: 10px 10px 10px 10px;}
	.cwp-menu-icon-btn i {font-size: 18px;}
	.cwp-menu-icon-btn .cwp-toggle-btn-text {padding: 10px 10px 10px 10px;}
	.cwp-header-menu-sidebar .cwp-close-btn i {font-size: 18px;}
	.cwp-header-menu-sidebar .cwp-close-btn-box {padding: 10px 10px 10px 10px;}
	.cwp-contact-info-item {margin: 0 25px 0 0;padding: 0 25px 0 0;}
	.cwp-contact-info-icon i {font-size: 16px;}
	.cwp-contact-info-title {font-size: 16px;line-height: 24px;letter-spacing: 1px;}
	.cwp-contact-info-text, .cwp-contact-info-text a {font-size: 14px;line-height: 12px;}
	.cwp-top-footer {padding: 40px 0 40px 0;}
	.cwp-top-footer .widget-title {font-size: 24px;line-height: 24px;}
	.cwp-main-footer {padding: 60px 0 60px 0;}
	.cwp-main-footer .widget-title {line-height: 24px;}
	.cwp-main-footer .widget, .cwp-main-footer .widget a {font-size: 14px;line-height: 24px;}
	.cwp-bottom-footer .widget, .cwp-bottom-footer .widget a {font-size: 14px;line-height: 24px;}
	.cwp-footer-navigation li a {padding: 0 5px 0 5px;}
	.cwp-footer-sidebar-1 .widget {margin: 0 0 0 0;}
	.cwp-blog.cwp-content-wrapper {padding: 80px 0 80px 0;}
	.cwp-single-post.cwp-content-wrapper {padding: 80px 0 80px 0;}
	.cosmoswp-btn, #cwp-main-wrap .comments-area .submit, #cwp-main-wrap form:not(.search-form) input[type="submit"] {padding: 8px 16px 8px 16px;}
	.cwp-sidebar .widget .widget-title {font-size: 20px;line-height: 24px;}
	.cwp-banner {background-size: cover;-webkit-background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: scroll;height: 500px;}
	.cwp-page.cwp-content-wrapper {padding: 80px 0 80px 0;}}