.elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-container {max-width: 896px;}
.elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: flex-end;align-items: flex-end;}
.elementor-270 .elementor-element.elementor-element-6dc4b3bc:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #20c5ba;background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/06/Capture-1.png");background-position: top center;background-repeat: no-repeat;background-size: contain;}
.elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-background-overlay {background-color: #20c6bc;opacity: 0;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-6dc4b3bc {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 175px 0px 218px 0px;}
.elementor-270 .elementor-element.elementor-element-e592082:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-e592082 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-e592082 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-270 .elementor-element.elementor-element-e592082 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-4fbf77f {text-align: center;}
.elementor-270 .elementor-element.elementor-element-4fbf77f .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 72px;font-weight: 800;letter-spacing: -4.1px;}
.elementor-270 .elementor-element.elementor-element-fca5194 .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-fca5194 {color: #fff;font-family: "IRANYekan",arial;font-size: 24px;}
.elementor-270 .elementor-element.elementor-element-0f83fd9:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-0f83fd9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0b3a42;}
.elementor-270 .elementor-element.elementor-element-0f83fd9 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: -8px;margin-bottom: -8px;}
.elementor-270 .elementor-element.elementor-element-0f83fd9 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-da8b959 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-da8b959 .elementor-heading-title {color: #fff;font-family: "Lalezar",arial;font-size: 62px;font-weight: 300;letter-spacing: -.1px;}
.elementor-270 .elementor-element.elementor-element-48ac69a3:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-48ac69a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0b3a42;}
.elementor-270 .elementor-element.elementor-element-48ac69a3 > .elementor-background-overlay {background-color: transparent;background-image: linear-gradient(180deg,rgba(0,0,0,0) 0%,#0b3a42 20%);opacity: .5;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-48ac69a3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 0px 70px 0px;}
.elementor-270 .elementor-element.elementor-element-270a3a6c {margin-top: -30px;margin-bottom: -30px;}
.elementor-270 .elementor-element.elementor-element-7f171870 {text-align: right;}
.elementor-270 .elementor-element.elementor-element-7f171870 .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 60px;font-weight: 300;line-height: 70px;}
.elementor-270 .elementor-element.elementor-element-64b14659 .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-64b14659 {color: #fff;font-family: "IRANYekan",arial;font-size: 14px;font-weight: 400;line-height: 25px;}
.elementor-bc-flex-widget .elementor-270 .elementor-element.elementor-element-271b5c5c.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-270 .elementor-element.elementor-element-271b5c5c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-270 .elementor-element.elementor-element-845f76e.elementor-view-stacked .elementor-icon {background-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-845f76e.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-845f76e.elementor-view-default .elementor-icon {fill: #e96656;color: #e96656;border-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-845f76e.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-270 .elementor-element.elementor-element-845f76e.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-270 .elementor-element.elementor-element-845f76e.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-270 .elementor-element.elementor-element-845f76e .elementor-icon {font-size: 30px;padding: 10px;}
.elementor-270 .elementor-element.elementor-element-845f76e .elementor-icon i {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-845f76e .elementor-icon-box-content .elementor-icon-box-title {color: #fff;font-size: 16px;font-weight: bold;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-439b3f49.elementor-view-stacked .elementor-icon {background-color: #34d293;}
.elementor-270 .elementor-element.elementor-element-439b3f49.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-439b3f49.elementor-view-default .elementor-icon {fill: #34d293;color: #34d293;border-color: #34d293;}
.elementor-270 .elementor-element.elementor-element-439b3f49.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-270 .elementor-element.elementor-element-439b3f49.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-270 .elementor-element.elementor-element-439b3f49.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-270 .elementor-element.elementor-element-439b3f49 .elementor-icon {font-size: 30px;padding: 10px;}
.elementor-270 .elementor-element.elementor-element-439b3f49 .elementor-icon i {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-439b3f49 .elementor-icon-box-content .elementor-icon-box-title {color: #fff;font-size: 16px;font-weight: bold;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-25c034a9.elementor-view-stacked .elementor-icon {background-color: #3ab0e2;}
.elementor-270 .elementor-element.elementor-element-25c034a9.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-25c034a9.elementor-view-default .elementor-icon {fill: #3ab0e2;color: #3ab0e2;border-color: #3ab0e2;}
.elementor-270 .elementor-element.elementor-element-25c034a9.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-270 .elementor-element.elementor-element-25c034a9.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-270 .elementor-element.elementor-element-25c034a9.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-270 .elementor-element.elementor-element-25c034a9 .elementor-icon {font-size: 30px;padding: 10px;}
.elementor-270 .elementor-element.elementor-element-25c034a9 .elementor-icon i {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-25c034a9 .elementor-icon-box-content .elementor-icon-box-title {color: #fff;font-size: 16px;font-weight: bold;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-2d9e89ae > .elementor-container {max-width: 1140px;}
.elementor-270 .elementor-element.elementor-element-2d9e89ae:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-2d9e89ae > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-270 .elementor-element.elementor-element-2d9e89ae {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 100px 0px 100px 0px;}
.elementor-270 .elementor-element.elementor-element-2d9e89ae > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-6b674c4 .elementor-spacer-inner {height: 50px;}
.elementor-270 .elementor-element.elementor-element-2b197b3d {text-align: center;}
.elementor-270 .elementor-element.elementor-element-2b197b3d .elementor-heading-title {color: #404040;font-family: "Montserrat",arial;font-size: 45px;font-weight: bold;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-1967c936 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-1967c936 .elementor-heading-title {color: #0b3a42;font-family: "Lalezar",arial;font-size: 89px;font-weight: 300;text-transform: none;font-style: normal;letter-spacing: -2.4px;}
.elementor-270 .elementor-element.elementor-element-1967c936 > .elementor-widget-container {margin: -89px 0px 3px 0px;}
.elementor-270 .elementor-element.elementor-element-368a65af {padding: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-f7010ff > .elementor-element-populated {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-1f57ebc > .elementor-widget-container {margin: -7px -7px -7px -7px;}
.elementor-270 .elementor-element.elementor-element-159a549 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-159a549 .elementor-heading-title {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 17px;font-weight: bold;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-159a549 > .elementor-widget-container {margin: 9px 0px 4px 0px;}
.elementor-270 .elementor-element.elementor-element-b28078d {--divider-border-style: solid;--divider-border-color: #683ed0;--divider-border-width: 1.6px;}
.elementor-270 .elementor-element.elementor-element-b28078d .elementor-divider-separator {width: 110px;margin: 0 auto;margin-center: 0;}
.elementor-270 .elementor-element.elementor-element-b28078d .elementor-divider {text-align: center;padding-top: 2px;padding-bottom: 2px;}
.elementor-270 .elementor-element.elementor-element-b28078d > .elementor-widget-container {margin: 10px 10px 10px 10px;}
.elementor-270 .elementor-element.elementor-element-c754eea .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-c754eea {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 14px;}
.elementor-270 .elementor-element.elementor-element-c754eea > .elementor-widget-container {margin: -5px -5px -5px -5px;padding: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-8ea2245 .elementor-button {font-family: "IRANYekan",arial;background-color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-8ea2245 > .elementor-widget-container {margin: 3px 3px 3px 3px;}
.elementor-270 .elementor-element.elementor-element-48a4e76 .elementor-spacer-inner {height: 50px;}
.elementor-270 .elementor-element.elementor-element-74fd3f0 > .elementor-element-populated {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-45fd11af {text-align: center;}
.elementor-270 .elementor-element.elementor-element-45fd11af .elementor-heading-title {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 17px;font-weight: bold;text-transform: uppercase;line-height: 1.3em;}
.elementor-270 .elementor-element.elementor-element-45fd11af > .elementor-widget-container {margin: -22px 0px -8px 0px;}
.elementor-270 .elementor-element.elementor-element-59075683 {--divider-border-style: solid;--divider-border-color: #683ed0;--divider-border-width: 2px;}
.elementor-270 .elementor-element.elementor-element-59075683 .elementor-divider-separator {width: 110px;margin: 0 auto;margin-center: 0;}
.elementor-270 .elementor-element.elementor-element-59075683 .elementor-divider {text-align: center;padding-top: 2px;padding-bottom: 2px;}
.elementor-270 .elementor-element.elementor-element-55aa0ad3 .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-55aa0ad3 {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 14px;}
.elementor-270 .elementor-element.elementor-element-38b6172 .elementor-button {font-family: "IRANYekan",arial;background-color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-38b6172 > .elementor-widget-container {margin: 1px 1px 1px 1px;}
.elementor-270 .elementor-element.elementor-element-fa178eb .elementor-spacer-inner {height: 50px;}
.elementor-270 .elementor-element.elementor-element-2a3dbd28 > .elementor-element-populated {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-6051c89d {text-align: center;}
.elementor-270 .elementor-element.elementor-element-6051c89d .elementor-heading-title {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 17px;font-weight: bold;text-transform: uppercase;line-height: 1.3em;}
.elementor-270 .elementor-element.elementor-element-6051c89d > .elementor-widget-container {margin: 0px 0px -5px 0px;}
.elementor-270 .elementor-element.elementor-element-df04b1f {--divider-border-style: solid;--divider-border-color: #683ed0;--divider-border-width: 1.6px;}
.elementor-270 .elementor-element.elementor-element-df04b1f .elementor-divider-separator {width: 45%;margin: 0 auto;margin-center: 0;}
.elementor-270 .elementor-element.elementor-element-df04b1f .elementor-divider {text-align: center;padding-top: 2px;padding-bottom: 2px;}
.elementor-270 .elementor-element.elementor-element-df04b1f > .elementor-widget-container {margin: 14px 14px 14px 14px;}
.elementor-270 .elementor-element.elementor-element-107c88ab .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-107c88ab {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 14px;line-height: 1.6em;}
.elementor-270 .elementor-element.elementor-element-9b01096 .elementor-button {font-family: "IRANYekan",arial;background-color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-9b01096 > .elementor-widget-container {margin: -23px -23px -23px -23px;}
.elementor-270 .elementor-element.elementor-element-ef1b467 .elementor-spacer-inner {height: 50px;}
.elementor-270 .elementor-element.elementor-element-2afe52f > .elementor-element-populated {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-6383e3e {text-align: center;}
.elementor-270 .elementor-element.elementor-element-6383e3e .elementor-heading-title {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 17px;font-weight: bold;text-transform: uppercase;line-height: 1.3em;}
.elementor-270 .elementor-element.elementor-element-6383e3e > .elementor-widget-container {margin: -5px 0px -5px 0px;}
.elementor-270 .elementor-element.elementor-element-7fb03d4 {--divider-border-style: solid;--divider-border-color: #683ed0;--divider-border-width: 2px;}
.elementor-270 .elementor-element.elementor-element-7fb03d4 .elementor-divider-separator {width: 110px;margin: 0 auto;margin-center: 0;}
.elementor-270 .elementor-element.elementor-element-7fb03d4 .elementor-divider {text-align: center;padding-top: 2px;padding-bottom: 2px;}
.elementor-270 .elementor-element.elementor-element-92bdf71 .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-92bdf71 {color: #0b3a42;font-family: "IRANYekan",arial;font-size: 14px;}
.elementor-270 .elementor-element.elementor-element-34f080b .elementor-button {font-family: "IRANYekan",arial;background-color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-34f080b > .elementor-widget-container {margin: 21px 21px 21px 21px;}
.elementor-270 .elementor-element.elementor-element-6b49afa:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-6b49afa > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0b3a42;}
.elementor-270 .elementor-element.elementor-element-6b49afa {margin-top: 0px;margin-bottom: 0px;padding: 100px 0px 120px 0px;}
.elementor-270 .elementor-element.elementor-element-1cfd699 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-1cfd699 .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 45px;font-weight: 700;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-1cfd699 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-2c1f9fc {text-align: center;}
.elementor-270 .elementor-element.elementor-element-2c1f9fc .elementor-heading-title {color: #0b3a42;font-family: "Lato",arial;font-size: 16px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-2c1f9fc > .elementor-widget-container {margin: 0px 0px 50px 0px;}
.elementor-270 .elementor-element.elementor-element-2d6e7c3 > .elementor-container {text-align: center;}
.elementor-270 .elementor-element.elementor-element-eea489d > .elementor-element-populated {text-align: center;}
.elementor-270 .elementor-element.elementor-element-484eb31 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-484eb31 .elementor-image img {width: 175px;border-radius: 50% 50% 50% 50%;}
.elementor-270 .elementor-element.elementor-element-484eb31 > .elementor-widget-container {margin: 0px 40px 30px 40px;}
.elementor-270 .elementor-element.elementor-element-6a95d99 .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 30px;font-weight: 700;text-transform: uppercase;line-height: 26px;}
.elementor-270 .elementor-element.elementor-element-6a95d99 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-49ee7b1 {color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-38eb98f {color: #fff;font-family: "Lato",arial;font-size: 13px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-c8d258c > .elementor-element-populated {text-align: center;}
.elementor-270 .elementor-element.elementor-element-213331a {text-align: center;}
.elementor-270 .elementor-element.elementor-element-213331a .elementor-image img {width: 175px;border-radius: 100% 100% 100% 100%;}
.elementor-270 .elementor-element.elementor-element-213331a > .elementor-widget-container {margin: 0px 40px 30px 40px;}
.elementor-270 .elementor-element.elementor-element-bcd62aa .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 30px;font-weight: 700;text-transform: uppercase;line-height: 26px;}
.elementor-270 .elementor-element.elementor-element-bcd62aa > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-f669f8d {color: #20c5ba;font-family: "IRANYekan",arial;font-size: 24px;font-weight: 400;line-height: 90px;}
.elementor-270 .elementor-element.elementor-element-f669f8d > .elementor-widget-container {margin: -20px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-b96996d {color: #fff;font-family: "Lato",arial;font-size: 13px;font-weight: 400;line-height: 19px;}
.elementor-270 .elementor-element.elementor-element-d95d4b2 > .elementor-element-populated {text-align: center;}
.elementor-270 .elementor-element.elementor-element-96eaefe {text-align: center;}
.elementor-270 .elementor-element.elementor-element-96eaefe .elementor-image img {width: 175px;border-radius: 100% 100% 100% 100%;}
.elementor-270 .elementor-element.elementor-element-96eaefe > .elementor-widget-container {margin: 0px 40px 30px 40px;}
.elementor-270 .elementor-element.elementor-element-9a32d1a .elementor-heading-title {color: #fff;font-family: "IRANYekan",arial;font-size: 30px;font-weight: 700;text-transform: uppercase;line-height: 26px;}
.elementor-270 .elementor-element.elementor-element-9a32d1a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-e4e624f {color: #20c5ba;}
.elementor-270 .elementor-element.elementor-element-c5bb611 {color: #fff;font-family: "Lato",arial;font-size: 13px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-cd9d4ef .elementor-spacer-inner {height: 147px;}
.elementor-270 .elementor-element.elementor-element-764f72d:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-764f72d > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #312b39;}
.elementor-270 .elementor-element.elementor-element-764f72d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-270 .elementor-element.elementor-element-764f72d > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-e30800b .elementor-spacer-inner {height: 50px;}
.elementor-270 .elementor-element.elementor-element-f14bf5b {text-align: center;}
.elementor-270 .elementor-element.elementor-element-f14bf5b .elementor-heading-title {color: #20c5ba;font-family: "Lalezar",arial;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-d777cb8 .elementor-text-editor {text-align: right;}
.elementor-270 .elementor-element.elementor-element-d777cb8 {color: #fff;font-family: "IRANYekan",arial;}
.elementor-270 .elementor-element.elementor-element-ae72ccd > .elementor-container {max-width: 1600px;}
.elementor-270 .elementor-element.elementor-element-ae72ccd:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-ae72ccd > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #312b39;}
.elementor-270 .elementor-element.elementor-element-ae72ccd {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-270 .elementor-element.elementor-element-ae72ccd > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-c5ba0b9 .elementor-image img {width: 100%;}
.elementor-270 .elementor-element.elementor-element-c5ba0b9 > .elementor-widget-container {margin: -13px -13px -13px -13px;}
.elementor-270 .elementor-element.elementor-element-1002515b:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-1002515b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-1002515b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 100px 0px 100px 0px;}
.elementor-270 .elementor-element.elementor-element-1002515b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-4508cedb {text-align: center;}
.elementor-270 .elementor-element.elementor-element-4508cedb .elementor-heading-title {color: #fff;font-family: "Montserrat",arial;font-size: 45px;font-weight: 700;text-transform: uppercase;}
.elementor-270 .elementor-element.elementor-element-4508cedb > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-3624c81c {text-align: center;}
.elementor-270 .elementor-element.elementor-element-3624c81c .elementor-heading-title {color: #fff;font-family: "Lato",arial;font-size: 16px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-3624c81c > .elementor-widget-container {margin: 0px 0px 75px 0px;}
.elementor-270 .elementor-element.elementor-element-1fb62c49:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-element-populated, .elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-element-populated > .elementor-background-overlay, .elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 13px 0px 13px;padding: 25px 25px 25px 25px;}
.elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-13253fb0 {color: #000;font-family: "Lato",arial;font-size: 15px;font-weight: 400;line-height: 1.5em;}
.elementor-270 .elementor-element.elementor-element-13253fb0 > .elementor-widget-container {padding: 0px 0px 30px 0px;}
.elementor-270 .elementor-element.elementor-element-1cc678ac .elementor-icon-wrapper {text-align: left;}
.elementor-270 .elementor-element.elementor-element-1cc678ac.elementor-view-stacked .elementor-icon {background-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-1cc678ac.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-1cc678ac.elementor-view-default .elementor-icon {color: #e96656;border-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-1cc678ac.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-1cc678ac.elementor-view-default .elementor-icon svg {fill: #e96656;}
.elementor-270 .elementor-element.elementor-element-1cc678ac .elementor-icon i, .elementor-270 .elementor-element.elementor-element-1cc678ac .elementor-icon svg {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-1cc678ac > .elementor-widget-container {margin: 0px 0px -80px 0px;}
.elementor-270 .elementor-element.elementor-element-13efb12d .elementor-text-editor {text-align: center;}
.elementor-270 .elementor-element.elementor-element-13efb12d {color: #404040;font-family: "Homemade Apple",arial;font-size: 16px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-55db44f6 {text-align: right;}
.elementor-270 .elementor-element.elementor-element-55db44f6 .elementor-image img {width: 67px;border-style: solid;border-width: 3px 3px 3px 3px;border-color: #f6f6f6;border-radius: 100% 100% 100% 100%;}
.elementor-270 .elementor-element.elementor-element-55db44f6 > .elementor-widget-container {margin: -60px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-4e916629:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-element-populated, .elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-element-populated > .elementor-background-overlay, .elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 13px 0px 13px;padding: 25px 25px 25px 25px;}
.elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-780c1134 {color: #000;font-family: "Lato",arial;font-size: 15px;font-weight: 400;line-height: 1.5em;}
.elementor-270 .elementor-element.elementor-element-780c1134 > .elementor-widget-container {padding: 0px 0px 30px 0px;}
.elementor-270 .elementor-element.elementor-element-4cd5588c .elementor-icon-wrapper {text-align: left;}
.elementor-270 .elementor-element.elementor-element-4cd5588c.elementor-view-stacked .elementor-icon {background-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-4cd5588c.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-4cd5588c.elementor-view-default .elementor-icon {color: #e96656;border-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-4cd5588c.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-4cd5588c.elementor-view-default .elementor-icon svg {fill: #e96656;}
.elementor-270 .elementor-element.elementor-element-4cd5588c .elementor-icon i, .elementor-270 .elementor-element.elementor-element-4cd5588c .elementor-icon svg {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-4cd5588c > .elementor-widget-container {margin: 0px 0px -80px 0px;}
.elementor-270 .elementor-element.elementor-element-39787b5b .elementor-text-editor {text-align: center;}
.elementor-270 .elementor-element.elementor-element-39787b5b {color: #404040;font-family: "Homemade Apple",arial;font-size: 16px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-3ce69e52 {text-align: right;}
.elementor-270 .elementor-element.elementor-element-3ce69e52 .elementor-image img {width: 67px;border-style: solid;border-width: 3px 3px 3px 3px;border-color: #f6f6f6;border-radius: 50% 50% 50% 50%;}
.elementor-270 .elementor-element.elementor-element-3ce69e52 > .elementor-widget-container {margin: -60px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-1a0748bc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated, .elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated > .elementor-background-overlay, .elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 13px 0px 13px;padding: 25px 25px 25px 25px;}
.elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-46647f1a {color: #000;font-family: "Lato",arial;font-size: 15px;font-weight: 400;line-height: 1.5em;}
.elementor-270 .elementor-element.elementor-element-46647f1a > .elementor-widget-container {padding: 0px 0px 30px 0px;}
.elementor-270 .elementor-element.elementor-element-288cd215 .elementor-icon-wrapper {text-align: left;}
.elementor-270 .elementor-element.elementor-element-288cd215.elementor-view-stacked .elementor-icon {background-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-288cd215.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-288cd215.elementor-view-default .elementor-icon {color: #e96656;border-color: #e96656;}
.elementor-270 .elementor-element.elementor-element-288cd215.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-288cd215.elementor-view-default .elementor-icon svg {fill: #e96656;}
.elementor-270 .elementor-element.elementor-element-288cd215 .elementor-icon i, .elementor-270 .elementor-element.elementor-element-288cd215 .elementor-icon svg {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-288cd215 > .elementor-widget-container {margin: 0px 0px -80px 0px;}
.elementor-270 .elementor-element.elementor-element-58b73d71 .elementor-text-editor {text-align: center;}
.elementor-270 .elementor-element.elementor-element-58b73d71 {color: #404040;font-family: "Homemade Apple",arial;font-size: 16px;font-weight: 400;}
.elementor-270 .elementor-element.elementor-element-668a3612 {text-align: right;}
.elementor-270 .elementor-element.elementor-element-668a3612 .elementor-image img {width: 67px;border-style: solid;border-width: 3px 3px 3px 3px;border-color: #f6f6f6;border-radius: 50% 50% 50% 50%;}
.elementor-270 .elementor-element.elementor-element-668a3612 > .elementor-widget-container {margin: -60px 0px 0px 0px;}
.elementor-270 .elementor-element.elementor-element-55e5bc00:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-55e5bc00 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #272727;}
.elementor-270 .elementor-element.elementor-element-55e5bc00 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 270px 0px 270px;}
.elementor-270 .elementor-element.elementor-element-55e5bc00 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-24aef2aa > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-270 .elementor-element.elementor-element-24aef2aa > .elementor-element-populated {padding: 67px 0px 30px 0px;}
.elementor-270 .elementor-element.elementor-element-2bb745ad .elementor-icon-wrapper {text-align: center;}
.elementor-270 .elementor-element.elementor-element-2bb745ad.elementor-view-stacked .elementor-icon {background-color: #34cd8c;}
.elementor-270 .elementor-element.elementor-element-2bb745ad.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-2bb745ad.elementor-view-default .elementor-icon {color: #34cd8c;border-color: #34cd8c;}
.elementor-270 .elementor-element.elementor-element-2bb745ad.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-2bb745ad.elementor-view-default .elementor-icon svg {fill: #34cd8c;}
.elementor-270 .elementor-element.elementor-element-2bb745ad .elementor-icon {font-size: 26px;}
.elementor-270 .elementor-element.elementor-element-2bb745ad .elementor-icon i, .elementor-270 .elementor-element.elementor-element-2bb745ad .elementor-icon svg {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-d378b43 .elementor-text-editor {text-align: center;}
.elementor-270 .elementor-element.elementor-element-d378b43 {color: #939393;font-family: "Lato",arial;font-size: 14px;font-weight: 400;line-height: 20px;}
.elementor-270 .elementor-element.elementor-element-1d3fd509 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-270 .elementor-element.elementor-element-1d3fd509 > .elementor-element-populated {padding: 67px 0px 30px 0px;}
.elementor-270 .elementor-element.elementor-element-1d309b82 .elementor-icon-wrapper {text-align: center;}
.elementor-270 .elementor-element.elementor-element-1d309b82.elementor-view-stacked .elementor-icon {background-color: #3ca8dc;}
.elementor-270 .elementor-element.elementor-element-1d309b82.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-1d309b82.elementor-view-default .elementor-icon {color: #3ca8dc;border-color: #3ca8dc;}
.elementor-270 .elementor-element.elementor-element-1d309b82.elementor-view-framed .elementor-icon, .elementor-270 .elementor-element.elementor-element-1d309b82.elementor-view-default .elementor-icon svg {fill: #3ca8dc;}
.elementor-270 .elementor-element.elementor-element-1d309b82 .elementor-icon {font-size: 26px;}
.elementor-270 .elementor-element.elementor-element-1d309b82 .elementor-icon i, .elementor-270 .elementor-element.elementor-element-1d309b82 .elementor-icon svg {transform: rotate(0deg);}
.elementor-270 .elementor-element.elementor-element-775c2720 .elementor-text-editor {text-align: center;column-gap: 0px;}
.elementor-270 .elementor-element.elementor-element-775c2720 {color: #939393;font-family: "IRANYekan",arial;font-size: 14px;font-weight: 400;line-height: 5px;}
.elementor-270 .elementor-element.elementor-element-775c2720 > .elementor-widget-container {margin: 6px 6px 6px 6px;padding: 0px 20px 0px 20px;}
.elementor-bc-flex-widget .elementor-270 .elementor-element.elementor-element-3e6dac7.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-270 .elementor-element.elementor-element-3e6dac7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-270 .elementor-element.elementor-element-3e6dac7:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-270 .elementor-element.elementor-element-3e6dac7 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #171717;}
.elementor-270 .elementor-element.elementor-element-3e6dac7 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-270 .elementor-element.elementor-element-3e6dac7 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 {text-align: center;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon {background-color: rgba(147,147,147,.02);font-size: 18px;padding: .2em;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon i {color: #939393;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon svg {fill: #939393;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon:not(:last-child) {margin-right: 0px;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon:hover i {color: #e96656;}
.elementor-270 .elementor-element.elementor-element-5b2681f0 .elementor-social-icon:hover svg {fill: #e96656;}
.elementor-270 .elementor-element.elementor-element-5b86ed18 {color: #939393;font-family: "Lato",arial;font-size: 14px;font-weight: 400;line-height: 20px;}
@media (max-width:1024px) and (min-width:768px) {.elementor-270 .elementor-element.elementor-element-f7010ff {width: 50%;}
	.elementor-270 .elementor-element.elementor-element-74fd3f0 {width: 50%;}
	.elementor-270 .elementor-element.elementor-element-2a3dbd28 {width: 100%;}
	.elementor-270 .elementor-element.elementor-element-2afe52f {width: 100%;}
	.elementor-270 .elementor-element.elementor-element-1fb62c49 {width: 50%;}
	.elementor-270 .elementor-element.elementor-element-4e916629 {width: 50%;}
	.elementor-270 .elementor-element.elementor-element-1a0748bc {width: 100%;}}
@media (min-width:1025px) {.elementor-270 .elementor-element.elementor-element-6dc4b3bc:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-attachment: scroll;}}
@media (max-width:1024px) {.elementor-270 .elementor-element.elementor-element-7f171870 .elementor-heading-title {font-size: 45px;}
	.elementor-270 .elementor-element.elementor-element-64b14659 {font-size: 13px;}
	.elementor-270 .elementor-element.elementor-element-2b197b3d > .elementor-widget-container {margin: 50px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-b28078d .elementor-divider-separator {width: 100px;}
	.elementor-270 .elementor-element.elementor-element-59075683 > .elementor-widget-container {margin: 37px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-2a3dbd28 > .elementor-element-populated {margin: 0% 25% 0% 25%;}
	.elementor-270 .elementor-element.elementor-element-2afe52f > .elementor-element-populated {margin: 0% 25% 0% 25%;}
	.elementor-270 .elementor-element.elementor-element-7fb03d4 .elementor-divider-separator {width: 100px;}
	.elementor-270 .elementor-element.elementor-element-484eb31 {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-484eb31 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-213331a {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-213331a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-96eaefe {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-96eaefe > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-1cc678ac .elementor-icon-wrapper {text-align: left;}
	.elementor-270 .elementor-element.elementor-element-1cc678ac > .elementor-widget-container {margin: 0px 0px -65px 0px;}
	.elementor-270 .elementor-element.elementor-element-4cd5588c .elementor-icon-wrapper {text-align: left;}
	.elementor-270 .elementor-element.elementor-element-4cd5588c > .elementor-widget-container {margin: 0px 0px -65px 0px;}
	.elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated {margin: 3% 25% 0% 25%;}
	.elementor-270 .elementor-element.elementor-element-288cd215 .elementor-icon-wrapper {text-align: left;}
	.elementor-270 .elementor-element.elementor-element-288cd215 > .elementor-widget-container {margin: 0px 0px -65px 0px;}
	.elementor-270 .elementor-element.elementor-element-55e5bc00 {padding: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-d378b43 > .elementor-widget-container {padding: 0px 0px 0px 0px;}}
@media (max-width:767px) {.elementor-270 .elementor-element.elementor-element-6dc4b3bc:not(.elementor-motion-effects-element-type-background), .elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-position: center center;background-repeat: no-repeat;background-size: contain;}
	.elementor-270 .elementor-element.elementor-element-6dc4b3bc > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/06/EE-comp-BEng-ind-1.jpg");}
	.elementor-270 .elementor-element.elementor-element-6dc4b3bc {margin-top: 0px;margin-bottom: 0px;padding: 90px 0px 100px 6px;}
	.elementor-270 .elementor-element.elementor-element-e592082 {margin-top: 0px;margin-bottom: 0px;}
	.elementor-270 .elementor-element.elementor-element-4fbf77f .elementor-heading-title {font-size: 34px;letter-spacing: -2.8px;}
	.elementor-270 .elementor-element.elementor-element-4fbf77f > .elementor-widget-container {margin: -30px -30px -30px -30px;}
	.elementor-270 .elementor-element.elementor-element-fca5194 {letter-spacing: -1.9px;}
	.elementor-270 .elementor-element.elementor-element-fca5194 > .elementor-widget-container {margin: 13px 13px 13px 13px;}
	.elementor-270 .elementor-element.elementor-element-da8b959 .elementor-heading-title {font-size: 45px;}
	.elementor-270 .elementor-element.elementor-element-48ac69a3 {padding: 40px 0px 35px 0px;}
	.elementor-270 .elementor-element.elementor-element-7f171870 {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-7f171870 .elementor-heading-title {font-size: 27px;line-height: 35px;}
	.elementor-270 .elementor-element.elementor-element-64b14659 .elementor-text-editor {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-64b14659 {font-size: 14px;}
	.elementor-270 .elementor-element.elementor-element-845f76e .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-270 .elementor-element.elementor-element-845f76e .elementor-icon-box-wrapper {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-439b3f49 .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-270 .elementor-element.elementor-element-439b3f49 .elementor-icon-box-wrapper {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-25c034a9 .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-270 .elementor-element.elementor-element-25c034a9 .elementor-icon-box-wrapper {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-2d9e89ae {padding: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-2b197b3d .elementor-heading-title {font-size: 22px;line-height: 40px;}
	.elementor-270 .elementor-element.elementor-element-1967c936 .elementor-heading-title {font-size: 52px;line-height: 50px;}
	.elementor-270 .elementor-element.elementor-element-1967c936 > .elementor-widget-container {margin: -21px -21px -21px -21px;}
	.elementor-270 .elementor-element.elementor-element-b28078d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-59075683 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-55aa0ad3 .elementor-text-editor {text-align: right;}
	.elementor-270 .elementor-element.elementor-element-2a3dbd28 > .elementor-element-populated {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-107c88ab .elementor-text-editor {text-align: right;}
	.elementor-270 .elementor-element.elementor-element-2afe52f > .elementor-element-populated {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-7fb03d4 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-92bdf71 .elementor-text-editor {text-align: right;}
	.elementor-270 .elementor-element.elementor-element-6b49afa {margin-top: 0px;margin-bottom: 0px;padding: 50px 0px 60px 0px;}
	.elementor-270 .elementor-element.elementor-element-0139f8f > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-1cfd699 .elementor-heading-title {font-size: 22px;}
	.elementor-270 .elementor-element.elementor-element-2c1f9fc .elementor-heading-title {line-height: 24px;}
	.elementor-270 .elementor-element.elementor-element-484eb31 {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-484eb31 > .elementor-widget-container {margin: 0px 60px 0px 60px;}
	.elementor-270 .elementor-element.elementor-element-213331a {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-213331a > .elementor-widget-container {margin: 0px 60px 0px 60px;}
	.elementor-270 .elementor-element.elementor-element-96eaefe {text-align: center;}
	.elementor-270 .elementor-element.elementor-element-96eaefe > .elementor-widget-container {margin: 0px 60px 0px 60px;}
	.elementor-270 .elementor-element.elementor-element-1002515b {padding: 50px 0px 45px 0px;}
	.elementor-270 .elementor-element.elementor-element-a15d41d > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 30px 0px 30px;}
	.elementor-270 .elementor-element.elementor-element-4508cedb .elementor-heading-title {font-size: 22px;}
	.elementor-270 .elementor-element.elementor-element-3624c81c .elementor-heading-title {line-height: 24px;}
	.elementor-270 .elementor-element.elementor-element-1fb62c49 > .elementor-element-populated {margin: 0px 0px 15px 0px;}
	.elementor-270 .elementor-element.elementor-element-4e916629 > .elementor-element-populated {margin: 0px 0px 15px 0px;}
	.elementor-270 .elementor-element.elementor-element-1a0748bc > .elementor-element-populated {margin: 0px 0px 15px 0px;}
	.elementor-270 .elementor-element.elementor-element-55e5bc00 {margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
	.elementor-270 .elementor-element.elementor-element-24aef2aa > .elementor-element-populated {padding: 30px 0px 15px 0px;}
	.elementor-270 .elementor-element.elementor-element-1d3fd509 > .elementor-element-populated {padding: 30px 0px 15px 0px;}
	.elementor-270 .elementor-element.elementor-element-3e6dac7 > .elementor-element-populated {padding: 30px 0px 15px 0px;}}