#widget-list [id*='_businessroy_'] .widget-top, #widget-list [id*='_businessroy_'] h3 {background: rgba(191,191,191,.4);}
.businessroytitle {vertical-align: middle;background: #4696b3;display: inline-block;padding: 3px 0;text-align: left;margin-bottom: 2px;font-weight: 600;color: #fff;width: 100%;}
.cl-repeater-top {padding: 0;cursor: move;background: #fafafa none repeat scroll 0 0;color: #23282d;line-height: 1.4em;font-size: 13px;font-weight: 600;border: 1px solid #e5e5e5;box-shadow: 0 1px 1px rgba(0,0,0,.04);}
.cl-repeater-title h3, .cl-repeater-title h4 {-moz-user-select: none;font-size: 1em;line-height: 1;margin: 0;overflow: hidden;padding: 15px;text-overflow: ellipsis;white-space: nowrap;}
.cl-repeater-title-action {float: right;position: relative;}
.cl-repeater-action {background: rgba(0,0,0,0) none repeat scroll 0 0;border: 0 none;cursor: pointer;margin: 0;outline: 0 none;padding: 10px;color: #555d66;}
.cl-repeater-action .cl-toggle-indicator:before {border-radius: 50%;padding: 1px 2px 1px 0;display: block;font: 400 20px/1 dashicons;content: "";text-decoration: none;}
.repeater-table.open .cl-repeater-action .cl-toggle-indicator:before {content: "";}
.cl-repeater-inside, .repeater-fields {line-height: 16px;padding: 10px 15px 15px;background: #fff none repeat scroll 0 0;border: 1px solid #e5e5e5;box-shadow: 0 1px 1px rgba(0,0,0,.04);}
.cl-sortable-placeholder {border: 1px dashed #b4b9be;margin: 0 auto 10px;height: 45px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.cl-repeater-control-actions {padding-top: 5px;}
.cl-repeater-control-actions .hidden {display: block !important;}