.customize-control-title {color: #0073aa;border-bottom: 1px solid #eee;border-top: 1px solid #eee;padding: 10px 10px 11px 14px;line-height: 21px;background: #fff;margin: 0 -12px 0;border-left: 4px solid #0073aa;margin-bottom: 15px;}
.cl-repeater-field-control {background: #fff;margin-bottom: 12px;display: block;}
.cl-repeater-footer {margin-top: 15px;text-align: right;}
.cl-repeater-field-control:first-child .cl-repeater-footer {display: none;}
.cl-repeater-field-title {padding: 13px 15px;line-height: 1;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin: 0;font-size: 1em;border: 1px solid #e5e5e5;cursor: move;position: relative;border-bottom: 0;}
#customize-theme-controls .cl-repeater-field-title.accordion-section-title:after {content: "";font: 400 20px/1 dashicons;position: absolute;right: 0;top: 0;padding: 1px 2px 1px 0;margin-top: 10px;margin-right: 10px;-webkit-border-radius: 50%;border-radius: 50%;cursor: pointer;}
.cl-repeater-field-control.expanded .cl-repeater-field-title:after {content: "";}
.cl-repeater-fields {padding: 0 10px 25px;border-top: none;line-height: 16px;border: 1px solid #e5e5e5;box-shadow: 0 1px 1px rgba(0,0,0,.04);display: none;}
#customize-theme-controls .cl-repeater-field-title.expanded:after {content: "";}
.cl-repeater-fields .customize-control-title {margin-top: 10px;}
.cl-repeater-field-control.expanded .cl-repeater-fields {display: block;}
.cl-add-control-field {float: right;}
.cl-add-control-field:before {content: "";display: inline-block;position: relative;left: -2px;top: -1px;font: 400 18px/1 dashicons;vertical-align: middle;}
.cl-fields textarea {width: 100%;min-height: 100px;}
.cl-fields select {width: 100%;min-width: none;}
.cl-type-checkbox {margin-top: 10px;}
.cl-type-checkbox label {line-height: 20px;display: block;margin-left: 24px;padding-top: 6px;}
.cl-type-checkbox input[type=checkbox] {margin-right: 8px;margin-left: -24px;}
.cl-type-selector .selector-labels {margin: 0 -5px;}
.cl-type-selector .selector-labels label {display: inline-block;padding: 10px 5px 0;position: relative;max-width: 50%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.cl-type-selector .selector-labels label img {vertical-align: middle;}
.cl-type-selector .selector-labels label.selector-selected:after {content: "";height: 35px;width: 35px;right: 0;top: 0;position: absolute;background: url("images/selected.png") no-repeat right top;}
.cl-type-radio .radio-labels label {display: block;padding: 5px 0;}
.cl-selected-icon {background: #f6f6f6;height: 45px;line-height: 45px;text-align: center;border: 1px solid #eee;position: relative;margin-right: 45px;cursor: pointer;font-size: 28px;}
.cl-selected-icon span {position: absolute;background: #f6f6f6;right: -45px;top: -1px;height: 45px;width: 45px;border: 1px solid #eee;font-size: 20px;}
.cl-icon-list {height: 215px;overflow-y: scroll;font-size: 18px;border: 1px solid #eee;border-right: 0;border-top: 0;padding-bottom: 4%;display: none;cursor: pointer;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.cl-icon-list li {float: left;margin: 4% 3% 0;height: 40px;width: 16%;text-align: center;line-height: 40px;border: 1px solid #eee;}
.cl-icon-list li:hover {background: #333;border: 1px solid #333;color: #fff;}
.cl-icon-list li.icon-active {background: #0073aa;border: 1px solid #0073aa;color: #fff;}
.cl-repeater-selected-icon {background: #f6f6f6;height: 45px;line-height: 45px;text-align: center;border: 1px solid #eee;position: relative;margin-right: 45px;cursor: pointer;font-size: 28px;}
.cl-repeater-selected-icon span {position: absolute;background: #f6f6f6;right: -45px;top: -1px;height: 45px;width: 45px;border: 1px solid #eee;font-size: 20px;}
.cl-repeater-icon-list {height: 215px;overflow-y: scroll;font-size: 18px;border: 1px solid #eee;border-right: 0;border-top: 0;padding-bottom: 4%;display: none;cursor: pointer;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.cl-repeater-icon-list li {float: left;margin: 4% 3% 0;height: 40px;width: 16%;text-align: center;line-height: 40px;border: 1px solid #eee;}
.cl-repeater-icon-list li:hover {background: #333;border: 1px solid #333;color: #fff;}
.cl-repeater-icon-list li.icon-active {background: #0073aa;border: 1px solid #0073aa;color: #fff;}
.customize-control-checkbox-multiple .customize-control-title {padding: 5px;border-bottom: 1px solid #ddd;border-left: 4px solid #fff;-webkit-transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;color: #0073aa;background: #f3f3f5;border-left-color: #0073aa;}
.customize-control-checkbox-multiple ul {padding: 5px;border: 2px solid #f3f3f5;}
.onoffswitch {position: relative;width: 140px;margin-right: 15px;overflow: hidden;cursor: pointer;}
.onoffswitch-inner {width: 200%;margin-left: -100%;-moz-transition: margin .3s ease-in 0s;-webkit-transition: margin .3s ease-in 0s;-o-transition: margin .3s ease-in 0s;transition: margin .3s ease-in 0s;}
.onoffswitch-inner > div {float: left;position: relative;width: 50%;height: 30px;padding: 0;line-height: 30px;font-size: 12px;color: #fff;font-weight: 700;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.onoffswitch-inner .onoffswitch-active {background-color: #d4d4d4;color: #fff;}
.onoffswitch-inner .onoffswitch-inactive {background-color: #d4d4d4;color: #fff;text-align: right;}
.onoffswitch-switch {width: 70px;margin: 0;text-align: center;border: 0 solid #999;border-radius: 0;position: absolute;top: 0;bottom: 0;}
.onoffswitch-active .onoffswitch-switch {background: #0073aa;left: 0;}
.onoffswitch-inactive .onoffswitch-switch {background: #7d7d7d;right: 0;}
.switch-on .onoffswitch-inner {margin-left: 0;}
.customize-pane-parent .control-section .accordion-section-title:before, #sub-accordion-panel-businessroy_frontpage_settings .control-section .accordion-section-title:before {font-family: dashicons;content: "";font-size: 20px;margin-right: 5px;vertical-align: middle;}
#accordion-section-businessroy_front_page .accordion-section-title:before {content: "";}
#accordion-section-colors .accordion-section-title:before {content: "";}
#accordion-panel-businessroy_general_settings_panel .accordion-section-title:before {content: "";}
#accordion-panel-businessroy_frontpage_settings .accordion-section-title:before {content: "";}
#accordion-panel-businessroy_theme_options .accordion-section-title:before {content: "";}
#accordion-section-businessroy_header_settings .accordion-section-title:before {content: "";}
#accordion-section-businessroy_blog_template .accordion-section-title:before {content: "";}
#accordion-panel-nav_menus .accordion-section-title:before {content: "";}
#accordion-panel-widgets .accordion-section-title:before {content: "";}
#accordion-panel-widgets .accordion-section-title:before {content: "";}
#accordion-section-custom_css .accordion-section-title:before {content: "";}
#sub-accordion-panel-businessroy_frontpage_settings #accordion-section-businessroy_slider_section.control-section .accordion-section-title:before {content: "";}
#sub-accordion-panel-businessroy_frontpage_settings .control-section .accordion-section-title:before {content: "";color: #aaa;}
#sub-accordion-panel-businessroy_frontpage_settings .customize-info .customize-panel-description {display: block !important;}
.businessroy-drag-spinner {display: none;float: right;}