@media only screen  and (max-width: 1500px) {}
@media (max-width: 1200px) {.nav-classic .site-branding h1 {font-size: 25px;}}
@media (max-width: 992px) {.container {max-width: 100%;}
	.businessroytop_bar {text-align: center;padding: 10px 0;}
	.top-bar-menu > *, .top-bar-menu ul > * {float: none;}
	.top-bar-menu {float: none !important;}
	.banner-slider .slider-item {height: 450px;}
	.nav-classic .box-header-nav, .nav-classic-wrap .box-header-nav {display: none;}
	.nav-classic .header-nav-toggle, .nav-classic-wrap .header-nav-toggle {display: block;}
	button.toggle.sub-menu-toggle {display: block;}
	.businessroyservices .feature-list .box figure img, .articlesListing .article .blog-post-thumbnail .post-thumbnail img {width: 100%;}
	.owl-carousel .owl-nav button.owl-prev {left: 0;visibility: visible;opacity: 1;}
	.owl-carousel .owl-nav button.owl-next {right: 0;visibility: visible;opacity: 1;}
	.sub_footer ul.sp_socialicon {text-align: center;margin-top: 20px;}
	.businessroycopyright {text-align: center;}}
@media (max-width: 768px) {.container {max-width: 100%;}
	.section-tagline {width: 100%;}
	.banner-slider .slider-item .slider-content .slider-title {font-size: 35px;color: #fff;margin-bottom: 0;}
	.about_us_front .achivement-items {text-align: center;}
	.banner-slider .slider-item {height: 350px;}
	.businessroyportfolio-cat-name {margin-bottom: 10px;}
	.breadcrumb {padding: 50px 0;}
	.breadcrumb_wrapper {display: block;text-align: center;}
	.breadcrumb h2 {text-align: center;display: block;margin-bottom: 10px;}
	.breadcrumb nav {display: inline-block;text-align: center;}
	[data-layout*="masonry2"] .article {width: 100%;}
	.businessroyportfolio {width: 50%;padding: 4px;}
	.businessroyportfolio-caption {background: none !important;opacity: 1;}
	.businessroyportfolio-caption h3, .businessroyportfolio-caption a.businessroyportfolio-link, .businessroyportfolio-caption a.businessroyportfolio-image {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
	.businessroyportfolio-caption h3 {background: rgba(0,0,0,.2);padding: 10px;left: 0;right: 0;top: 0;text-align: center;}
	.businessroyportfolio-caption a {right: 0;bottom: 0;margin: 0 5px;}
	.businessroyportfolio-caption a.businessroyportfolio-image {right: 46px;}}
@media (max-width: 500px) {.nav-classic .site-branding {width: 100%;left: 0;right: 0;text-align: left;padding-left: 20px;}
	.nav-classic .header-nav-toggle {position: relative;z-index: 9;right: 20px;top: 20px;}
	.nav-classic .header-nav-toggle div {background-color: #fff;}
	.nav-classic .site-branding a:before, .nav-classic .site-branding a:after {display: none;}
	.nav-classic .header-nav-toggle {right: 10px;top: 0;}
	.calltoaction_promo_wrapper .calltoaction_button_wrap .btn-border, .banner-slider .slider-item .slider-content .btn-area .btn-border {margin-left: 0;margin-top: 0;}
	.about_us_front .achivement-items ul li {margin-right: 0;padding-right: 0;margin-bottom: 0;margin-bottom: 25px;padding-bottom: 0;width: 100%;}
	.businessroyportfolio {width: 100%;padding: 0;margin-bottom: 15px;}}