@font-face {font-family: cwp-fontawesome;src: url("../webfonts/fontawesome.eot?m879jw");src: url("../webfonts/fontawesome.eot?m879jw#iefix") format("embedded-opentype"),url("../webfonts/fontawesome.ttf?m879jw") format("truetype"),url("../webfonts/fontawesome.woff?m879jw") format("woff"),url("../webfonts/fontawesome.svg?m879jw#fontawesome") format("svg");font-weight: 400;font-style: normal;font-display: block;}
.cwp-fa, .cwp-fab, .cwp-fal, .cwp-far, .cwp-fas {font-family: cwp-fontawesome !important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.cwp-fa-search:before {content: "";}
.cwp-fa-envelope:before {content: "";}
.cwp-fa-th:before {content: "";}
.cwp-fa-list:before {content: "";}
.cwp-fa-tags:before {content: "";}
.cwp-fa-edit:before {content: "";}
.cwp-fa-arrow-up:before {content: "";}
.cwp-fa-calendar-alt:before {content: "";}
.cwp-fa-shopping-cart:before {content: "";}
.cwp-fa-comment-alt:before {content: "";}
.cwp-fa-map:before {content: "";}
.cwp-fa-user:before {content: "";}
.cwp-fa-angle-up:before {content: "";}
.cwp-fa-phone:before {content: "";}
.cwp-fa-mobile:before {content: "";}
.cwp-fa-long-arrow-up:before {content: "";}
.cwp-fa-twitter:before {content: "";}
.cwp-fa-facebook-f:before {content: "";}
.cwp-fa-pinterest:before {content: "";}
.cwp-fa-google-plus:before {content: "";}
.cwp-fa-linkedin-in:before {content: "";}
.cwp-fa-angle-down:before {content: "";}
.cwp-fa-youtube-play:before {content: "";}
.cwp-fa-dropbox:before {content: "";}
.cwp-fa-stack-overflow:before {content: "";}
.cwp-fa-instagram:before {content: "";}
.cwp-fa-tumblr:before {content: "";}
.cwp-fa-dribbble:before {content: "";}
.cwp-fa-skype:before {content: "";}
.cwp-fa-slack:before {content: "";}
.cwp-fa-soundcloud:before {content: "";}
.cwp-fa-pinterest-p:before {content: "";}
.cwp-fa-bars:before {content: "";}
.cwp-fa-times:before {content: "";}
.cwp-fa-arrow-right:before {content: "";}
.cwp-fa-arrow-left:before {content: "";}