@charset "UTF-8";
.wp-block-button a, a.button.close-responsive-search, .button, button, input[type=button], .btn, input[type="submit"] {font-size: .8em;font-weight: 600;padding: 8px 12px;transition: all .15s ease-in-out;text-align: center;vertical-align: middle;border: 1px solid transparent;border-radius: 3px;text-transform: uppercase;cursor: pointer;line-height: normal;font-family: inherit;}
.wp-block-button a:hover, a.button.close-responsive-search:hover, .button:hover, button:hover, input:hover[type=button], .btn:hover, input:hover[type="submit"] {text-decoration: none;opacity: .9;}
.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-secondary .wp-block-button__link, a.button.close-responsive-search, .button.button-secondary, #comments input[type=submit] {border: 1px solid;background-color: transparent;font-weight: 600;color: #676767;}
.wp-block-button.is-style-outline .wp-block-button__link:hover, .wp-block-button.is-style-secondary .wp-block-button__link:hover, a.button.close-responsive-search:hover, .button.button-secondary:hover, #comments input:hover[type=submit] {background: transparent;}
.button.button-primary, button, input[type=button], .btn, input[type="submit"] {background-color: #0366d6;color: #fff;}
.button.button-primary:hover, button:hover, input:hover[type=button], .btn:hover, input:hover[type="submit"] {text-decoration: none;background-color: #0366d6;color: #fff;opacity: .9;}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, .nv-html-content p, h6 {margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
ul {list-style: none;}
button, input, select, textarea {margin: 0;}
html {box-sizing: border-box;-ms-overflow-style: scrollbar;}
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box;}
img, embed, object, audio, video {height: auto;max-width: 100%;}
iframe {border: 0;max-width: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
td, th {padding: 0;text-align: right;}
abbr, acronym {text-decoration: none;}
mark {background-color: transparent;}
.container {width: 100%;padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;}
.w-100 {width: 100%;}
.container-fluid {width: 100%;margin-left: auto;margin-right: auto;}
.container-fluid [class*="__inner-container"] {width: 100%;}
.container-fluid [class*="__inner-container"] > * {max-width: 100%;}
.container-fluid > div {margin: 0 -15px;}
body.nv-empty-sidebar, body.nv-sidebar-full-width .container-fluid .alignfull {width: 100%;max-width: 100vw;padding: 0;margin: auto;}
.row {display: flex;flex-wrap: wrap;margin-left: -15px;margin-right: -15px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto {position: relative;width: 100%;min-height: 1px;padding-left: 15px;padding-right: 15px;}
.col {flex-basis: auto;flex-grow: 1;max-width: 100%;margin-right: auto;margin-left: auto;}
.col-auto {flex: 0 0 auto;width: auto;max-width: none;}
.col-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
.col-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
.col-3 {flex: 0 0 25%;max-width: 25%;}
.col-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
.col-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
.col-6 {flex: 0 0 50%;max-width: 50%;}
.col-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
.col-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
.col-9 {flex: 0 0 75%;max-width: 75%;}
.col-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
.col-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
.col-12 {flex: 0 0 100%;max-width: 100%;}
.offset-1 {margin-right: 8.3333333333%;}
.offset-2 {margin-right: 16.6666666667%;}
.offset-3 {margin-right: 25%;}
.offset-4 {margin-right: 33.3333333333%;}
.offset-5 {margin-right: 41.6666666667%;}
.offset-6 {margin-right: 50%;}
.offset-7 {margin-right: 58.3333333333%;}
.offset-8 {margin-right: 66.6666666667%;}
.offset-9 {margin-right: 75%;}
.offset-10 {margin-right: 83.3333333333%;}
.offset-11 {margin-right: 91.6666666667%;}
html {font-size: 100%;overflow-x: hidden;-webkit-tap-highlight-color: transparent;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
body {font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;color: #404248;line-height: 1.68421;overflow-x: hidden;direction: rtl;background-color: #fff;}
h1, h2, h3, h4, h5, h6 {text-transform: none;letter-spacing: 0;font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;line-height: 1.68421;margin-bottom: .8rem;font-weight: 600;}
p {margin-bottom: 20px;}
a {cursor: pointer;color: #0366d6;text-decoration: none;}
a:hover, a:focus {text-decoration: underline;color: #0366d6;}
.screen-reader-text {display: none;}
ins {text-decoration: none;}
body {font-size: 16px;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.1em;}
h4 {font-size: 1em;}
h5 {font-size: .75em;}
h6 {font-size: .75em;}
.show-on-focus {position: absolute;width: 1px;height: 1px;margin: 0;overflow: hidden;clip: rect(1px,1px,1px,1px);top: 0;right: 0;}
.show-on-focus:focus {z-index: 20;width: auto;height: auto;clip: auto;}
a.neve-skip-link {background-color: #24292e;color: #fff;padding: 10px 20px;}
a.neve-skip-link:focus {color: #fff;}
.admin-bar a.neve-skip-link {top: 32px;}
.nv-content-wrap a:not(.button):not(.wp-block-file__button), .nv-comment-content a {text-decoration: underline;}
.nv-content-wrap a:not(.button):not(.wp-block-file__button):hover, .nv-comment-content a:hover {text-decoration: none;}
.nv-comment-content .edit-reply a, .comments-area a {text-decoration: none;}
.nv-comment-content .edit-reply a:hover, .comments-area a:hover {text-decoration: underline;}
.nv-icon {fill: currentColor;}
.nv-search {display: flex;}
.cart-icon-wrapper {display: flex;align-items: flex-end;}
.alignfull {width: 100vw;max-width: 100vw;margin-right: calc(50% - 50vw);padding: 0 15px;}
.alignwide {width: 70vw;max-width: 70vw;margin-right: calc(50% - 35vw);}
body.nv-sidebar-left .alignfull, body.nv-sidebar-left .alignwide, body.nv-sidebar-right .alignfull, body.nv-sidebar-right .alignwide {max-width: 100%;margin-right: auto;}
.has-neve-body-font-size {font-size: 1.5em;}
.has-neve-h-1-font-size {font-size: 1.3em;}
.has-neve-h-2-font-size {font-size: 1.1em;}
.has-neve-h-3-font-size {font-size: 1em;}
.has-neve-h-4-font-size {font-size: .75em;}
.has-neve-h-5-font-size {font-size: .75em;}
blockquote.wp-block-quote.is-style-large p {font-size: 1.75em;}
blockquote.wp-block-quote.is-style-large cite {font-size: .95em;}
.wp-block-pullquote blockquote {margin: 1em auto;}
.wp-block-pullquote blockquote p {font-size: 2em;margin-bottom: 20px;}
.wp-block-pullquote blockquote::before, .wp-block-pullquote blockquote::after {display: none;}
.wp-block-pullquote blockquote cite {font-size: .85em;}
.wp-block-pullquote.is-style-solid-color blockquote p {font-size: 2em;}
.wp-block-pullquote:not(.is-style-solid-color) {border-top: 4px solid;border-bottom: 4px solid;}
.wp-block-pullquote:not(.is-style-solid-color) blockquote cite {text-transform: uppercase;}
.wp-block-table {width: 100%;}
.wp-block-separator {display: block;margin: 40px auto;width: 100px;border: none;background-color: #8f98a1;height: 2px;}
.wp-block-separator.is-style-wide {height: 1px;}
.wp-block-separator.is-style-dots {height: auto;}
.wp-block-separator.is-style-dots, .wp-block-separator.is-style-wide {width: 100%;}
.wp-block-verse {background-color: inherit;font-family: inherit;font-size: inherit;font-style: italic;border: unset;}
.wp-block-code code {background-color: inherit;}
.wp-block-button {padding: .75em;}
.wp-block-button a {text-decoration: none !important;}
.nv-content-wrap ul.blocks-gallery-grid {padding: 0;}
.has-white-color {color: #fff !important;}
.has-black-color {color: #000 !important;}
.has-white-background-color {background-color: #fff !important;}
.has-black-background-color {background-color: #000 !important;}
.hidden-on-mobile {display: none;}
.hidden-on-tablet {display: initial;}
.show-on-desktop {display: none;}
.nv-top-bar a {font-weight: 500;}
.site-logo {align-items: center;display: flex;padding: 10px 0;}
.site-logo amp-img img {max-height: 60px;}
.site-logo .brand {display: flex;flex-direction: column;justify-content: center;}
.site-logo .title-with-logo {display: flex;flex-direction: row;align-items: center;}
.site-logo .title-with-logo > img:first-child, .site-logo .title-with-logo > div:first-child {margin-left: 10px;}
.site-logo h1, .site-logo p {font-family: inherit;font-size: 1.25em;margin-bottom: 0;font-weight: 600;}
.site-logo small {width: 100%;display: block;}
.site-logo a {color: #404248;display: inline;}
.site-logo a:hover {color: #404248;text-decoration: none;opacity: .9;}
.nv-navbar {background-color: #fff;}
.primary-menu-ul {overflow-y: auto;transition: all .3s ease;margin-bottom: 0;}
.primary-menu-ul a {color: #404248;width: 100%;display: flex;align-items: center;position: relative;}
.primary-menu-ul li {cursor: pointer;width: 100%;display: block;position: relative;}
.primary-menu-ul li a .nv-icon svg {fill: currentColor;}
.primary-menu-ul .amp-caret-wrap {z-index: 1000;left: 0;position: absolute;top: 5px;}
.primary-menu-ul .amp-caret-wrap svg {fill: currentColor;width: 1em;}
.primary-menu-ul .amp-desktop-caret-wrap {display: none;}
.site-logo, .navbar-toggle-wrapper {flex: 1 auto;}
.navbar-toggle-wrapper {justify-content: flex-end;display: flex;}
.primary-menu-ul .sub-menu {max-height: 0;overflow: hidden;padding-right: 20px;transition: all .3s ease;border-right: 1px solid #f0f0f0;}
.primary-menu-ul .caret-wrap.dropdown-open + .sub-menu, .primary-menu-ul .dropdown-open.sub-menu {max-height: 2000px;transition: all .3s ease;opacity: 1;visibility: visible;}
.nv-nav-wrap {min-height: 1px;display: flex;flex-direction: column;justify-content: space-between;}
.caret {padding: 5px;display: flex;align-items: center;}
.caret svg {fill: currentColor;}
.dropdown-open.caret-wrap > .caret svg {transform: rotate(180deg);}
.caret-wrap {border-color: transparent;margin-right: auto;}
ul[id^="nv-primary-navigation"] .current-menu-item > a {color: #0366d6;}
ul[id^="nv-primary-navigation"] i {font-size: inherit;line-height: inherit;width: 20px;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search {position: fixed;top: 0;bottom: 0;width: 100%;display: flex;justify-content: center;align-items: center;background-color: #fff;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search .search-submit {display: block;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form {position: relative;width: 75%;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form .nv-search-icon-wrap {position: absolute;top: 0;left: 0;bottom: 0;text-align: center;line-height: 35px;width: 45px;z-index: 3;cursor: pointer;pointer-events: none;color: #c9c9c9;display: flex;align-items: center;justify-content: center;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="search"] {width: 100%;padding: 8px 12px 7px 45px;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="submit"] {top: 0;left: 0;bottom: 0;position: absolute;color: transparent;background: 100% 0;z-index: 2;width: 45px;border: 0;padding: 8px 12px 7px;}
.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="submit"]:hover {background-color: #eee;}
.close-container {position: absolute;top: 60px;display: flex;justify-content: flex-end;}
.menu-item-nav-search {cursor: pointer;outline: 0;}
.menu-item-nav-search > a {display: block;}
.nv-nav-search {pointer-events: none;opacity: 0;transition: all .3s ease;position: absolute;left: 0;width: auto;background: #fff;padding: 10px 20px;border-top: 1px solid #f0f0f0;cursor: default;z-index: 100;-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);-moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);box-shadow: 0 2px 5px rgba(0,0,0,.1);}
.menu-item-nav-search.active .nv-nav-search {pointer-events: initial;opacity: 1;}
.nv-nav-search form {display: block;}
.nv-nav-search form label {display: inline;margin: 0;}
.nv-nav-search form label input {width: 200px;margin: 0;}
.nav-clickaway-overlay {position: fixed;width: 100%;right: 0;left: 0;top: 0;z-index: 90;height: 100vh;}
ul[id^="nv-primary-navigation"] .menu-item-nav-search:not(.responsive-nav-search) {display: none;}
.nv-nav-wrap .neve-mega-menu > .sub-menu {cursor: default;}
.nv-nav-wrap .neve-mega-menu > .sub-menu > .sub-menu {opacity: 1;visibility: visible;cursor: default;}
.nv-nav-wrap .neve-mega-menu .sub-menu .sub-menu {max-height: none;}
.nv-nav-wrap .neve-mega-menu .neve-mm-col {text-align: right;cursor: default;}
.nv-nav-wrap .neve-mega-menu .neve-mm-col .sub-menu {border: none;padding-right: 0;}
.nv-nav-wrap .neve-mega-menu .neve-mm-col .sub-menu .sub-menu {right: 0;top: 100%;}
.nv-nav-wrap .neve-mega-menu .neve-mm-col .sub-menu .sub-menu li {padding: 0 12px;border-bottom: 1px solid #f0f0f0 !important;}
.nv-nav-wrap .neve-mega-menu .neve-mm-heading {opacity: .75;font-size: 1.1em;cursor: default;}
.nv-nav-wrap .neve-mega-menu .neve-mm-heading a, .nv-nav-wrap .neve-mega-menu .neve-mm-heading span {font-weight: 700;text-transform: uppercase;display: flex;align-items: center;}
.nv-nav-wrap .neve-mega-menu .neve-mm-heading i {margin-left: 10px;}
.nv-nav-wrap .neve-mega-menu a {display: flex;align-items: center;}
.nv-nav-wrap .neve-mega-menu a i {margin-left: 10px;}
.nv-nav-wrap .neve-mega-menu .neve-mm-divider {height: 1px;margin: 10px auto;width: 100%;background-color: #c9c9c9;padding: 0;cursor: default;}
.nv-nav-wrap .neve-mega-menu .neve-mm-description {text-align: right;justify-content: flex-start;}
.neve-mm-description {font-size: .8em;padding: 0 0 7px;opacity: .9;width: 100%;display: flex;text-align: center;}
footer {background-color: #fff;}
.footer-menu {display: flex;flex-wrap: wrap;justify-content: center;}
.hfg-item-left .footer-menu li:not(:last-child), .hfg-item-center .footer-menu li:not(:last-child) {margin-left: 20px;}
.hfg-item-right .footer-menu li:not(:first-child) {margin-right: 20px;}
.wrapper {display: flex;min-height: 100vh;flex-direction: column;}
body > .wrapper:not(.et-fb-iframe-ancestor) {overflow: hidden;}
.neve-main {flex: 1 auto;min-height: 1px;}
.archive-container {padding-top: 20px;}
.nv-page-title-wrap.nv-big-title .nv-page-title {padding-bottom: 10px;border-bottom: 1px solid #f0f0f0;margin-bottom: 20px;}
.nv-page-title-wrap.nv-big-title .nv-page-title h1 {line-height: 1.3em;margin-bottom: 0;}
.nv-page-title-wrap.nv-big-title .nv-page-title h1 + p {margin-bottom: 0;}
.nv-content-none-wrap {margin-bottom: 60px;}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], textarea {display: inline-block;font-size: 14px;padding: 7px 12px;background-color: transparent;color: #333;border: 1px solid #ddd;border-radius: 3px;transition: all .3s ease;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="color"], select {display: inline-block;font-size: 14px;padding: 7px 12px;background-color: transparent;color: #333;border: 1px solid #ddd;border-radius: 3px;transition: all .3s ease;}
input, textarea, select, button {line-height: inherit;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
select {height: 35px;}
label {display: inline-block;margin-bottom: 10px;}
fieldset {border: 0;margin: 20px 0;}
fieldset legend {font-size: .9em;margin-bottom: 10px;}
fieldset input[type="text"], fieldset input[type="search"], fieldset input[type="password"], fieldset textarea {width: 100%;}
.nv-seach-form-wrap {width: 100%;border-top: 1px solid #f0f0f0;padding-top: 20px;display: flex;align-items: center;justify-content: center;}
.nv-seach-form-wrap .search-form {display: inline-block;}
.nv-seach-form-wrap .search-form input[type="submit"] {margin-right: 10px;}
.search-form label {margin-bottom: 0;}
.search-form, .woocommerce-product-search {position: relative;}
.search-form label, .woocommerce-product-search label {display: inline;}
.search-form .nv-search-icon-wrap, .woocommerce-product-search .nv-search-icon-wrap {position: absolute;top: 0;left: 0;height: 100%;width: 45px;z-index: 3;cursor: pointer;pointer-events: none;color: #c9c9c9;display: flex;align-items: center;justify-content: center;line-height: 0;}
.search-form .nv-search-icon-wrap .nv-icon svg, .woocommerce-product-search .nv-search-icon-wrap .nv-icon svg {fill: #c9c9c9;}
.search-form input[type="search"], .woocommerce-product-search input[type="search"] {width: 100%;padding: 8px 12px 7px 45px;}
.search-form button[type="submit"], .search-form input[type="submit"], .woocommerce-product-search button[type="submit"], .woocommerce-product-search input[type="submit"] {top: 0;left: 0;bottom: 0;position: absolute;color: transparent;background: 100% 0;z-index: 2;width: 45px;border: 0;padding: 8px 12px 7px;border-radius: 0;}
.search-form button[type="submit"]:hover, .search-form input[type="submit"]:hover, .woocommerce-product-search button[type="submit"]:hover, .woocommerce-product-search input[type="submit"]:hover {background-color: #eee;}
.nv-nav-search .search-form input[type="search"] {width: 200px;}
.nv-meta-list {padding-bottom: 10px;width: 100%;}
.nv-meta-list li {display: inline;color: #676767;font-size: .85em;}
.nv-meta-list li:not(:last-child):after {content: "/";padding: 0 5px;color: #676767;}
.nv-meta-list a, .nv-meta-list a:hover {color: #676767;}
.nv-meta-list .posted-on .updated {display: none;}
.nv-meta-list .meta.author .photo {width: 20px;height: 20px;border-radius: 50%;transform: translateY(30%);}
.nv-meta-list .meta.author .author-name {margin-right: 3px;}
.entry-title {word-wrap: break-word;}
.entry-title a {color: #404248;}
.entry-title a:hover, .entry-title a:focus {opacity: .9;color: #404248;}
.nv-shadow-1 .nv-post-thumbnail-wrap {box-shadow: 0 1px 3px -2px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.1);}
.nv-shadow-2 .nv-post-thumbnail-wrap {box-shadow: 0 3px 6px -5px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);}
.nv-shadow-3 .nv-post-thumbnail-wrap {box-shadow: 0 10px 20px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);}
.nv-shadow-4 .nv-post-thumbnail-wrap {box-shadow: 0 14px 28px rgba(0,0,0,.12),0 10px 10px rgba(0,0,0,.12);}
.nv-shadow-5 .nv-post-thumbnail-wrap {box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);}
.nv-post-thumbnail-wrap amp-img {display: inline-block;}
.nv-post-thumbnail-wrap a {transition: all .3s ease;}
.nv-post-thumbnail-wrap a:hover {opacity: .95;}
.nv-post-thumbnail-wrap img {height: auto;}
.posts-wrapper > article {margin-bottom: 30px;}
.layout-grid .content > .blog-entry-title {margin-bottom: 0;}
.blog-entry-title {word-wrap: break-word;}
.article-content-col {width: 100%;}
.article-content-col .content {width: 100%;padding-bottom: 30px;border-bottom: 1px solid #f0f0f0;display: flex;flex-direction: column;}
.article-content-col .content .button {display: inline-block;align-self: flex-start;}
.bypostauthor {display: block;}
.nv-index-posts .posts-wrapper {display: flex;flex-wrap: wrap;box-sizing: content-box;}
.nv-index-posts .page-numbers {display: flex;flex-wrap: wrap;padding-right: 0;list-style-type: none;justify-content: center;margin: 10px auto;}
.nv-index-posts .page-numbers > li:not(:last-child) {padding-left: 10px;}
.nv-index-posts .page-numbers > li:not(:first-child) {padding-right: 10px;}
.layout-grid .content > * {margin: 0 0 10px;}
.layout-grid .content > *:last-child {margin-bottom: 0;}
.layout-grid .content > *:first-child {margin-top: 0;}
.layout-grid .content > *.nv-meta-list {margin-top: 0;}
.layout-grid .content .excerpt-wrap > *:last-child {margin-bottom: 0;}
.nv-non-grid-article .non-grid-content {display: flex;flex-direction: column;}
.nv-non-grid-article .non-grid-content > * {margin: 0 0 10px;}
.nv-non-grid-article .non-grid-content > *:last-child {margin-bottom: 0;}
.nv-non-grid-article .non-grid-content > *.nv-meta-list {margin-top: 0;}
.nv-non-grid-article .non-grid-content .blog-entry-title {margin-bottom: 0;}
article {word-break: break-word;}
.sticky {display: inherit;}
.nv-loader {height: 50px;width: 50px;border-radius: 50%;border: 2px solid #0366d6;border-right: 1px solid transparent !important;-webkit-animation: spin 1s ease infinite;-moz-animation: spin 1s ease infinite;animation: spin 1s ease infinite;margin: 0 auto;display: none;}
@-moz-keyframes spin {100% {-moz-transform: rotate(-360deg);}}
@-webkit-keyframes spin {100% {-webkit-transform: rotate(-360deg);}}
@keyframes spin {100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);}}
.layout-grid > .article-content-col, .layout-grid > .article-content-col .content {height: 100%;}
.layout-default, .layout-alternative {display: flex;align-items: flex-end;}
.layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {margin-bottom: 10px;}
.page .nv-page-title-wrap {margin-top: 30px;}
.single .nv-sidebar-wrap, .page .nv-sidebar-wrap {margin-top: 30px;}
.nv-single-post-wrap .entry-header, .nv-single-post-wrap .nv-thumb-wrap, .nv-single-post-wrap .nv-content-wrap, .nv-single-post-wrap .nv-post-navigation, .nv-single-post-wrap .nv-tags-list {margin-bottom: 20px;}
.nv-single-post-wrap .entry-header:first-child, .nv-single-post-wrap .nv-thumb-wrap:first-child, .nv-single-post-wrap .nv-content-wrap:first-child, .nv-single-post-wrap .nv-post-navigation:first-child, .nv-single-post-wrap .nv-tags-list:first-child {margin-top: 30px;}
.single-post-container .title {margin-bottom: 0;}
.attachment-neve-blog {display: flex;}
.nv-post-navigation {display: flex;justify-content: space-between;}
.nv-post-navigation .previous a:hover, .nv-post-navigation .next a:hover {text-decoration: none;}
.nv-post-navigation .previous a:hover span:not(.nav-direction), .nv-post-navigation .next a:hover span:not(.nav-direction) {text-decoration: underline;}
.nv-post-navigation .previous .nav-direction, .nv-post-navigation .next .nav-direction {color: #676767;display: flex;flex-direction: column;font-size: .8em;text-transform: uppercase;}
.nv-post-navigation .next {margin-right: auto;text-align: left;}
.post-pages-links {display: flex;list-style-type: none;}
.post-pages-links > a:not(:last-child) span, .post-pages-links > span {padding-left: 20px;}
.post-password-form {margin-bottom: 40px;text-align: center;}
.post-password-form input[type=submit] {height: 39px;margin-right: 10px;}
.post-password-form label {margin-bottom: 0;}
.post-password-form p {display: flex;justify-content: center;align-items: center;}
.post-password-form label > input {margin-right: 10px;}
.nv-tags-list {font-size: .85em;}
.nv-tags-list span {margin-left: 10px;}
.nv-tags-list a {display: inline-block;padding: 2px 10px;transition: all .3s ease;border-radius: 3px;margin-bottom: 10px;margin-left: 10px;border: 1px solid #0366d6;color: #0366d6;}
.nv-tags-list a:hover {background: #0366d6;border-color: #0366d6;color: #fff;}
#comments {border-top: 1px solid #f0f0f0;margin-top: 10px;}
#comments ol {list-style: none;}
#comments ol > ol {padding-right: 10px;}
#comments .nv-content-wrap ol {list-style-type: decimal;}
#comments .nv-comments-list > li {padding: 10px 0 0;}
#comments .children > li {margin-top: 20px;padding-top: 20px;}
#comments .edit-reply {margin-top: 20px;display: flex;justify-content: space-between;font-size: .85em;}
#comments .edit-reply .nv-reply-link {margin-right: auto;}
.nv-comments-list {padding-bottom: 20px;}
.nv-comments-title-wrap {margin: 40px 0 60px;}
.nv-comment-article {padding-bottom: 20px;border-bottom: 1px solid #f0f0f0;}
.nv-comment-header {display: flex;align-items: center;text-transform: none;font-style: normal;font-size: .85em;margin-bottom: 20px;}
.nv-comment-header .comment-author {display: flex;flex-direction: column;}
.nv-comment-avatar {margin-left: 20px;}
.nv-comment-avatar > img {float: right;border-radius: 50%;}
.comment-author .author {font-weight: 700;text-transform: uppercase;}
#comments input:not([type="submit"]):not([type="checkbox"]) {width: 100%;}
#comments textarea {width: 100%;max-width: 100%;min-width: 100%;}
#comments .comment-respond {margin: 40px 0;}
#comments .comment-reply-title {margin-bottom: 5px;}
#comments .comment-reply-title small {float: left;}
.comment-form {display: grid;grid-column-gap: 20px;grid-row-gap: 20px;}
.comment-form > p:not(.comment-notes) {margin-bottom: 0;}
.comment-form label {margin-bottom: 10px;display: inline-block;}
.comment-form .form-submit {margin-top: 10px;}
.pingback {border-bottom: 1px solid #f0f0f0;}
.pingback .edit-link {display: block;font-size: .85em;margin-top: 20px;}
.comment-form-cookies-consent {display: flex;align-items: center;}
.comment-form-cookies-consent input {margin-left: 10px;}
.comment-form-cookies-consent label {margin-bottom: 0;}
.nv-iframe-embed {position: relative;padding-bottom: 56.25%;padding-top: 25px;height: 0;}
.nv-iframe-embed iframe {position: absolute;top: 0;right: 0;width: 100%;height: 100%;}
blockquote {margin: 40px 0;}
blockquote p {font-size: 1.1em;}
blockquote cite {padding-top: 20px;display: block;color: #676767;font-style: normal;font-size: .95em;}
blockquote:after, blockquote:before {height: 3px;width: 60px;background-color: #c9c9c9;content: " ";display: block;}
blockquote:before {margin: 0 auto 40px;}
blockquote:after {margin: 40px auto 0;}
blockquote > * {margin-bottom: 0;}
table {width: 100%;margin: 20px 0;}
table td, table th {padding: 10px;border-bottom: 1px solid #f0f0f0;}
p code {background: #d0effb;border-radius: 5px;border: 1px solid #f0f0f0;padding: 0 3px;}
pre {display: block;padding: 20px;background: #fbfbfb;border-radius: 5px;border: 1px solid #f0f0f0;margin: 20px 0;white-space: pre-wrap;font-size: .9em;line-height: 2em;}
.nv-content-wrap:after, .excerpt-wrap:after {content: "";clear: both;display: table;}
.nv-content-wrap ul, .excerpt-wrap ul {list-style-type: circle;}
.nv-content-wrap > ul, .nv-content-wrap > ol, .excerpt-wrap > ul, .excerpt-wrap > ol {margin: 20px 0;}
.nv-content-wrap ul, .nv-content-wrap ol, .excerpt-wrap ul, .excerpt-wrap ol {padding-right: 20px;}
.nv-content-wrap ul li, .nv-content-wrap ol li, .excerpt-wrap ul li, .excerpt-wrap ol li {margin-top: 10px;}
.nv-content-wrap dt, .excerpt-wrap dt {font-weight: 600;display: block;}
.alignleft {float: right;margin: 16px 0 16px 16px;}
.alignright {float: left;margin: 16px 16px 16px 0;}
.aligncenter {display: block;text-align: center;margin: 0 auto;}
.wp-caption {max-width: 100%;}
.wp-caption-text {text-align: center;font-size: .8em;font-weight: 500;}
.twitter-tweet.twitter-tweet-rendered {padding: 20px 0;margin: auto;}
hr {border: 0;height: 0;border-top: 1px solid #f0f0f0;margin: 10px 0;display: inline-block;width: 100%;}
audio {display: flex;height: 50px;}
.gallery-columns-1 .gallery-item {width: 100%;max-width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 48%;width: 48%;}
.gallery-columns-3 .gallery-item {max-width: 31.3333333333%;width: 31.3333333333%;}
.gallery-columns-4 .gallery-item {max-width: 23%;width: 23%;}
.gallery-columns-5 .gallery-item {max-width: 18%;width: 18%;}
.gallery-columns-6 .gallery-item {max-width: 14.6666666667%;width: 14.6666666667%;}
.gallery-columns-7 .gallery-item {max-width: 12.2857142857%;width: 12.2857142857%;}
.gallery-columns-8 .gallery-item {max-width: 10.5%;width: 10.5%;}
.gallery-columns-9 .gallery-item {max-width: 9.1111111111%;width: 9.1111111111%;}
.gallery {display: flex;flex-wrap: wrap;justify-content: space-between;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;}
.nv-content-wrap ul.wp-block-gallery {padding-right: 0;}
.gallery-caption {box-sizing: border-box;}
.nv-sidebar-wrap {margin-bottom: 40px;}
.widget {word-break: break-word;padding-bottom: 20px;margin-bottom: 20px;}
.widget select {max-width: 100%;width: 100%;}
.widget p.widget-title {margin-bottom: 10px;font-weight: 600;font-size: 1.25em;}
.widget:last-child {border: none;margin: 0;padding: 0;}
.widget ul {padding: 0;}
.widget ul ul {padding-right: 10px;border-right: 1px solid #f0f0f0;}
.widget ul li {margin-top: 5px;}
.widget_media_image img {width: 100%;}
.neve-breadcrumbs-wrapper {margin-bottom: 0;}
.neve-breadcrumbs-wrapper a {color: #676767;}
@media (min-width: 576px) {.container {max-width: 540px;}
	.col-sm {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.col-sm-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.col-sm-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.col-sm-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.col-sm-3 {flex: 0 0 25%;max-width: 25%;}
	.col-sm-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.col-sm-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.col-sm-6 {flex: 0 0 50%;max-width: 50%;}
	.col-sm-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.col-sm-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.col-sm-9 {flex: 0 0 75%;max-width: 75%;}
	.col-sm-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.col-sm-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.col-sm-12 {flex: 0 0 100%;max-width: 100%;}}
@media (min-width: 769px) {.col-md {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.col-md-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.col-md-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.col-md-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.col-md-3 {flex: 0 0 25%;max-width: 25%;}
	.col-md-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.col-md-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.col-md-6 {flex: 0 0 50%;max-width: 50%;}
	.col-md-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.col-md-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.col-md-9 {flex: 0 0 75%;max-width: 75%;}
	.col-md-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.col-md-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.col-md-12 {flex: 0 0 100%;max-width: 100%;}
	h1 {font-size: 2em;}
	h2 {font-size: 1.75em;}
	h3 {font-size: 1.5em;}
	h4 {font-size: 1.25em;}
	h5 {font-size: 1em;}
	h6 {font-size: 1em;}
	.has-neve-body-font-size {font-size: 16px;}
	.has-neve-h-1-font-size {font-size: 2em;}
	.has-neve-h-2-font-size {font-size: 1.75em;}
	.has-neve-h-3-font-size {font-size: 1.5em;}
	.has-neve-h-4-font-size {font-size: 1.25em;}
	.has-neve-h-5-font-size {font-size: 1em;}
	.has-neve-h-6-font-size {font-size: 1em;}
	#comments .nv-comments-list > li {margin-top: 20px;}
	#comments ol > ol {padding-right: 20px;}
	#comments .comment-form {grid-template-columns: repeat(3,1fr);}
	#comments .comment-form > *:not(.comment-form-author):not(.comment-form-url):not(.comment-form-email) {grid-column: span 3;}
	#comments .form-submit {align-items: center;justify-content: flex-end;display: flex;margin-top: 0;}
	.hidden-on-mobile {display: initial;}
	.hidden-on-tablet {display: none;}}
@media (min-width: 960px) {.neve-main > .container .col {max-width: 70%;}
	[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {margin: auto;max-width: 70%;padding: 0 15px;}
	.neve-main > .container > .row {flex-wrap: nowrap;}
	.nv-empty-sidebar .neve-main > .container .col {max-width: 100%;}
	.hfg-item-left #secondary-menu li:not(:last-of-type), .hfg-item-center #secondary-menu li:not(:last-of-type) {margin-left: 20px;}
	.hfg-item-right #secondary-menu li:not(:first-of-type) {margin-right: 20px;}
	.hfg-item-left .header--row .primary-menu-ul li:not(:last-child), .hfg-item-center .header--row .primary-menu-ul li:not(:last-child) {margin-left: 20px;}
	.hfg-item-right .header--row .primary-menu-ul li:not(:first-child) {margin-right: 20px;}
	.row .nv-nav-wrap {flex-direction: row;align-items: center;padding-bottom: 0;}
	.row .primary-menu-ul .amp-caret-wrap {display: none;}
	.row .primary-menu-ul .amp-desktop-caret-wrap {display: block;}
	.row .primary-menu-ul {display: flex;flex-wrap: wrap;padding-right: 0;list-style-type: none;overflow-y: inherit;max-height: inherit;margin-right: auto;}
	.row .primary-menu-ul > li {width: inherit;padding: 10px 0;}
	.row .primary-menu-ul > li > a {display: flex;align-items: center;justify-content: center;height: 100%;}
	.row .primary-menu-ul > li li a {position: relative;}
	.row .primary-menu-ul li:hover > a, .row .primary-menu-ul li:focus > a {color: #0366d6;text-decoration: none;}
	.row .primary-menu-ul .sub-menu {-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);-moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);box-shadow: 0 2px 5px rgba(0,0,0,.1);max-height: inherit;padding: 0;top: 100%;background: #fff;border-right: none;border-top: 1px solid #f0f0f0;position: absolute;overflow: visible;z-index: 100;opacity: 0;visibility: hidden;}
	.row .primary-menu-ul .sub-menu.dropdown-open {opacity: 1;visibility: visible;}
	.row .primary-menu-ul .sub-menu .sub-menu {right: 100%;left: auto;top: -1px;}
	.row .primary-menu-ul .sub-menu li {display: flex;flex-direction: column;align-items: center;background-color: #fff;border: 1px solid #f0f0f0;border-top: none;min-width: 150px;cursor: default;}
	.row .primary-menu-ul .sub-menu li a {display: flex;justify-content: center;align-items: center;white-space: nowrap;width: 100%;padding: 7px 14px;}
	.row .primary-menu-ul .menu-item-has-children:hover > .sub-menu, .row .primary-menu-ul .menu-item-has-children:focus > .sub-menu, .row .primary-menu-ul .menu-item-has-children:focus-within > .sub-menu {display: block;visibility: visible;opacity: 1;}
	.row .primary-menu-ul .menu-item-has-children > a {display: flex;align-items: center;}
	.row .primary-menu-ul > .menu-item-has-children > .sub-menu {left: 0;}
	.row .caret-wrap {position: relative;font-size: .65em;padding-right: 0;margin-right: 5px;}
	.row .menu-item-has-children:last-child .caret {padding-left: 0;}
	.row ul[id^="nv-primary-navigation"] .menu-item-nav-search:not(.responsive-nav-search) {display: block;}
	.layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {margin-bottom: 0;}
	.layout-default .article-content-col .content, .layout-alternative .article-content-col .content {display: flex;align-items: center;}
	.layout-default .article-content-col .content {flex-direction: row;}
	.layout-alternative .article-content-col .content {flex-direction: row-reverse;}
	.non-grid-content {display: flex;flex-direction: column;width: 100%;}
	.non-grid-content .button {align-self: flex-start;}
	.nv-post-thumbnail-wrap ~ .default-layout-content {padding-right: 20px;}
	.nv-post-thumbnail-wrap ~ .alternative-layout-content {padding-left: 20px;}
	.layout-default .nv-post-thumbnail-wrap, .layout-alternative .nv-post-thumbnail-wrap {max-width: 40%;}
	article.layout-alternative:nth-child(even) .article-content-col .content {flex-direction: row;}
	article.layout-alternative:nth-child(even) .article-content-col .content .nv-post-thumbnail-wrap ~ .alternative-layout-content {padding: 0 40px 0 0;}
	.non-grid-content > .entry-title {margin-top: 0;}
	.archive-container {padding-top: 30px;}
	.nv-content-none-wrap {margin-bottom: 0;}
	.nv-sidebar-wrap {max-width: 30%;}
	.nv-sidebar-wrap.nv-right {border-right: 1px solid #f0f0f0;}
	.nv-sidebar-wrap.nv-left {border-left: 1px solid #f0f0f0;}
	.nv-sidebar-wrap .row {flex-wrap: nowrap;}
	.nv-index-posts:not(:only-child) {padding-left: 15px;}
	.nv-sidebar-wrap.nv-left + .nv-index-posts:not(:only-child) {padding-right: 15px;}
	.nv-single-post-wrap, .nv-single-page-wrap, .nv-index-posts {margin-bottom: 40px;}
	.nv-single-post-wrap:not(:only-child), .nv-single-page-wrap:not(:only-child), .nv-index-posts:not(:only-child) {padding-left: 40px;}
	.nv-sidebar-wrap.nv-left + .nv-single-post-wrap:not(:only-child), .nv-sidebar-wrap.nv-left + .nv-single-page-wrap:not(:only-child), .nv-sidebar-wrap.nv-left + .nv-index-posts:not(:only-child) {padding-left: 15px;padding-right: 40px;}
	.nv-sidebar-wrap.nv-right {padding-right: 40px;}
	.nv-sidebar-wrap.nv-left {padding-left: 40px;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu {position: static;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu > .sub-menu {width: 950px;position: absolute;display: flex;padding: 20px;right: 25%;transform: translateX(50%);}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu > .sub-menu:not(.dropdown-open) {pointer-events: none;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu:hover > .sub-menu, .nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu:focus > .sub-menu, .nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu:focus-within > .sub-menu {opacity: 1;visibility: visible;pointer-events: all;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu li > a, .nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu li > span {padding: 7px 0;margin: 0 14px;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col > .sub-menu {visibility: visible;position: relative;right: initial;left: initial;opacity: 1;box-shadow: none;display: flex;flex-direction: column;text-align: right;width: 100%;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col > .sub-menu a {white-space: normal;justify-content: flex-start;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col {padding: 0 10px;align-items: flex-start;border: none;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col:not(:last-child) {border-left: 1px solid #f0f0f0;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col > .sub-menu li:not(.neve-mm-divider) {border: none;}
	.neve-mm-description {justify-content: center;padding: 0 12px 7px;}
	.hidden-on-tablet {display: initial;}
	.show-on-desktop {display: initial;}}
@media (min-width: 1200px) {.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu {position: static;}
	.nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu > .sub-menu {width: 1170px;}}
.neve-main .elementor-text-editor ul, .neve-main .elementor-text-editor ol {padding-right: 20px;}
.neve-main .elementor-text-editor ul {list-style: inherit;}
.site-header {position: relative;}
.site-header .hfg-container {display: flex;flex-direction: column;justify-content: center;}
.builder-item {margin-top: 4px;margin-bottom: 4px;}
@media (min-width: 960px) {.builder-item {margin-top: 8px;margin-bottom: 8px;}}
.page_header--row .page_header--row-inner, .page_header--row .page_header--row-inner .container .row {display: flex;align-items: center;position: relative;}
.page_header--row.layout-fullwidth .page_header--row-inner .container {max-width: 100% !important;}
.page_header--row.layout-contained {max-width: 1200px;margin: 0 auto;}
.header--row .header--row-inner, .header--row .header--row-inner .container .row {display: flex;align-items: center;position: relative;}
.header--row.layout-fullwidth .header--row-inner .container {max-width: 100% !important;}
.header--row.layout-contained {max-width: 1200px;margin: 0 auto;}
.footer--row .footer--row-inner, .footer--row .footer--row-inner .container .row {display: flex;align-items: center;position: relative;}
.footer--row.layout-fullwidth .footer--row-inner .container {max-width: 100% !important;}
.footer--row.layout-contained {max-width: 1200px;margin: 0 auto;}
.hfg_header.site-header {-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.1);-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.1);box-shadow: 0 -1px 3px rgba(0,0,0,.1);}
.hfg-is-group {display: flex;align-items: center;}
.hfg-is-group.hfg-item-right {justify-content: flex-end;}
.hfg-item-right {text-align: left;}
.hfg-item-right #secondary-menu, .hfg-item-right .primary-menu-ul, .hfg-item-right .nv-nav-wrap, .hfg-item-right .component-wrap, .hfg-item-right .site-logo, .hfg-item-right .nv-search-icon-component, .hfg-item-right .builder-item--footer-menu {justify-content: flex-end;}
.hfg-is-group.hfg-item-left {justify-content: flex-start;}
.hfg-item-left {text-align: right;}
.hfg-item-left #secondary-menu, .hfg-item-left .primary-menu-ul, .hfg-item-left .nv-nav-wrap, .hfg-item-left .component-wrap, .hfg-item-left .site-logo, .hfg-item-left .nv-search-icon-component, .hfg-item-left .builder-item--footer-menu {justify-content: flex-start;}
.hfg-is-group.hfg-item-center {justify-content: center;}
.hfg-item-center {text-align: center;}
.hfg-item-center #secondary-menu, .hfg-item-center .primary-menu-ul, .hfg-item-center .nv-nav-wrap, .hfg-item-center .component-wrap, .hfg-item-center .site-logo, .hfg-item-center .nv-search-icon-component, .hfg-item-center .builder-item--footer-menu {justify-content: center;}
.hfg-item-justify .button {flex-grow: 1;}
.header-menu-sidebar {padding: 0;position: fixed;width: 100%;max-width: 100%;top: 0;z-index: 999900;visibility: hidden;}
.header-menu-sidebar .builder-item-sidebar {padding: 1.4em 1.5em;border-bottom: 1px solid transparent;}
.header-menu-sidebar .builder-item-sidebar:last-of-type {border-bottom: none;}
.header-menu-sidebar .builder-item-sidebar.mobile-item--primary-menu, .header-menu-sidebar .builder-item-sidebar.mobile-item--secondary-menu, .header-menu-sidebar .builder-item-sidebar.mobile-item--menu {padding: 0;}
.header-menu-sidebar .nav-menu-mobile .nav-toggle-icon {color: currentColor;}
.header-menu-sidebar .nav-menu-mobile .nav-toggle-icon:hover, .header-menu-sidebar .nav-menu-mobile .nav-toggle-icon:focus {background: rgba(0,0,0,.01);}
.header-menu-sidebar-bg {position: relative;word-wrap: break-word;min-height: 100%;display: block;}
.header-menu-sidebar-bg:before {content: "";position: absolute;top: 0;bottom: 0;right: 0;left: 0;display: block;min-height: 100%;}
.header-menu-sidebar-inner {position: relative;word-wrap: break-word;min-height: 100%;padding: 1.2em 0;display: flex;flex-direction: column;}
.menu_sidebar_slide_left .header-menu-sidebar {box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);width: 360px;right: 0;transform: translate3d(100%,0,0);transition: transform .5s cubic-bezier(.79,.14,.15,.86);}
.menu_sidebar_dropdown .header-menu-sidebar {position: relative;height: 0;display: block;visibility: visible;z-index: 999900;overflow: hidden;}
.menu_sidebar_dropdown .header-menu-sidebar .close-sidebar-panel {display: none;}
.menu_sidebar_dropdown .header-menu-sidebar-inner {max-width: 48em;margin: 0 auto;}
.menu_sidebar_dropdown .header-menu-sidebar-bg:before {box-shadow: inset 0 0 12px 0 rgba(0,0,0,.05);}
.hiding-header-menu-sidebar.menu_sidebar_slide_left .header-menu-sidebar {height: 100%;transform: translateX(100%);transition: transform .5s cubic-bezier(.79,.14,.15,.86);}
.hiding-header-menu-sidebar .header-menu-sidebar {visibility: visible;}
.is-menu-sidebar, .is-mobile-form-panel {overflow-x: hidden;}
.is-menu-sidebar .header-menu-sidebar {overflow: auto;}
.is-menu-sidebar.menu_sidebar_slide_left {width: 100%;display: block;}
.is-menu-sidebar.menu_sidebar_slide_left .header-menu-sidebar {z-index: 999900;height: 100vh;transform: translate3d(0,0,0);right: 0;visibility: visible;}
.is-menu-sidebar.menu_sidebar_dropdown .header-menu-sidebar {z-index: 10;visibility: visible;height: auto !important;max-height: 450px;}
.header-menu-sidebar .menu-item-nav-search {display: flex;align-items: center;}
.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search {margin-right: 20px;position: relative;background-color: transparent;border: 0;display: flex;box-shadow: none;flex-direction: row-reverse;width: 100%;padding: 0;line-height: 1;}
.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search .close-container {position: static;top: unset;width: 35%;padding: 0;}
.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search form input:not([type="submit"]) {background-color: #fff;}
.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search input[type="submit"] {line-height: 1;}
.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search .nv-icon {line-height: 1;}
.header-menu-sidebar .navbar-toggle-wrapper {display: flex;align-items: center;justify-content: flex-end;width: 100%;z-index: 999910;padding: 8px 10px;}
.header-menu-sidebar .navbar-toggle-wrapper button.navbar-toggle {position: relative;}
.is-menu-sidebar:before, .is-mobile-form-panel:before {z-index: 100000;visibility: visible;opacity: 1;}
.header-menu-sidebar .item--inner {transition: transform .3s,opacity .3s;transform: translateY(45px);opacity: 0;}
.is-menu-sidebar .header-menu-sidebar .item--inner, .is-mobile-form-panel .header-menu-sidebar .item--inner {opacity: 1;transform: translateY(0);}
body.menu_sidebar_slide_left .header-menu-sidebar-overlay {top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.5);position: fixed;transform: translate3d(0,0,0);z-index: 999899;transition: all .5s linear;display: none;visibility: hidden;opacity: 0;}
body.menu_sidebar_slide_left.is-menu-sidebar .header-menu-sidebar-overlay {display: block;visibility: visible;opacity: 1;}
body.menu_sidebar_slide_left.menu_sidebar_dropdown:before {display: none;}
@media (max-width: 960px) {.footer--row .builder-item {width: 100%;max-width: 100%;flex: 0 0 100%;margin-right: 0;}
	.footer--row .builder-item:not(:last-child) {margin-bottom: 30px;}
	.nv-footer-content {flex-wrap: wrap;}}
.site-footer {position: relative;z-index: 10;}
.site-footer .item--inner:not([class*="widgets"]):not([class*=copyright]):not([class*=social]) {width: 100%;max-width: 100%;align-items: center;display: flex;}
.footer-main .footer--row-inner {padding-top: 2.5em;padding-bottom: 2.5em;}
.footer--row.layout-fullwidth .hfg-container {max-width: initial;}
.footer--row .builder-item--group {justify-content: flex-start;}
.footer--row .builder-item--group .item--inner {width: auto;}
.footer-main .builder-item .widget-area .widget:last-child, .footer-top .builder-item .widget-area .widget:last-child, .footer-bottom .builder-item .widget-area .widget:last-child {margin-bottom: 0;}
.site-footer p:last-child {margin-bottom: 0;}
.site-footer ul, .site-footer li {list-style: none;margin: 0;}
.site-footer ul ul {margin-right: 2.617924em;}
.footer-copyright {font-size: .875em;}
.item-button {display: inline-block;}
.style-border-top ul:not(.max-mega-menu) > li:hover > a, .style-border-bottom ul:not(.max-mega-menu) > li:hover > a, .style-full-height ul:not(.max-mega-menu) > li:hover > a {text-decoration: none;}
.style-border-top ul:not(.max-mega-menu) > li:hover > a:after, .style-border-bottom ul:not(.max-mega-menu) > li:hover > a:after, .style-full-height ul:not(.max-mega-menu) > li:hover > a:after {width: 100% !important;}
.style-border-top ul > li.menu-item-nav-cart:hover a, .style-border-top ul > li.menu-item-nav-search:hover a, .style-border-bottom ul > li.menu-item-nav-cart:hover a, .style-border-bottom ul > li.menu-item-nav-search:hover a, .style-full-height ul > li.menu-item-nav-cart:hover a, .style-full-height ul > li.menu-item-nav-search:hover a {opacity: .75;}
.style-border-bottom a:after {bottom: 0;}
.style-border-bottom .sub-menu a:after {bottom: 5px;}
.header-menu-sidebar-inner .style-border-bottom .sub-menu a:after {bottom: 0;}
.style-border-top a:after {top: 0;}
.style-border-top .sub-menu a:after {top: 5px;}
.header-menu-sidebar-inner .style-border-top .sub-menu a:after {top: 0;}
.style-full-height .primary-menu-ul li:hover > a, .style-full-height .row .primary-menu-ul li:focus > a {color: #404248;}
.style-full-height a {position: relative;align-items: center;z-index: 1;}
.style-full-height a:after {top: 0;bottom: 0;right: 0;left: 0;height: auto !important;z-index: -1;}
.style-full-height .sub-menu a:after {top: 5px;bottom: 5px;}
#secondary-menu {display: flex;flex-wrap: wrap;justify-content: flex-start;}
#secondary-menu li {position: relative;width: inherit;}
#secondary-menu li a {display: flex;position: relative;align-items: center;text-align: center;font-weight: 500;}
#secondary-menu li:last-of-type a {padding-left: 0;}
#secondary-menu li:first-of-type a {padding-right: 0;}
#secondary-menu i {font-size: inherit;line-height: inherit;width: 20px;margin-top: 0;}
.header-menu-sidebar #secondary-menu {flex-direction: column;}
.header-menu-sidebar #secondary-menu li a {padding: 5px 0;}
.header-menu-sidebar .nav-menu-primary ul {flex-direction: column;display: flex;}
.header-menu-sidebar .nav-menu-primary ul li {background-color: transparent;padding: 3px 0;}
.header-menu-sidebar .nav-menu-primary ul li a {padding: 3px 0;}
.header-menu-sidebar .nav-menu-primary ul .sub-menu {background-color: transparent;}
.nav-menu-footer a {display: flex;justify-content: center;position: relative;}
.header-menu-sidebar-inner #mega-menu-wrap-primary .mega-menu-toggle {display: none;}
.header-menu-sidebar-inner #mega-menu-wrap-primary .mega-menu-toggle + #mega-menu-primary {display: block;}
@media (min-width: 960px) {.mega-menu-primary .nav-menu-primary {width: 100%;}
	.style-border-top ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after, .style-border-bottom ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after, .style-full-height ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after {position: absolute;content: "";display: block;margin: 0 auto;width: 0;height: 2px;background-color: #0366d6;transition: opacity .3s ease,width .3s ease;left: 0;right: 0;pointer-events: none;}}
.nav-toggle-label {margin-left: 5px;line-height: 100%;}
.icon-bar {transition: all .1s ease;position: relative;display: block;border-radius: 2px;width: 15px;height: 2px;}
.icon-bar:nth-child(2) {margin: 3px 0;}
.navbar-toggle-wrapper {align-items: center;}
.navbar-toggle {border-radius: 3px;background: none;cursor: pointer;padding: 10px 15px;display: flex;align-items: center;border: 1px solid;}
.navbar-toggle:hover {box-shadow: none;transform: none;background: transparent;}
.is-menu-sidebar .navbar-toggle .icon-bar:nth-child(1) {transform: rotate(-45deg);top: 5px;}
.is-menu-sidebar .navbar-toggle .icon-bar:nth-child(2) {opacity: 0;}
.is-menu-sidebar .navbar-toggle .icon-bar:nth-child(3) {transform: rotate(45deg);bottom: 5px;}
.builder-item div[class*="builder-item--header_search"]:not(.builder-item--header_search_responsive) {line-height: 1;flex-grow: 1;}
.builder-item div[class*="builder-item--header_search"]:not(.builder-item--header_search_responsive) .widget-search {width: 100%;}
.builder-item div[class*="builder-item--header_search"]:not(.builder-item--header_search_responsive) input[type="search"] {background-color: #fff;}
.hfg-is-group > div:first-of-type .button {margin-left: 20px;}
.hfg-is-group > div:last-of-type .button {margin-right: 20px;}
.nv-search-icon-component a {padding: 10px 0;}
.hfg-grid {display: flex;}
@media (min-width: 960px) {.hide-on-desktop, .hfg-grid .hide-on-desktop {display: none;}}
@media (max-width: 959px) {.hide-on-tablet, .hfg-grid .hide-on-tablet {display: none;}}
@media (max-width: 576px) {.hide-on-mobile, .hfg-grid .hide-on-mobile {display: none;}}
.component-wrap {display: flex;margin: 4px 0;}
.builder-item--footer_copyright .component-wrap {display: inline;}