.elementor-226 .elementor-element.elementor-element-d58ea62 {padding: 80px 20px 80px 20px;}
.elementor-226 .elementor-element.elementor-element-978314f > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-794c29e > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-4289a2a:not(.elementor-motion-effects-element-type-background), .elementor-226 .elementor-element.elementor-element-4289a2a > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-226 .elementor-element.elementor-element-4289a2a {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-226 .elementor-element.elementor-element-4289a2a > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-180b719 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-bc-flex-widget .elementor-226 .elementor-element.elementor-element-b10cbf9.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-226 .elementor-element.elementor-element-b10cbf9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-226 .elementor-element.elementor-element-b10cbf9 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-e479d2f {font-size: 1.2em;}
.elementor-226 .elementor-element.elementor-element-3ba47cd:not(.elementor-motion-effects-element-type-background), .elementor-226 .elementor-element.elementor-element-3ba47cd > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #18191d;}
.elementor-226 .elementor-element.elementor-element-3ba47cd {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-226 .elementor-element.elementor-element-3ba47cd > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-3ba47cd .elementor-heading-title {color: #fff;}
.elementor-bc-flex-widget .elementor-226 .elementor-element.elementor-element-1d6aef9.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-226 .elementor-element.elementor-element-1d6aef9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-226 .elementor-element.elementor-element-1d6aef9 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-7bf2068 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-226 .elementor-element.elementor-element-7bf2068 .elementor-button:hover, .elementor-226 .elementor-element.elementor-element-7bf2068 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-226 .elementor-element.elementor-element-7bf2068 .elementor-button:hover svg, .elementor-226 .elementor-element.elementor-element-7bf2068 .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-226 .elementor-element.elementor-element-0666b8c > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-834445e {padding: 80px 20px 80px 20px;}
.elementor-226 .elementor-element.elementor-element-b6760f2 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-85a8e33.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-85a8e33.elementor-view-framed .elementor-icon, .elementor-226 .elementor-element.elementor-element-85a8e33.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-85a8e33.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-226 .elementor-element.elementor-element-85a8e33.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-226 .elementor-element.elementor-element-85a8e33.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-226 .elementor-element.elementor-element-85a8e33 .elementor-icon {font-size: 28px;}
.elementor-226 .elementor-element.elementor-element-85a8e33 .elementor-icon i {transform: rotate(0deg);}
.elementor-226 .elementor-element.elementor-element-85a8e33 .elementor-icon-box-content .elementor-icon-box-description {font-size: .9em;}
.elementor-226 .elementor-element.elementor-element-65d464a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-e919e41.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-e919e41.elementor-view-framed .elementor-icon, .elementor-226 .elementor-element.elementor-element-e919e41.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-e919e41.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-226 .elementor-element.elementor-element-e919e41.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-226 .elementor-element.elementor-element-e919e41.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-226 .elementor-element.elementor-element-e919e41 .elementor-icon {font-size: 28px;}
.elementor-226 .elementor-element.elementor-element-e919e41 .elementor-icon i {transform: rotate(0deg);}
.elementor-226 .elementor-element.elementor-element-e919e41 .elementor-icon-box-content .elementor-icon-box-description {font-size: .9em;}
.elementor-226 .elementor-element.elementor-element-fc1d2b8 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-cda6012.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-cda6012.elementor-view-framed .elementor-icon, .elementor-226 .elementor-element.elementor-element-cda6012.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-226 .elementor-element.elementor-element-cda6012.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-226 .elementor-element.elementor-element-cda6012.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-226 .elementor-element.elementor-element-cda6012.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-226 .elementor-element.elementor-element-cda6012 .elementor-icon {font-size: 28px;}
.elementor-226 .elementor-element.elementor-element-cda6012 .elementor-icon i {transform: rotate(0deg);}
.elementor-226 .elementor-element.elementor-element-cda6012 .elementor-icon-box-content .elementor-icon-box-description {font-size: .9em;}
.elementor-226 .elementor-element.elementor-element-a048956:not(.elementor-motion-effects-element-type-background), .elementor-226 .elementor-element.elementor-element-a048956 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-226 .elementor-element.elementor-element-a048956 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-226 .elementor-element.elementor-element-a048956 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-a048956 > .elementor-container {text-align: center;}
.elementor-bc-flex-widget .elementor-226 .elementor-element.elementor-element-4c87927.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-226 .elementor-element.elementor-element-4c87927.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-226 .elementor-element.elementor-element-4c87927 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-4c87927 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-0ea54b7 .elementor-heading-title {font-size: .8em;font-weight: bold;text-transform: uppercase;}
.elementor-226 .elementor-element.elementor-element-1894285 .elementor-social-icon {font-size: 15px;}
.elementor-bc-flex-widget .elementor-226 .elementor-element.elementor-element-76a08e3.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-226 .elementor-element.elementor-element-76a08e3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-226 .elementor-element.elementor-element-76a08e3 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-76a08e3 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-3a1dc48 .elementor-heading-title {font-size: .8em;font-weight: bold;text-transform: uppercase;}
.elementor-226 .elementor-element.elementor-element-5b17907 .elementor-social-icon {font-size: 15px;}
.elementor-bc-flex-widget .elementor-226 .elementor-element.elementor-element-5a44266.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-226 .elementor-element.elementor-element-5a44266.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-226 .elementor-element.elementor-element-5a44266 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-226 .elementor-element.elementor-element-5a44266 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-226 .elementor-element.elementor-element-7066e67 .elementor-heading-title {font-size: .8em;font-weight: bold;text-transform: uppercase;}
.elementor-226 .elementor-element.elementor-element-f825fee .elementor-social-icon {font-size: 15px;}
@media (min-width:768px) {.elementor-226 .elementor-element.elementor-element-978314f {width: 67%;}
	.elementor-226 .elementor-element.elementor-element-794c29e {width: 33%;}}
@media (max-width:1024px) {.elementor-226 .elementor-element.elementor-element-d58ea62 {padding: 40px 20px 40px 20px;}
	.elementor-226 .elementor-element.elementor-element-4289a2a {padding: 40px 20px 40px 20px;}
	.elementor-226 .elementor-element.elementor-element-3ba47cd {padding: 40px 20px 40px 20px;}
	.elementor-226 .elementor-element.elementor-element-834445e {padding: 40px 20px 40px 20px;}
	.elementor-226 .elementor-element.elementor-element-a048956 {padding: 40px 20px 40px 20px;}}
@media (max-width:767px) {.elementor-226 .elementor-element.elementor-element-d58ea62 {padding: 20px 20px 20px 20px;}
	.elementor-226 .elementor-element.elementor-element-4289a2a {padding: 20px 20px 20px 20px;}
	.elementor-226 .elementor-element.elementor-element-3ba47cd {padding: 20px 20px 20px 20px;}
	.elementor-226 .elementor-element.elementor-element-834445e {padding: 20px 20px 20px 20px;}
	.elementor-226 .elementor-element.elementor-element-85a8e33 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-226 .elementor-element.elementor-element-e919e41 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-226 .elementor-element.elementor-element-cda6012 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-226 .elementor-element.elementor-element-a048956 {padding: 20px 20px 20px 20px;}}