.elementor-201 .elementor-element.elementor-element-14e82f8:not(.elementor-motion-effects-element-type-background), .elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: transparent;background-image: linear-gradient(140deg,#0a1e68 0%,#0043e8 100%);}
.elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-09.jpg");background-position: top center;background-size: cover;opacity: .5;mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-14e82f8, .elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-background-overlay {border-radius: 0px 0px 240px 0px;}
.elementor-201 .elementor-element.elementor-element-14e82f8 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;}
.elementor-201 .elementor-element.elementor-element-14e82f8 .elementor-heading-title {color: #fff;}
.elementor-201 .elementor-element.elementor-element-868d766 > .elementor-element-populated {padding: 80px 20px 80px 20px;}
.elementor-201 .elementor-element.elementor-element-6a95209 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-201 .elementor-element.elementor-element-f30d6d4 {color: #fff;font-size: 1.3em;}
.elementor-201 .elementor-element.elementor-element-e537be5 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-201 .elementor-element.elementor-element-7dcc192, .elementor-201 .elementor-element.elementor-element-7dcc192 > .elementor-background-overlay {border-radius: 0px 0px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-7dcc192 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-201 .elementor-element.elementor-element-7dcc192 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-65792c0 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-963b171:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-201 .elementor-element.elementor-element-963b171 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-201 .elementor-element.elementor-element-963b171 > .elementor-element-populated, .elementor-201 .elementor-element.elementor-element-963b171 > .elementor-element-populated > .elementor-background-overlay, .elementor-201 .elementor-element.elementor-element-963b171 > .elementor-background-slideshow {border-radius: 0px 0px 4px 4px;}
.elementor-201 .elementor-element.elementor-element-963b171 > .elementor-element-populated {box-shadow: 4px 0px 25px 0px rgba(0,0,0,.05);transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-963b171:hover > .elementor-element-populated {box-shadow: 4px 0px 25px 0px rgba(0,0,0,.15);}
.elementor-201 .elementor-element.elementor-element-963b171 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-fbb3339 .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-fbb3339 > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-201 .elementor-element.elementor-element-dd235f6.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-dd235f6.elementor-view-framed .elementor-icon, .elementor-201 .elementor-element.elementor-element-dd235f6.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-dd235f6.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-201 .elementor-element.elementor-element-dd235f6.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-201 .elementor-element.elementor-element-dd235f6.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-201 .elementor-element.elementor-element-dd235f6 .elementor-icon {font-size: 38px;}
.elementor-201 .elementor-element.elementor-element-dd235f6 .elementor-icon i {transform: rotate(0deg);}
.elementor-201 .elementor-element.elementor-element-dd235f6 .elementor-icon-box-wrapper {text-align: left;}
.elementor-201 .elementor-element.elementor-element-dd235f6 > .elementor-widget-container {padding: 20px 20px 20px 20px;background-color: #fff;}
.elementor-201 .elementor-element.elementor-element-7d51cf2 {text-align: left;}
.elementor-201 .elementor-element.elementor-element-7d51cf2 .elementor-heading-title {color: #0043e8;font-size: .9em;font-weight: 700;}
.elementor-201 .elementor-element.elementor-element-7d51cf2 > .elementor-widget-container {padding: 0px 20px 0px 20px;}
.elementor-201 .elementor-element.elementor-element-668e9ea:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-element-populated, .elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-element-populated > .elementor-background-overlay, .elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-background-slideshow {border-radius: 0px 0px 4px 4px;}
.elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-element-populated {box-shadow: 4px 0px 25px 0px rgba(0,0,0,.05);transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-668e9ea:hover > .elementor-element-populated {box-shadow: 4px 0px 25px 0px rgba(0,0,0,.15);}
.elementor-201 .elementor-element.elementor-element-668e9ea > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-fb27883 .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-fb27883 > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-201 .elementor-element.elementor-element-bd69524.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-bd69524.elementor-view-framed .elementor-icon, .elementor-201 .elementor-element.elementor-element-bd69524.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-bd69524.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-201 .elementor-element.elementor-element-bd69524.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-201 .elementor-element.elementor-element-bd69524.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-201 .elementor-element.elementor-element-bd69524 .elementor-icon {font-size: 38px;}
.elementor-201 .elementor-element.elementor-element-bd69524 .elementor-icon i {transform: rotate(0deg);}
.elementor-201 .elementor-element.elementor-element-bd69524 .elementor-icon-box-wrapper {text-align: left;}
.elementor-201 .elementor-element.elementor-element-bd69524 > .elementor-widget-container {padding: 20px 20px 20px 20px;background-color: #fff;}
.elementor-201 .elementor-element.elementor-element-7b46407 {text-align: left;}
.elementor-201 .elementor-element.elementor-element-7b46407 .elementor-heading-title {color: #0043e8;font-size: .9em;font-weight: 700;}
.elementor-201 .elementor-element.elementor-element-7b46407 > .elementor-widget-container {padding: 0px 20px 0px 20px;}
.elementor-201 .elementor-element.elementor-element-acc5b4f:not(.elementor-motion-effects-element-type-background), .elementor-201 .elementor-element.elementor-element-acc5b4f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-201 .elementor-element.elementor-element-acc5b4f, .elementor-201 .elementor-element.elementor-element-acc5b4f > .elementor-background-overlay {border-radius: 200px 0px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-acc5b4f {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-201 .elementor-element.elementor-element-acc5b4f > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-f27b7cc > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-201 .elementor-element.elementor-element-22f5573 {padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-17fff79 > .elementor-element-populated {transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-17fff79 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-8548656 .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-201 .elementor-element.elementor-element-8548656 > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-bc-flex-widget .elementor-201 .elementor-element.elementor-element-e5cdd3a.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-201 .elementor-element.elementor-element-e5cdd3a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-201 .elementor-element.elementor-element-e5cdd3a > .elementor-element-populated {transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-e5cdd3a > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-7704bab.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-7704bab.elementor-view-framed .elementor-icon, .elementor-201 .elementor-element.elementor-element-7704bab.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-7704bab.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-201 .elementor-element.elementor-element-7704bab.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-201 .elementor-element.elementor-element-7704bab.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-201 .elementor-element.elementor-element-7704bab .elementor-icon {font-size: 38px;}
.elementor-201 .elementor-element.elementor-element-7704bab .elementor-icon i {transform: rotate(0deg);}
.elementor-201 .elementor-element.elementor-element-7704bab .elementor-icon-box-wrapper {text-align: left;}
.elementor-201 .elementor-element.elementor-element-7704bab > .elementor-widget-container {padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-a076ade {text-align: left;}
.elementor-201 .elementor-element.elementor-element-a076ade .elementor-heading-title {color: #0043e8;font-size: .9em;font-weight: 700;}
.elementor-201 .elementor-element.elementor-element-a076ade > .elementor-widget-container {padding: 0px 20px 0px 20px;}
.elementor-201 .elementor-element.elementor-element-da97efe {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-201 .elementor-element.elementor-element-da97efe > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-bc-flex-widget .elementor-201 .elementor-element.elementor-element-9e4eb7f.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-201 .elementor-element.elementor-element-9e4eb7f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-201 .elementor-element.elementor-element-9e4eb7f > .elementor-element-populated {transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-9e4eb7f > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-bf35025.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-bf35025.elementor-view-framed .elementor-icon, .elementor-201 .elementor-element.elementor-element-bf35025.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-bf35025.elementor-position-right .elementor-icon-box-icon {margin-left: 5px;}
.elementor-201 .elementor-element.elementor-element-bf35025.elementor-position-left .elementor-icon-box-icon {margin-right: 5px;}
.elementor-201 .elementor-element.elementor-element-bf35025.elementor-position-top .elementor-icon-box-icon {margin-bottom: 5px;}
.elementor-201 .elementor-element.elementor-element-bf35025 .elementor-icon {font-size: 38px;}
.elementor-201 .elementor-element.elementor-element-bf35025 .elementor-icon i {transform: rotate(0deg);}
.elementor-201 .elementor-element.elementor-element-bf35025 .elementor-icon-box-wrapper {text-align: left;}
.elementor-201 .elementor-element.elementor-element-bf35025 > .elementor-widget-container {padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-a468538 {text-align: left;}
.elementor-201 .elementor-element.elementor-element-a468538 .elementor-heading-title {color: #0043e8;font-size: .9em;font-weight: 700;}
.elementor-201 .elementor-element.elementor-element-a468538 > .elementor-widget-container {padding: 0px 20px 0px 20px;}
.elementor-201 .elementor-element.elementor-element-c67fc26 > .elementor-element-populated {transition: background .3s,border .5s,border-radius .5s,box-shadow .5s;margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-c67fc26 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .5s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-48c4aaf .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-201 .elementor-element.elementor-element-48c4aaf > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-201 .elementor-element.elementor-element-aafcaf4 > .elementor-container {max-width: 900px;}
.elementor-201 .elementor-element.elementor-element-aafcaf4 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-201 .elementor-element.elementor-element-aafcaf4:not(.elementor-motion-effects-element-type-background), .elementor-201 .elementor-element.elementor-element-aafcaf4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0043e8;}
.elementor-201 .elementor-element.elementor-element-aafcaf4 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-201 .elementor-element.elementor-element-aafcaf4 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-201 .elementor-element.elementor-element-aafcaf4 .elementor-heading-title {color: #fff;}
.elementor-201 .elementor-element.elementor-element-8775d63 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-201 .elementor-element.elementor-element-788170a {text-align: center;}
.elementor-201 .elementor-element.elementor-element-7c698b0 .elementor-text-editor {text-align: center;}
.elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button {font-weight: 700;fill: #0043e8;color: #0043e8;background-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(255,255,255,0);border-radius: 4px 4px 4px 4px;}
.elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button:hover, .elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button:focus {color: #fff;background-color: rgba(0,102,255,0);border-color: #fff;}
.elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button:hover svg, .elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button:focus svg {fill: #fff;}
@media (max-width:1024px) {.elementor-201 .elementor-element.elementor-element-14e82f8, .elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-background-overlay {border-radius: 0px 0px 160px 0px;}
	.elementor-201 .elementor-element.elementor-element-868d766 > .elementor-element-populated {padding: 40px 20px 40px 20px;}
	.elementor-201 .elementor-element.elementor-element-6a95209 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-e537be5 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-7dcc192 {padding: 40px 20px 40px 20px;}
	.elementor-201 .elementor-element.elementor-element-dd235f6 .elementor-icon-box-wrapper {text-align: left;}
	.elementor-201 .elementor-element.elementor-element-dd235f6 > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-bd69524 .elementor-icon-box-wrapper {text-align: left;}
	.elementor-201 .elementor-element.elementor-element-bd69524 > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-acc5b4f, .elementor-201 .elementor-element.elementor-element-acc5b4f > .elementor-background-overlay {border-radius: 160px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-acc5b4f {padding: 40px 20px 40px 20px;}
	.elementor-bc-flex-widget .elementor-201 .elementor-element.elementor-element-17fff79.elementor-column .elementor-column-wrap {align-items: center;}
	.elementor-201 .elementor-element.elementor-element-17fff79.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
	.elementor-201 .elementor-element.elementor-element-e5cdd3a > .elementor-element-populated {margin: 0px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-7704bab .elementor-icon-box-wrapper {text-align: left;}
	.elementor-201 .elementor-element.elementor-element-7704bab > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-9e4eb7f > .elementor-element-populated {margin: 0px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-bf35025 .elementor-icon-box-wrapper {text-align: left;}
	.elementor-201 .elementor-element.elementor-element-bf35025 > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-bc-flex-widget .elementor-201 .elementor-element.elementor-element-c67fc26.elementor-column .elementor-column-wrap {align-items: center;}
	.elementor-201 .elementor-element.elementor-element-c67fc26.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
	.elementor-201 .elementor-element.elementor-element-aafcaf4 {padding: 40px 20px 40px 20px;}}
@media (max-width:767px) {.elementor-201 .elementor-element.elementor-element-14e82f8, .elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-background-overlay {border-radius: 0px 0px 120px 0px;}
	.elementor-201 .elementor-element.elementor-element-868d766 > .elementor-element-populated {padding: 40px 0px 40px 0px;}
	.elementor-201 .elementor-element.elementor-element-7dcc192 {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-42caa6b {padding: 0px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-963b171 {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-fbb3339 {text-align: center;}
	.elementor-201 .elementor-element.elementor-element-dd235f6 .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-201 .elementor-element.elementor-element-668e9ea {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-fb27883 {text-align: center;}
	.elementor-201 .elementor-element.elementor-element-bd69524 .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-201 .elementor-element.elementor-element-acc5b4f, .elementor-201 .elementor-element.elementor-element-acc5b4f > .elementor-background-overlay {border-radius: 120px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-acc5b4f {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-22f5573 {padding: 0px 0px 0px 0px;}
	.elementor-201 .elementor-element.elementor-element-17fff79 {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-8548656 {text-align: center;}
	.elementor-201 .elementor-element.elementor-element-e5cdd3a {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-7704bab .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-201 .elementor-element.elementor-element-9e4eb7f {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-bf35025 .elementor-icon-box-icon {margin-bottom: 5px;}
	.elementor-201 .elementor-element.elementor-element-c67fc26 {width: 100%;}
	.elementor-201 .elementor-element.elementor-element-48c4aaf {text-align: center;}
	.elementor-201 .elementor-element.elementor-element-aafcaf4 {padding: 20px 20px 20px 20px;}
	.elementor-201 .elementor-element.elementor-element-c5d2ac6 .elementor-button {font-size: 16px;}}
@media (min-width:768px) {.elementor-201 .elementor-element.elementor-element-6a95209 {width: 66%;}
	.elementor-201 .elementor-element.elementor-element-e537be5 {width: 34%;}
	.elementor-201 .elementor-element.elementor-element-17fff79 {width: 40%;}
	.elementor-201 .elementor-element.elementor-element-e5cdd3a {width: 60%;}
	.elementor-201 .elementor-element.elementor-element-9e4eb7f {width: 60%;}
	.elementor-201 .elementor-element.elementor-element-c67fc26 {width: 40%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-201 .elementor-element.elementor-element-963b171 {width: 50%;}
	.elementor-201 .elementor-element.elementor-element-668e9ea {width: 50%;}
	.elementor-201 .elementor-element.elementor-element-17fff79 {width: 40%;}
	.elementor-201 .elementor-element.elementor-element-e5cdd3a {width: 60%;}
	.elementor-201 .elementor-element.elementor-element-9e4eb7f {width: 60%;}
	.elementor-201 .elementor-element.elementor-element-c67fc26 {width: 40%;}}
@media (min-width:1025px) {.elementor-201 .elementor-element.elementor-element-14e82f8 > .elementor-background-overlay {background-attachment: scroll;}}