.elementor-205 .elementor-element.elementor-element-72ae790:not(.elementor-motion-effects-element-type-background), .elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: transparent;background-image: linear-gradient(140deg,#0a1e68 0%,#0043e8 100%);}
.elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-09.jpg");background-position: top center;background-size: cover;opacity: .5;mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-72ae790, .elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-background-overlay {border-radius: 0px 0px 240px 0px;}
.elementor-205 .elementor-element.elementor-element-72ae790 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;}
.elementor-205 .elementor-element.elementor-element-72ae790 .elementor-heading-title {color: #fff;}
.elementor-205 .elementor-element.elementor-element-9d0101d > .elementor-element-populated {padding: 80px 20px 80px 20px;}
.elementor-205 .elementor-element.elementor-element-aa0d45a > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-f61e3a1 {color: #fff;font-size: 1.3em;}
.elementor-205 .elementor-element.elementor-element-779fafa > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-73bc36e:not(.elementor-motion-effects-element-type-background), .elementor-205 .elementor-element.elementor-element-73bc36e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-73bc36e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-205 .elementor-element.elementor-element-73bc36e > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-e730fc2 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-3ea0f35 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-852040d {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-205 .elementor-element.elementor-element-852040d .elementor-divider-separator {width: 80px;margin: 0 auto;margin-left: 0;}
.elementor-205 .elementor-element.elementor-element-852040d .elementor-divider {text-align: left;padding-top: 16px;padding-bottom: 16px;}
.elementor-205 .elementor-element.elementor-element-edb2647 .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-205 .elementor-element.elementor-element-c2d5f36 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-5add50e .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-205 .elementor-element.elementor-element-975f15a {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-205 .elementor-element.elementor-element-975f15a .elementor-divider-separator {width: 80px;margin: 0 auto;margin-left: 0;}
.elementor-205 .elementor-element.elementor-element-975f15a .elementor-divider {text-align: left;padding-top: 16px;padding-bottom: 16px;}
.elementor-205 .elementor-element.elementor-element-d07de90 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-205 .elementor-element.elementor-element-d07de90:not(.elementor-motion-effects-element-type-background), .elementor-205 .elementor-element.elementor-element-d07de90 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0043e8;}
.elementor-205 .elementor-element.elementor-element-d07de90 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-205 .elementor-element.elementor-element-d07de90 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-5dac4f5 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-3a9db76 .elementor-heading-title {color: #fff;}
.elementor-205 .elementor-element.elementor-element-bb061db {--divider-border-style: solid;--divider-border-color: #fff;--divider-border-width: 4px;}
.elementor-205 .elementor-element.elementor-element-bb061db .elementor-divider-separator {width: 80px;}
.elementor-205 .elementor-element.elementor-element-bb061db .elementor-divider {padding-top: 16px;padding-bottom: 16px;}
.elementor-205 .elementor-element.elementor-element-1147a52.elementor-view-stacked .elementor-icon {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-1147a52.elementor-view-framed .elementor-icon, .elementor-205 .elementor-element.elementor-element-1147a52.elementor-view-default .elementor-icon {fill: #fff;color: #fff;border-color: #fff;}
.elementor-205 .elementor-element.elementor-element-1147a52.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-205 .elementor-element.elementor-element-1147a52.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-205 .elementor-element.elementor-element-1147a52.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon i {transform: rotate(0deg);}
.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-wrapper {text-align: left;}
.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-title {margin-bottom: 0px;}
.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-content .elementor-icon-box-title {color: #fff;font-size: 1.2em;font-weight: bold;}
.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-content .elementor-icon-box-description {color: #fff;}
.elementor-205 .elementor-element.elementor-element-1147a52 > .elementor-widget-container {padding: 20px 20px 20px 20px;background-color: #0e1c8f;border-radius: 4px 4px 4px 4px;}
.elementor-205 .elementor-element.elementor-element-0e86ef4:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0a1e68;}
.elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated, .elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated > .elementor-background-overlay, .elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-7e83c82 .content-form .submit-form {text-align: left;padding-right: calc(10px / 2);padding-left: calc(10px / 2);margin-bottom: 10px;}
.elementor-205 .elementor-element.elementor-element-7e83c82 .elementor-column {padding-right: calc(10px / 2);padding-left: calc(10px / 2);margin-bottom: 10px;}
body.rtl .elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > label {padding-left: 0px;}
body:not(.rtl) .elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > label {padding-right: 0px;}
body .elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > label {padding-bottom: 0px;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > label, .elementor-205 .elementor-element.elementor-element-7e83c82 .elementor-field-subgroup label {color: #fff;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > label {font-weight: 700;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > input {text-align: left;padding: 20px 20px 20px 20px;background-color: #f9f9f9;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset select {text-align: left;padding: 20px 20px 20px 20px;background-color: #f9f9f9;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > textarea {text-align: left;padding: 20px 20px 20px 20px;background-color: #f9f9f9;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > input:focus {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset select:focus {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > textarea:focus {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > button {background-color: #fff;color: #0043e8;font-size: 1em;text-transform: capitalize;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(0,0,0,0);border-radius: 4px 4px 4px 4px;padding: 4% 10% 4% 10%;}
.elementor-205 .elementor-element.elementor-element-7e83c82 fieldset > button:hover {background-color: rgba(12,4,4,0);color: #fff;border-color: #fff;}
.elementor-205 .elementor-element.elementor-element-c1ff111 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-205 .elementor-element.elementor-element-c1ff111:not(.elementor-motion-effects-element-type-background), .elementor-205 .elementor-element.elementor-element-c1ff111 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-205 .elementor-element.elementor-element-c1ff111 > .elementor-background-overlay {opacity: .96;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-c1ff111 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-205 .elementor-element.elementor-element-c1ff111 .elementor-heading-title {color: #fff;}
.elementor-205 .elementor-element.elementor-element-0700d8d > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-205 .elementor-element.elementor-element-cbc6e21 {text-align: left;}
.elementor-205 .elementor-element.elementor-element-cbc6e21 .elementor-heading-title {color: #000;}
.elementor-205 .elementor-element.elementor-element-f71f3a7 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-397f000 .elementor-counter-number-wrapper {font-size: 4rem;font-weight: bold;}
.elementor-205 .elementor-element.elementor-element-397f000 .elementor-counter-title {font-size: .9rem;font-weight: 600;}
.elementor-205 .elementor-element.elementor-element-397f000 > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-54380d3 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-77adce3 .elementor-counter-number-wrapper {font-size: 4rem;font-weight: bold;}
.elementor-205 .elementor-element.elementor-element-77adce3 .elementor-counter-title {font-size: .9rem;font-weight: 600;}
.elementor-205 .elementor-element.elementor-element-77adce3 > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-8253bb4 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 0px 0px 0px;}
.elementor-205 .elementor-element.elementor-element-8253bb4 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-b8cbce9 .elementor-counter-number-wrapper {font-size: 4rem;font-weight: bold;}
.elementor-205 .elementor-element.elementor-element-b8cbce9 .elementor-counter-title {font-size: .9rem;font-weight: 600;}
.elementor-205 .elementor-element.elementor-element-b8cbce9 > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-b157f69:not(.elementor-motion-effects-element-type-background), .elementor-205 .elementor-element.elementor-element-b157f69 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-205 .elementor-element.elementor-element-b157f69 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-205 .elementor-element.elementor-element-b157f69 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-205 .elementor-element.elementor-element-22ddeef > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-205 .elementor-element.elementor-element-480d30e {text-align: center;}
.elementor-205 .elementor-element.elementor-element-d135339 {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-205 .elementor-element.elementor-element-d135339 .elementor-divider-separator {width: 80px;margin: 0 auto;margin-center: 0;}
.elementor-205 .elementor-element.elementor-element-d135339 .elementor-divider {text-align: center;padding-top: 16px;padding-bottom: 16px;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-col-image {height: 400px;box-shadow: 0px 0px 10px 0px rgba(0,0,0,0);}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-col-content {text-align: left;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-wrapper {padding-right: calc(15px);padding-left: calc(15px);padding-bottom: 30px;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-container {margin-left: calc(-15px);margin-right: calc(-15px);}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid .entry-title.obfx-grid-title {color: #0c0c0c;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid .entry-title.obfx-grid-title > a {color: #0c0c0c;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-title {margin: 0px 0px 20px 0px;}
.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-content {font-size: 1em;color: #0c0c0c;margin: 20px 0px 20px 0px;}
.elementor-205 .elementor-element.elementor-element-254ff6e > .elementor-widget-container {padding: 20px 0px 20px 0px;background-color: #fff;border-radius: 6px 6px 6px 6px;}
@media (max-width:1024px) {.elementor-205 .elementor-element.elementor-element-72ae790, .elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-background-overlay {border-radius: 0px 0px 160px 0px;}
	.elementor-205 .elementor-element.elementor-element-9d0101d > .elementor-element-populated {padding: 40px 20px 40px 20px;}
	.elementor-205 .elementor-element.elementor-element-aa0d45a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-779fafa > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-73bc36e {padding: 40px 20px 40px 20px;}
	.elementor-205 .elementor-element.elementor-element-3ea0f35 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-c2d5f36 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-d07de90 {padding: 40px 20px 40px 20px;}
	.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-content .elementor-icon-box-title {font-size: 1.2em;}
	.elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated {margin: 0px 40px 0px 40px;}
	.elementor-205 .elementor-element.elementor-element-c1ff111 {padding: 40px 20px 40px 20px;}
	.elementor-205 .elementor-element.elementor-element-0700d8d > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-cbc6e21 {text-align: center;}
	.elementor-205 .elementor-element.elementor-element-397f000 .elementor-counter-number-wrapper {font-size: 48px;}
	.elementor-205 .elementor-element.elementor-element-397f000 .elementor-counter-title {font-size: .8em;}
	.elementor-205 .elementor-element.elementor-element-77adce3 .elementor-counter-number-wrapper {font-size: 48px;}
	.elementor-205 .elementor-element.elementor-element-77adce3 .elementor-counter-title {font-size: .8em;}
	.elementor-205 .elementor-element.elementor-element-b8cbce9 .elementor-counter-number-wrapper {font-size: 48px;}
	.elementor-205 .elementor-element.elementor-element-b8cbce9 .elementor-counter-title {font-size: .8em;}
	.elementor-205 .elementor-element.elementor-element-b157f69 {padding: 40px 20px 40px 20px;}
	.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-col-content {text-align: left;}}
@media (max-width:767px) {.elementor-205 .elementor-element.elementor-element-72ae790, .elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-background-overlay {border-radius: 0px 0px 120px 0px;}
	.elementor-205 .elementor-element.elementor-element-9d0101d > .elementor-element-populated {padding: 40px 0px 40px 0px;}
	.elementor-205 .elementor-element.elementor-element-73bc36e {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-4b6a2a0 {text-align: left;}
	.elementor-205 .elementor-element.elementor-element-9c1ff7d {text-align: left;}
	.elementor-205 .elementor-element.elementor-element-ce6cac3 {text-align: left;}
	.elementor-205 .elementor-element.elementor-element-d07de90 {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-5dac4f5 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-1147a52 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-205 .elementor-element.elementor-element-0e86ef4 > .elementor-element-populated {margin: 20px 20px 20px 20px;padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-c1ff111 {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-cbc6e21 {text-align: center;}
	.elementor-205 .elementor-element.elementor-element-b157f69 {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-22ddeef > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-205 .elementor-element.elementor-element-254ff6e .obfx-grid-col-content {text-align: left;}}
@media (min-width:768px) {.elementor-205 .elementor-element.elementor-element-aa0d45a {width: 66%;}
	.elementor-205 .elementor-element.elementor-element-779fafa {width: 34%;}
	.elementor-205 .elementor-element.elementor-element-5dac4f5 {width: 60%;}
	.elementor-205 .elementor-element.elementor-element-0700d8d {width: 40%;}
	.elementor-205 .elementor-element.elementor-element-f71f3a7 {width: 20%;}
	.elementor-205 .elementor-element.elementor-element-54380d3 {width: 18.333%;}
	.elementor-205 .elementor-element.elementor-element-8253bb4 {width: 21.666666666667%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-205 .elementor-element.elementor-element-5dac4f5 {width: 100%;}
	.elementor-205 .elementor-element.elementor-element-0e86ef4 {width: 100%;}
	.elementor-205 .elementor-element.elementor-element-0700d8d {width: 100%;}
	.elementor-205 .elementor-element.elementor-element-f71f3a7 {width: 33.3%;}
	.elementor-205 .elementor-element.elementor-element-54380d3 {width: 33.3%;}
	.elementor-205 .elementor-element.elementor-element-8253bb4 {width: 33.3%;}}
@media (min-width:1025px) {.elementor-205 .elementor-element.elementor-element-72ae790 > .elementor-background-overlay {background-attachment: scroll;}}