.elementor-13 .elementor-element.elementor-element-7f3f78e:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: transparent;background-image: linear-gradient(140deg,#0a1e68 0%,#0043e8 100%);}
.elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-10.jpg");background-position: top center;background-size: cover;opacity: .5;mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-7f3f78e, .elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-background-overlay {border-radius: 0px 0px 240px 0px;}
.elementor-13 .elementor-element.elementor-element-7f3f78e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;}
.elementor-13 .elementor-element.elementor-element-7f3f78e .elementor-heading-title {color: #fff;}
.elementor-13 .elementor-element.elementor-element-f9ca831 > .elementor-element-populated {padding: 80px 20px 80px 20px;}
.elementor-13 .elementor-element.elementor-element-4c8355a > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-13 .elementor-element.elementor-element-90b99f7 {text-align: center;}
.elementor-13 .elementor-element.elementor-element-4f406b2 .elementor-text-editor {text-align: center;}
.elementor-13 .elementor-element.elementor-element-4f406b2 {color: #fff;font-size: 1.3em;}
.elementor-13 .elementor-element.elementor-element-c8d0d0c > .elementor-container {max-width: 860px;}
.elementor-13 .elementor-element.elementor-element-c8d0d0c > .elementor-background-overlay {opacity: .9;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-c8d0d0c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 120px 20px 120px 20px;}
.elementor-13 .elementor-element.elementor-element-17ae2be > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-11973d6 {text-align: center;}
.elementor-13 .elementor-element.elementor-element-6006b51 {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-13 .elementor-element.elementor-element-6006b51 .elementor-divider-separator {width: 80px;margin: 0 auto;margin-center: 0;}
.elementor-13 .elementor-element.elementor-element-6006b51 .elementor-divider {text-align: center;padding-top: 16px;padding-bottom: 16px;}
.elementor-13 .elementor-element.elementor-element-c38888c .elementor-text-editor {text-align: center;}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {padding-bottom: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {margin-top: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {margin-right: calc(10px / 2);margin-left: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items.elementor-inline-items {margin-right: calc(-10px / 2);margin-left: calc(-10px / 2);}
body.rtl .elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {left: calc(-10px / 2);}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {right: calc(-10px / 2);}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-icon i {color: #0043e8;font-size: 14px;}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-icon svg {fill: #0043e8;width: 14px;}
.elementor-13 .elementor-element.elementor-element-f5a6484 .elementor-icon-list-text {color: #000;}
.elementor-13 .elementor-element.elementor-element-fbc1099 .elementor-spacer-inner {height: 20px;}
.elementor-13 .elementor-element.elementor-element-09fee68 > .elementor-container {min-height: 500px;}
.elementor-13 .elementor-element.elementor-element-09fee68 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-13 .elementor-element.elementor-element-09fee68:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-09fee68 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-map.png");}
.elementor-13 .elementor-element.elementor-element-09fee68 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-13 .elementor-element.elementor-element-09fee68 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-f93ce88 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-3900d0e:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-3900d0e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-13 .elementor-element.elementor-element-3900d0e, .elementor-13 .elementor-element.elementor-element-3900d0e > .elementor-background-overlay {border-radius: 0px 0px 20px 0px;}
.elementor-13 .elementor-element.elementor-element-3900d0e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-13 .elementor-element.elementor-element-3900d0e > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-fc7da62 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-13 .elementor-element.elementor-element-ab27503.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-13 .elementor-element.elementor-element-ab27503.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-13 .elementor-element.elementor-element-ab27503:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-13 .elementor-element.elementor-element-ab27503 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0a1e68;}
.elementor-13 .elementor-element.elementor-element-ab27503 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-13 .elementor-element.elementor-element-ab27503 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-02caa23 .elementor-heading-title {color: #fff;}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {padding-bottom: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {margin-top: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {margin-right: calc(10px / 2);margin-left: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items.elementor-inline-items {margin-right: calc(-10px / 2);margin-left: calc(-10px / 2);}
body.rtl .elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {left: calc(-10px / 2);}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {right: calc(-10px / 2);}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-icon i {color: #fff;font-size: 14px;}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-icon svg {fill: #fff;width: 14px;}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-text {color: #fff;}
.elementor-13 .elementor-element.elementor-element-f68cf6b .elementor-icon-list-item {font-size: .8em;font-weight: bold;text-transform: uppercase;}
.elementor-13 .elementor-element.elementor-element-baa5a09 {--divider-border-style: solid;--divider-border-color: rgba(255,255,255,.5);--divider-border-width: 2px;}
.elementor-13 .elementor-element.elementor-element-baa5a09 .elementor-divider-separator {width: 100%;}
.elementor-13 .elementor-element.elementor-element-baa5a09 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-13 .elementor-element.elementor-element-4fc05c0 .elementor-heading-title {color: #fff;}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {padding-bottom: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {margin-top: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {margin-right: calc(10px / 2);margin-left: calc(10px / 2);}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items.elementor-inline-items {margin-right: calc(-10px / 2);margin-left: calc(-10px / 2);}
body.rtl .elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {left: calc(-10px / 2);}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {right: calc(-10px / 2);}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-icon i {color: #fff;font-size: 14px;}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-icon svg {fill: #fff;width: 14px;}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-text {color: #fff;}
.elementor-13 .elementor-element.elementor-element-4070216 .elementor-icon-list-item {font-size: .8em;font-weight: bold;text-transform: uppercase;}
.elementor-13 .elementor-element.elementor-element-57129cb:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-13 .elementor-element.elementor-element-57129cb > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-13 .elementor-element.elementor-element-57129cb > .elementor-element-populated, .elementor-13 .elementor-element.elementor-element-57129cb > .elementor-element-populated > .elementor-background-overlay, .elementor-13 .elementor-element.elementor-element-57129cb > .elementor-background-slideshow {border-radius: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-57129cb > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-13 .elementor-element.elementor-element-57129cb > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-13 .elementor-element.elementor-element-1282a47 .content-form .submit-form {text-align: left;padding-right: calc(10px / 2);padding-left: calc(10px / 2);margin-bottom: 10px;}
.elementor-13 .elementor-element.elementor-element-1282a47 .elementor-column {padding-right: calc(10px / 2);padding-left: calc(10px / 2);margin-bottom: 10px;}
body.rtl .elementor-13 .elementor-element.elementor-element-1282a47 fieldset > label {padding-left: 0px;}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-1282a47 fieldset > label {padding-right: 0px;}
body .elementor-13 .elementor-element.elementor-element-1282a47 fieldset > label {padding-bottom: 0px;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > label {font-size: 14px;font-weight: bold;text-transform: uppercase;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > input {text-align: left;padding: 20px 20px 20px 20px;background-color: #f4f4f4;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset select {text-align: left;padding: 20px 20px 20px 20px;background-color: #f4f4f4;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > textarea {text-align: left;padding: 20px 20px 20px 20px;background-color: #f4f4f4;border-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-radius: 0px 0px 0px 0px;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > input:focus {background-color: #fff;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset select:focus {background-color: #fff;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > textarea:focus {background-color: #fff;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > button {background-color: #0043e8;font-size: 1em;text-transform: capitalize;letter-spacing: 1.2px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(0,0,0,0);border-radius: 4px 4px 4px 4px;padding: 2% 10% 2% 10%;}
.elementor-13 .elementor-element.elementor-element-1282a47 fieldset > button:hover {background-color: #0b3fc1;}
@media (max-width:1024px) {.elementor-13 .elementor-element.elementor-element-7f3f78e, .elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-background-overlay {border-radius: 0px 0px 160px 0px;}
	.elementor-13 .elementor-element.elementor-element-f9ca831 > .elementor-element-populated {padding: 40px 20px 40px 20px;}
	.elementor-13 .elementor-element.elementor-element-4c8355a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-13 .elementor-element.elementor-element-c8d0d0c {padding: 40px 20px 40px 20px;}
	.elementor-13 .elementor-element.elementor-element-3900d0e {padding: 40px 20px 40px 20px;}
	.elementor-13 .elementor-element.elementor-element-ab27503 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-13 .elementor-element.elementor-element-57129cb > .elementor-element-populated {padding: 20px 20px 20px 20px;}}
@media (max-width:767px) {.elementor-13 .elementor-element.elementor-element-7f3f78e, .elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-background-overlay {border-radius: 0px 0px 120px 0px;}
	.elementor-13 .elementor-element.elementor-element-f9ca831 > .elementor-element-populated {padding: 40px 0px 40px 0px;}
	.elementor-13 .elementor-element.elementor-element-90b99f7 {text-align: left;}
	.elementor-13 .elementor-element.elementor-element-4f406b2 .elementor-text-editor {text-align: left;}
	.elementor-13 .elementor-element.elementor-element-c8d0d0c {padding: 20px 20px 20px 20px;}
	.elementor-13 .elementor-element.elementor-element-17ae2be > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-13 .elementor-element.elementor-element-11973d6 {text-align: left;}
	.elementor-13 .elementor-element.elementor-element-6006b51 .elementor-divider {text-align: left;}
	.elementor-13 .elementor-element.elementor-element-6006b51 .elementor-divider-separator {margin: 0 auto;margin-left: 0;}
	.elementor-13 .elementor-element.elementor-element-c38888c .elementor-text-editor {text-align: left;}
	.elementor-13 .elementor-element.elementor-element-3900d0e {padding: 20px 20px 20px 20px;}
	.elementor-13 .elementor-element.elementor-element-ab27503 > .elementor-element-populated {padding: 20px 20px 20px 20px;}}
@media (min-width:768px) {.elementor-13 .elementor-element.elementor-element-ab27503 {width: 40%;}
	.elementor-13 .elementor-element.elementor-element-57129cb {width: 60%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-13 .elementor-element.elementor-element-ab27503 {width: 40%;}
	.elementor-13 .elementor-element.elementor-element-57129cb {width: 60%;}}
@media (min-width:1025px) {.elementor-13 .elementor-element.elementor-element-7f3f78e > .elementor-background-overlay {background-attachment: scroll;}}