.elementor-200 .elementor-element.elementor-element-e5fa584:not(.elementor-motion-effects-element-type-background), .elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: transparent;background-image: linear-gradient(140deg,#0a1e68 0%,#0043e8 100%);}
.elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-09.jpg");background-position: top center;background-size: cover;opacity: .5;mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-e5fa584, .elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-background-overlay {border-radius: 0px 0px 240px 0px;}
.elementor-200 .elementor-element.elementor-element-e5fa584 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;}
.elementor-200 .elementor-element.elementor-element-e5fa584 .elementor-heading-title {color: #fff;}
.elementor-200 .elementor-element.elementor-element-11f8bbe > .elementor-element-populated {padding: 80px 20px 80px 20px;}
.elementor-200 .elementor-element.elementor-element-1c70bae > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-200 .elementor-element.elementor-element-bf95e1c {color: #fff;font-size: 1.3em;}
.elementor-200 .elementor-element.elementor-element-14381bd > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-200 .elementor-element.elementor-element-0e45a3c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-200 .elementor-element.elementor-element-0e45a3c > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-34b6e41 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-2b76dc2 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-200 .elementor-element.elementor-element-2b76dc2 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-200 .elementor-element.elementor-element-2b76dc2 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-f7f8ddd.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-200 .elementor-element.elementor-element-f7f8ddd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-200 .elementor-element.elementor-element-f7f8ddd > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-200 .elementor-element.elementor-element-f7f8ddd > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-f0ed00f {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-200 .elementor-element.elementor-element-f0ed00f .elementor-divider-separator {width: 80px;margin: 0 auto;margin-left: 0;}
.elementor-200 .elementor-element.elementor-element-f0ed00f .elementor-divider {text-align: left;padding-top: 16px;padding-bottom: 16px;}
.elementor-200 .elementor-element.elementor-element-880a777 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-89ac338 .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-200 .elementor-element.elementor-element-cac30d9 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-200 .elementor-element.elementor-element-ee81455 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-43f0d4c .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-874a465.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-200 .elementor-element.elementor-element-874a465.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-200 .elementor-element.elementor-element-874a465 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-200 .elementor-element.elementor-element-874a465 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-501aeec {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-200 .elementor-element.elementor-element-501aeec .elementor-divider-separator {width: 80px;margin: 0 auto;margin-left: 0;}
.elementor-200 .elementor-element.elementor-element-501aeec .elementor-divider {text-align: left;padding-top: 16px;padding-bottom: 16px;}
.elementor-200 .elementor-element.elementor-element-15fdd1a:not(.elementor-motion-effects-element-type-background), .elementor-200 .elementor-element.elementor-element-15fdd1a > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(21,4,0,.95);background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/03/neve-equitation-11.jpg");background-position: center center;background-repeat: no-repeat;background-size: cover;}
.elementor-200 .elementor-element.elementor-element-15fdd1a > .elementor-background-overlay {background-color: #0043e8;opacity: 1;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-15fdd1a, .elementor-200 .elementor-element.elementor-element-15fdd1a > .elementor-background-overlay {border-radius: 240px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-15fdd1a {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-200 .elementor-element.elementor-element-15fdd1a .elementor-heading-title {color: #fff;}
.elementor-200 .elementor-element.elementor-element-2a58156 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-558302d > .elementor-container {max-width: 960px;}
.elementor-200 .elementor-element.elementor-element-32e2649 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-c98d2fc {text-align: center;}
.elementor-200 .elementor-element.elementor-element-c98d2fc .elementor-heading-title {color: #fff;}
.elementor-200 .elementor-element.elementor-element-57d07f0 {text-align: center;}
.elementor-200 .elementor-element.elementor-element-57d07f0 .elementor-heading-title {color: #fff;}
.elementor-200 .elementor-element.elementor-element-bdca8a4 .elementor-spacer-inner {height: 10px;}
.elementor-200 .elementor-element.elementor-element-f569163 > .elementor-container {max-width: 1110px;}
.elementor-200 .elementor-element.elementor-element-c1bbe69 .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-200 .elementor-element.elementor-element-13f4d2b:not(.elementor-motion-effects-element-type-background), .elementor-200 .elementor-element.elementor-element-13f4d2b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-200 .elementor-element.elementor-element-13f4d2b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-200 .elementor-element.elementor-element-13f4d2b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-62d34bd > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-4df082e > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-9af9955 {text-align: center;}
.elementor-200 .elementor-element.elementor-element-e98ef77 {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-200 .elementor-element.elementor-element-e98ef77 .elementor-divider-separator {width: 80px;margin: 0 auto;margin-center: 0;}
.elementor-200 .elementor-element.elementor-element-e98ef77 .elementor-divider {text-align: center;padding-top: 16px;padding-bottom: 16px;}
.elementor-200 .elementor-element.elementor-element-9c57292 > .elementor-container {min-height: 200px;}
.elementor-200 .elementor-element.elementor-element-73cc64f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-200 .elementor-element.elementor-element-73cc64f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-200 .elementor-element.elementor-element-73cc64f > .elementor-element-populated >  .elementor-background-overlay {opacity: 1;}
.elementor-200 .elementor-element.elementor-element-73cc64f > .elementor-element-populated > .elementor-background-overlay {mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-73cc64f > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-bf06c4a .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-bf06c4a > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-200 .elementor-element.elementor-element-d56f5d7 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-d56f5d7 .elementor-heading-title {font-size: 12px;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;}
.elementor-200 .elementor-element.elementor-element-a5045f4 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-a5045f4 .elementor-social-icon {background-color: #0043e8;font-size: 15px;}
.elementor-200 .elementor-element.elementor-element-a5045f4 .elementor-social-icon i {color: #fff;}
.elementor-200 .elementor-element.elementor-element-a5045f4 .elementor-social-icon svg {fill: #fff;}
.elementor-200 .elementor-element.elementor-element-a5045f4 .elementor-icon {border-radius: 4px 4px 4px 4px;}
.elementor-200 .elementor-element.elementor-element-e464952:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-200 .elementor-element.elementor-element-e464952 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-200 .elementor-element.elementor-element-e464952 > .elementor-element-populated >  .elementor-background-overlay {opacity: 1;}
.elementor-200 .elementor-element.elementor-element-e464952 > .elementor-element-populated > .elementor-background-overlay {mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-e464952 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-904331a .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-904331a > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-200 .elementor-element.elementor-element-fa71e99 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-fa71e99 .elementor-heading-title {font-size: 12px;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;}
.elementor-200 .elementor-element.elementor-element-db88930 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-db88930 .elementor-social-icon {background-color: #0043e8;font-size: 15px;}
.elementor-200 .elementor-element.elementor-element-db88930 .elementor-social-icon i {color: #fff;}
.elementor-200 .elementor-element.elementor-element-db88930 .elementor-social-icon svg {fill: #fff;}
.elementor-200 .elementor-element.elementor-element-db88930 .elementor-icon {border-radius: 4px 4px 4px 4px;}
.elementor-200 .elementor-element.elementor-element-54c5f8e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-200 .elementor-element.elementor-element-54c5f8e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-200 .elementor-element.elementor-element-54c5f8e > .elementor-element-populated >  .elementor-background-overlay {opacity: 1;}
.elementor-200 .elementor-element.elementor-element-54c5f8e > .elementor-element-populated > .elementor-background-overlay {mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-54c5f8e > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-2e68e34 .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-2e68e34 > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-200 .elementor-element.elementor-element-acba638 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-acba638 .elementor-heading-title {font-size: 12px;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;}
.elementor-200 .elementor-element.elementor-element-8e1f3ac {text-align: left;}
.elementor-200 .elementor-element.elementor-element-8e1f3ac .elementor-social-icon {background-color: #0043e8;font-size: 15px;}
.elementor-200 .elementor-element.elementor-element-8e1f3ac .elementor-social-icon i {color: #fff;}
.elementor-200 .elementor-element.elementor-element-8e1f3ac .elementor-social-icon svg {fill: #fff;}
.elementor-200 .elementor-element.elementor-element-8e1f3ac .elementor-icon {border-radius: 4px 4px 4px 4px;}
.elementor-200 .elementor-element.elementor-element-c1f5da3:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-200 .elementor-element.elementor-element-c1f5da3 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-200 .elementor-element.elementor-element-c1f5da3 > .elementor-element-populated >  .elementor-background-overlay {opacity: 1;}
.elementor-200 .elementor-element.elementor-element-c1f5da3 > .elementor-element-populated > .elementor-background-overlay {mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-200 .elementor-element.elementor-element-c1f5da3 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;padding: 20px 20px 20px 20px;}
.elementor-200 .elementor-element.elementor-element-5de3272 .elementor-image img {border-radius: 4px 4px 0px 0px;}
.elementor-200 .elementor-element.elementor-element-5de3272 > .elementor-widget-container {margin: -20px -20px 0px -20px;}
.elementor-200 .elementor-element.elementor-element-58c09e1 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-58c09e1 .elementor-heading-title {font-size: 12px;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;}
.elementor-200 .elementor-element.elementor-element-eb0f977 {text-align: left;}
.elementor-200 .elementor-element.elementor-element-eb0f977 .elementor-social-icon {background-color: #0043e8;font-size: 15px;}
.elementor-200 .elementor-element.elementor-element-eb0f977 .elementor-social-icon i {color: #fff;}
.elementor-200 .elementor-element.elementor-element-eb0f977 .elementor-social-icon svg {fill: #fff;}
.elementor-200 .elementor-element.elementor-element-eb0f977 .elementor-icon {border-radius: 4px 4px 4px 4px;}
@media (max-width:1024px) {.elementor-200 .elementor-element.elementor-element-e5fa584, .elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-background-overlay {border-radius: 0px 0px 160px 0px;}
	.elementor-200 .elementor-element.elementor-element-11f8bbe > .elementor-element-populated {padding: 40px 20px 40px 20px;}
	.elementor-200 .elementor-element.elementor-element-1c70bae > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-14381bd > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-0e45a3c {padding: 40px 20px 40px 20px;}
	.elementor-200 .elementor-element.elementor-element-f7f8ddd > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-880a777 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-ee81455 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-874a465 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-15fdd1a, .elementor-200 .elementor-element.elementor-element-15fdd1a > .elementor-background-overlay {border-radius: 160px 0px 0px 0px;}
	.elementor-200 .elementor-element.elementor-element-15fdd1a {padding: 40px 20px 40px 20px;}
	.elementor-200 .elementor-element.elementor-element-32e2649 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-13f4d2b {padding: 40px 20px 40px 20px;}
	.elementor-200 .elementor-element.elementor-element-4df082e > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-73cc64f.elementor-column .elementor-column-wrap {align-items: flex-start;}
	.elementor-200 .elementor-element.elementor-element-73cc64f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
	.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-e464952.elementor-column .elementor-column-wrap {align-items: flex-start;}
	.elementor-200 .elementor-element.elementor-element-e464952.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
	.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-54c5f8e.elementor-column .elementor-column-wrap {align-items: flex-start;}
	.elementor-200 .elementor-element.elementor-element-54c5f8e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
	.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-c1f5da3.elementor-column .elementor-column-wrap {align-items: flex-start;}
	.elementor-200 .elementor-element.elementor-element-c1f5da3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}}
@media (max-width:767px) {.elementor-200 .elementor-element.elementor-element-e5fa584, .elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-background-overlay {border-radius: 0px 0px 120px 0px;}
	.elementor-200 .elementor-element.elementor-element-11f8bbe > .elementor-element-populated {padding: 40px 0px 40px 0px;}
	.elementor-200 .elementor-element.elementor-element-0e45a3c {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-f7f8ddd > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-874a465 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-15fdd1a, .elementor-200 .elementor-element.elementor-element-15fdd1a > .elementor-background-overlay {border-radius: 120px 0px 0px 0px;}
	.elementor-200 .elementor-element.elementor-element-15fdd1a {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-c98d2fc {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-57d07f0 {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-7a351c6 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-13f4d2b {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-4df082e > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-200 .elementor-element.elementor-element-9af9955 {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-e98ef77 .elementor-divider {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-e98ef77 .elementor-divider-separator {margin: 0 auto;margin-left: 0;}
	.elementor-200 .elementor-element.elementor-element-73cc64f {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-d56f5d7 {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-e464952 {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-fa71e99 {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-54c5f8e {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-acba638 {text-align: left;}
	.elementor-200 .elementor-element.elementor-element-c1f5da3 {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-58c09e1 {text-align: left;}}
@media (min-width:768px) {.elementor-200 .elementor-element.elementor-element-1c70bae {width: 66%;}
	.elementor-200 .elementor-element.elementor-element-14381bd {width: 34%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-200 .elementor-element.elementor-element-f7f8ddd {width: 50%;}
	.elementor-200 .elementor-element.elementor-element-874a465 {width: 50%;}
	.elementor-200 .elementor-element.elementor-element-32e2649 {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-7a351c6 {width: 100%;}
	.elementor-200 .elementor-element.elementor-element-73cc64f {width: 50%;}
	.elementor-200 .elementor-element.elementor-element-e464952 {width: 50%;}
	.elementor-200 .elementor-element.elementor-element-54c5f8e {width: 50%;}
	.elementor-200 .elementor-element.elementor-element-c1f5da3 {width: 50%;}}
@media (min-width:1025px) {.elementor-200 .elementor-element.elementor-element-e5fa584 > .elementor-background-overlay {background-attachment: scroll;}}