.elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-container {max-width: 1099px;min-height: 490px;}
.elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-213 .elementor-element.elementor-element-6e785a1:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/06/business-3528035-scaled.jpg");background-size: cover;}
.elementor-213 .elementor-element.elementor-element-6e785a1 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-93529e5 > .elementor-element-populated {margin: -85px -85px -85px -85px;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-34de459 {text-align: left;}
.elementor-213 .elementor-element.elementor-element-34de459 .elementor-heading-title {font-size: 113px;line-height: .9em;letter-spacing: -.2px;}
.elementor-213 .elementor-element.elementor-element-aa41038 .elementor-text-editor {text-align: left;}
.elementor-213 .elementor-element.elementor-element-aa41038 {font-family: "IRANYekan",arial;font-size: 1.2em;line-height: 3.7em;}
.elementor-213 .elementor-element.elementor-element-e4dd889 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-8797e7a .elementor-button {font-family: "IRANYekan",arial;font-weight: bold;text-transform: uppercase;text-shadow: 0px 0px 10px rgba(0,0,0,.3);fill: #fff;color: #fff;background-color: #2b2b2b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-8797e7a .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-8797e7a .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-8797e7a .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-8797e7a .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-8797e7a > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-d67ff20 .elementor-button {font-family: "IRANYekan",arial;font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-d67ff20 .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-d67ff20 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-d67ff20 .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-d67ff20 .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-d67ff20 > .elementor-widget-container {margin: -8px -8px -8px -8px;}
.elementor-213 .elementor-element.elementor-element-fc35bd9 {padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-38c1700 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;fill: #2b2b2b;color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-view-framed .elementor-icon, .elementor-213 .elementor-element.elementor-element-1a528dc.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-view-framed .elementor-icon {background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-213 .elementor-element.elementor-element-1a528dc.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-213 .elementor-element.elementor-element-1a528dc .elementor-icon {font-size: 28px;}
.elementor-213 .elementor-element.elementor-element-1a528dc .elementor-icon i {transform: rotate(0deg);}
.elementor-213 .elementor-element.elementor-element-1a528dc .elementor-icon-box-content .elementor-icon-box-title {font-family: "IRANYekan",arial;font-size: 22px;}
.elementor-213 .elementor-element.elementor-element-1a528dc .elementor-icon-box-content .elementor-icon-box-description {font-family: "IRANYekan",arial;font-size: .9em;}
.elementor-213 .elementor-element.elementor-element-34d5b3a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;fill: #2b2b2b;color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-view-framed .elementor-icon, .elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-view-framed .elementor-icon {background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8 .elementor-icon {font-size: 28px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8 .elementor-icon i {transform: rotate(0deg);}
.elementor-213 .elementor-element.elementor-element-b94c6a8 .elementor-icon-box-content .elementor-icon-box-title {font-family: "IRANYekan",arial;font-size: 21px;}
.elementor-213 .elementor-element.elementor-element-b94c6a8 .elementor-icon-box-content .elementor-icon-box-description {font-family: "IRANYekan",arial;font-size: .9em;}
.elementor-213 .elementor-element.elementor-element-915231d > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-view-stacked .elementor-icon {background-color: #fcaf3b;fill: #2b2b2b;color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-view-framed .elementor-icon, .elementor-213 .elementor-element.elementor-element-834d601.elementor-view-default .elementor-icon {fill: #fcaf3b;color: #fcaf3b;border-color: #fcaf3b;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-view-framed .elementor-icon {background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-position-right .elementor-icon-box-icon {margin-left: 15px;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-position-left .elementor-icon-box-icon {margin-right: 15px;}
.elementor-213 .elementor-element.elementor-element-834d601.elementor-position-top .elementor-icon-box-icon {margin-bottom: 15px;}
.elementor-213 .elementor-element.elementor-element-834d601 .elementor-icon {font-size: 28px;}
.elementor-213 .elementor-element.elementor-element-834d601 .elementor-icon i {transform: rotate(0deg);}
.elementor-213 .elementor-element.elementor-element-834d601 .elementor-icon-box-content .elementor-icon-box-title {font-family: "IRANYekan",arial;font-size: 22px;}
.elementor-213 .elementor-element.elementor-element-834d601 .elementor-icon-box-content .elementor-icon-box-description {font-family: "IRANYekan",arial;font-size: .9em;}
.elementor-213 .elementor-element.elementor-element-9b4a591:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-9b4a591 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-213 .elementor-element.elementor-element-9b4a591 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-9b4a591 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-6142c74 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-e28c051 {text-align: center;}
.elementor-213 .elementor-element.elementor-element-e28c051 .elementor-heading-title {color: #fcaf3b;font-family: "IRANYekan",arial;font-size: 88px;}
.elementor-213 .elementor-element.elementor-element-0604073 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-55b2c5d.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-55b2c5d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-55b2c5d:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-55b2c5d > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-55b2c5d > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-213 .elementor-element.elementor-element-55b2c5d > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-96202e1 {text-align: right;}
.elementor-213 .elementor-element.elementor-element-96202e1 .elementor-heading-title {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-32cb0ba {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-27e14b7 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-27e14b7 .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-27e14b7 .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-27e14b7 .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-27e14b7 .elementor-button:focus svg {fill: #fff;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-696152e.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-696152e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-696152e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-696152e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-696152e > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-213 .elementor-element.elementor-element-696152e > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-2913683 .elementor-heading-title {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-7a583c7 {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-a03a17e .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-a03a17e .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-a03a17e .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-a03a17e .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-a03a17e .elementor-button:focus svg {fill: #fff;}
.elementor-213 .elementor-element.elementor-element-d7bc2a1 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-bd6b6ef > .elementor-widget-container {margin: -10px -10px -10px -10px;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-bee0998.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-bee0998.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-bee0998:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-bee0998 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-bee0998 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-213 .elementor-element.elementor-element-bee0998 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-8d3c5c4 .elementor-heading-title {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-947ecda {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-d798af9 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-d798af9 .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-d798af9 .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-d798af9 .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-d798af9 .elementor-button:focus svg {fill: #fff;}
.elementor-213 .elementor-element.elementor-element-a9997c4 > .elementor-widget-container {margin: -10px -10px -10px -10px;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-556c6f1.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-556c6f1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-556c6f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-556c6f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-556c6f1 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 40px 40px 40px;}
.elementor-213 .elementor-element.elementor-element-556c6f1 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-c5bf0d6 .elementor-heading-title {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-f58332c {font-family: "IRANYekan",arial;}
.elementor-213 .elementor-element.elementor-element-cba997f .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-cba997f .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-cba997f .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-cba997f .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-cba997f .elementor-button:focus svg {fill: #fff;}
.elementor-213 .elementor-element.elementor-element-2024d7c:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-2024d7c > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #18191d;}
.elementor-213 .elementor-element.elementor-element-2024d7c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-2024d7c > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-6894387 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-4abeb70 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-6a2e88e.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-6a2e88e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-6a2e88e > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 40px 40px 40px 40px;}
.elementor-213 .elementor-element.elementor-element-6a2e88e > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-6a2e88e .elementor-element-populated .elementor-heading-title {color: #fff;}
.elementor-213 .elementor-element.elementor-element-8748077 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-8748077 .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-8748077 .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-8748077 .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-8748077 .elementor-button:focus svg {fill: #fff;}
.elementor-213 .elementor-element.elementor-element-d527a63 {padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-10d97d8 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-674fcb4 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-4fb2007 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-fc77990.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: flex-end;}
.elementor-213 .elementor-element.elementor-element-fc77990 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-c51e801 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #fff;color: #fff;background-color: #2b2b2b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-c51e801 .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-c51e801 .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-213 .elementor-element.elementor-element-c51e801 .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-c51e801 .elementor-button:focus svg {fill: #fff;}
.elementor-213 .elementor-element.elementor-element-d7e7078:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-d7e7078 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-d7e7078 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-d7e7078 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-e0adf15:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-213 .elementor-element.elementor-element-e0adf15 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-e0adf15 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-e0adf15 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-7a6171f:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-7a6171f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-213 .elementor-element.elementor-element-7a6171f {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-7a6171f > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-a58794e.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-a58794e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-a58794e > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-a58794e > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-6b44124 .elementor-testimonial-content {font-size: .9em;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-5f8dafb.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-5f8dafb.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-5f8dafb > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-5f8dafb > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-7c21077 .elementor-testimonial-content {font-size: .9em;}
.elementor-bc-flex-widget .elementor-213 .elementor-element.elementor-element-53ea372.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-213 .elementor-element.elementor-element-53ea372.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-213 .elementor-element.elementor-element-53ea372 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-53ea372 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-d972247 .elementor-testimonial-content {font-size: .9em;}
.elementor-213 .elementor-element.elementor-element-014f7f5 > .elementor-container {max-width: 900px;}
.elementor-213 .elementor-element.elementor-element-014f7f5:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-014f7f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #18191d;}
.elementor-213 .elementor-element.elementor-element-014f7f5 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-213 .elementor-element.elementor-element-014f7f5 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-213 .elementor-element.elementor-element-014f7f5 .elementor-heading-title {color: #fff;}
.elementor-213 .elementor-element.elementor-element-3446043 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-213 .elementor-element.elementor-element-009c666 {text-align: center;}
.elementor-213 .elementor-element.elementor-element-ae47633 .elementor-text-editor {text-align: center;}
.elementor-213 .elementor-element.elementor-element-ae47633 {font-size: 1.2em;}
.elementor-213 .elementor-element.elementor-element-d0dba4f .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-213 .elementor-element.elementor-element-d0dba4f .elementor-button:hover, .elementor-213 .elementor-element.elementor-element-d0dba4f .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-213 .elementor-element.elementor-element-d0dba4f .elementor-button:hover svg, .elementor-213 .elementor-element.elementor-element-d0dba4f .elementor-button:focus svg {fill: #2b2b2b;}
body.elementor-page-213 h1.entry-title, .elementor-page-title {display: none;}
@media (min-width:768px) {.elementor-213 .elementor-element.elementor-element-e4dd889 {width: 18.256%;}
	.elementor-213 .elementor-element.elementor-element-1597b42 {width: 36.744%;}}
@media (max-width:1024px) {.elementor-213 .elementor-element.elementor-element-6e785a1 {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-fc35bd9 {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-9b4a591 {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-2024d7c {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-d527a63 {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-7a6171f {padding: 40px 20px 40px 20px;}
	.elementor-213 .elementor-element.elementor-element-014f7f5 {padding: 40px 20px 40px 20px;}}
@media (max-width:767px) {.elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-container {min-height: 542px;}
	.elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-container:after {content: "";min-height: inherit;}
	.elementor-213 .elementor-element.elementor-element-6e785a1:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-6e785a1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/06/business-3528035-scaled.jpg");background-position: 513px -584px;}
	.elementor-213 .elementor-element.elementor-element-6e785a1 {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-93529e5 > .elementor-element-populated {margin: 7px 7px 7px 7px;}
	.elementor-213 .elementor-element.elementor-element-34de459 {text-align: left;}
	.elementor-213 .elementor-element.elementor-element-34de459 .elementor-heading-title {font-size: 47px;line-height: 1em;}
	.elementor-213 .elementor-element.elementor-element-aa41038 .elementor-text-editor {text-align: right;column-gap: 0px;}
	.elementor-213 .elementor-element.elementor-element-aa41038 {font-size: 1.7em;line-height: 1.4em;}
	.elementor-213 .elementor-element.elementor-element-fc35bd9 {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-1a528dc .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-213 .elementor-element.elementor-element-b94c6a8 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-213 .elementor-element.elementor-element-834d601 .elementor-icon-box-icon {margin-bottom: 15px;}
	.elementor-213 .elementor-element.elementor-element-9b4a591 {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-e28c051 .elementor-heading-title {font-size: 49px;}
	.elementor-213 .elementor-element.elementor-element-2024d7c {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-d527a63 {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-7a6171f {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-014f7f5 {padding: 20px 20px 20px 20px;}
	.elementor-213 .elementor-element.elementor-element-ae47633 {font-size: 1em;}}