.elementor-230 .elementor-element.elementor-element-95dfe33 {padding: 80px 20px 80px 20px;}
.elementor-230 .elementor-element.elementor-element-a926e3d > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-cebed55 {font-size: 1.2em;}
.elementor-230 .elementor-element.elementor-element-46c5b2b > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-3c6591e:not(.elementor-motion-effects-element-type-background), .elementor-230 .elementor-element.elementor-element-3c6591e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-230 .elementor-element.elementor-element-3c6591e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-230 .elementor-element.elementor-element-3c6591e > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-230 .elementor-element.elementor-element-95e3364 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-230 .elementor-element.elementor-element-cb297ed > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-e23b0dc .elementor-image img {width: 100%;}
.elementor-230 .elementor-element.elementor-element-366d600 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-643413d .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-230 .elementor-element.elementor-element-643413d .elementor-button:hover, .elementor-230 .elementor-element.elementor-element-643413d .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-230 .elementor-element.elementor-element-643413d .elementor-button:hover svg, .elementor-230 .elementor-element.elementor-element-643413d .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-230 .elementor-element.elementor-element-d6f0d01 {--divider-border-style: solid;--divider-border-color: rgba(0,0,0,.14);--divider-border-width: 1px;}
.elementor-230 .elementor-element.elementor-element-d6f0d01 .elementor-divider-separator {width: 100%;}
.elementor-230 .elementor-element.elementor-element-d6f0d01 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-230 .elementor-element.elementor-element-ba719ff .elementor-testimonial-content {font-size: .9em;}
.elementor-230 .elementor-element.elementor-element-74fb0c3 {padding: 80px 20px 80px 20px;}
.elementor-230 .elementor-element.elementor-element-746586d > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-230 .elementor-element.elementor-element-4915ee9 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-230 .elementor-element.elementor-element-8139c17 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-e8d21e7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: flex-end;}
.elementor-230 .elementor-element.elementor-element-e8d21e7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-7ea7ff8 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #fff;color: #fff;background-color: #2b2b2b;border-radius: 0px 0px 0px 0px;}
.elementor-230 .elementor-element.elementor-element-7ea7ff8 .elementor-button:hover, .elementor-230 .elementor-element.elementor-element-7ea7ff8 .elementor-button:focus {color: #fff;background-color: #2b2b2b;}
.elementor-230 .elementor-element.elementor-element-7ea7ff8 .elementor-button:hover svg, .elementor-230 .elementor-element.elementor-element-7ea7ff8 .elementor-button:focus svg {fill: #fff;}
.elementor-230 .elementor-element.elementor-element-82a46f4:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-230 .elementor-element.elementor-element-82a46f4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-230 .elementor-element.elementor-element-82a46f4 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-82a46f4 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-230 .elementor-element.elementor-element-9cf26ec:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-230 .elementor-element.elementor-element-9cf26ec > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-230 .elementor-element.elementor-element-9cf26ec > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-9cf26ec > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-230 .elementor-element.elementor-element-a243e3d > .elementor-container {max-width: 900px;}
.elementor-230 .elementor-element.elementor-element-a243e3d:not(.elementor-motion-effects-element-type-background), .elementor-230 .elementor-element.elementor-element-a243e3d > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #18191d;}
.elementor-230 .elementor-element.elementor-element-a243e3d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-230 .elementor-element.elementor-element-a243e3d > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-230 .elementor-element.elementor-element-a243e3d .elementor-heading-title {color: #fff;}
.elementor-230 .elementor-element.elementor-element-54a28a7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-230 .elementor-element.elementor-element-b7c5128 {text-align: center;}
.elementor-230 .elementor-element.elementor-element-69cdad1 .elementor-text-editor {text-align: center;}
.elementor-230 .elementor-element.elementor-element-69cdad1 {font-size: 1.2em;}
.elementor-230 .elementor-element.elementor-element-710ec35 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-230 .elementor-element.elementor-element-710ec35 .elementor-button:hover, .elementor-230 .elementor-element.elementor-element-710ec35 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-230 .elementor-element.elementor-element-710ec35 .elementor-button:hover svg, .elementor-230 .elementor-element.elementor-element-710ec35 .elementor-button:focus svg {fill: #2b2b2b;}
@media (max-width:1024px) {.elementor-230 .elementor-element.elementor-element-95dfe33 {padding: 40px 20px 40px 20px;}
	.elementor-230 .elementor-element.elementor-element-3c6591e {padding: 40px 20px 40px 20px;}
	.elementor-230 .elementor-element.elementor-element-74fb0c3 {padding: 40px 20px 40px 20px;}
	.elementor-230 .elementor-element.elementor-element-a243e3d {padding: 40px 20px 40px 20px;}}
@media (max-width:767px) {.elementor-230 .elementor-element.elementor-element-95dfe33 {padding: 20px 20px 20px 20px;}
	.elementor-230 .elementor-element.elementor-element-cebed55 {font-size: 1em;}
	.elementor-230 .elementor-element.elementor-element-3c6591e {padding: 20px 20px 20px 20px;}
	.elementor-230 .elementor-element.elementor-element-74fb0c3 {padding: 20px 20px 20px 20px;}
	.elementor-230 .elementor-element.elementor-element-a243e3d {padding: 20px 20px 20px 20px;}
	.elementor-230 .elementor-element.elementor-element-69cdad1 {font-size: 1em;}}
@media (min-width:768px) {.elementor-230 .elementor-element.elementor-element-a926e3d {width: 67%;}
	.elementor-230 .elementor-element.elementor-element-46c5b2b {width: 33%;}
	.elementor-230 .elementor-element.elementor-element-cb297ed {width: 67%;}
	.elementor-230 .elementor-element.elementor-element-366d600 {width: 33%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-230 .elementor-element.elementor-element-cb297ed {width: 50%;}
	.elementor-230 .elementor-element.elementor-element-366d600 {width: 50%;}}