.elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-container {min-height: 55vh;}
.elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-container:after {content: "";min-height: inherit;}
.elementor-5 .elementor-element.elementor-element-1a27d0e:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: transparent;background-image: linear-gradient(140deg,#0a1e68 0%,#0043e8 100%);}
.elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-background-overlay {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2020/04/neve-doctor-09.jpg");background-size: cover;opacity: .5;mix-blend-mode: multiply;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-1a27d0e, .elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-background-overlay {border-radius: 0px 0px 240px 0px;}
.elementor-5 .elementor-element.elementor-element-1a27d0e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-5 .elementor-element.elementor-element-1a27d0e .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-e355ef8 > .elementor-element-populated {padding: 120px 20px 120px 20px;}
.elementor-5 .elementor-element.elementor-element-e761465 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-0da4dd8 .elementor-heading-title {font-size: 75px;line-height: 1.3em;}
.elementor-5 .elementor-element.elementor-element-fc4b336 {color: #fff;font-size: 1.3em;}
.elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button {font-weight: 700;fill: #0043e8;color: #0043e8;background-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(255,255,255,0);border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button:hover, .elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button:focus {color: #fff;background-color: rgba(0,102,255,0);border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button:hover svg, .elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button:focus svg {fill: #fff;}
.elementor-5 .elementor-element.elementor-element-6568a73 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 40px;}
.elementor-5 .elementor-element.elementor-element-6568a73 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-5 .elementor-element.elementor-element-56a99da {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 40px 20px 40px 20px;}
.elementor-5 .elementor-element.elementor-element-56a99da > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-de50f3e > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-702567f:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-702567f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-5 .elementor-element.elementor-element-702567f, .elementor-5 .elementor-element.elementor-element-702567f > .elementor-background-overlay {border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-702567f {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0px 10px 0px;}
.elementor-5 .elementor-element.elementor-element-702567f > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-86608df > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-86608df > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-view-stacked .elementor-icon {background-color: #fff;fill: #0043e8;color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-view-default .elementor-icon {fill: #fff;color: #fff;border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-view-framed .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon {font-size: 26px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon-box-content .elementor-icon-box-description {font-size: 1.2em;font-weight: 500;letter-spacing: .6px;}
.elementor-5 .elementor-element.elementor-element-9dbe31d > .elementor-widget-container {padding: 10px 10px 10px 10px;border-radius: 5px 5px 5px 5px;}
.elementor-5 .elementor-element.elementor-element-b508e23 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-b508e23 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-view-stacked .elementor-icon {background-color: #fff;fill: #0043e8;color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-view-default .elementor-icon {fill: #fff;color: #fff;border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-view-framed .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon {font-size: 26px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon-box-content .elementor-icon-box-description {font-size: 1.2em;font-weight: 500;letter-spacing: .6px;}
.elementor-5 .elementor-element.elementor-element-bb0a88f > .elementor-widget-container {padding: 10px 10px 10px 10px;border-radius: 5px 5px 5px 5px;}
.elementor-5 .elementor-element.elementor-element-f3a678a > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-f3a678a > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-view-stacked .elementor-icon {background-color: #fff;fill: #0043e8;color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-e1317cd.elementor-view-default .elementor-icon {fill: #fff;color: #fff;border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-view-framed .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-e1317cd.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon {font-size: 26px;}
.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon-box-content .elementor-icon-box-description {font-size: 1.2em;font-weight: 500;letter-spacing: .6px;}
.elementor-5 .elementor-element.elementor-element-e1317cd > .elementor-widget-container {padding: 10px 10px 10px 10px;border-radius: 5px 5px 5px 5px;}
.elementor-5 .elementor-element.elementor-element-8208a85 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-8208a85 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-view-stacked .elementor-icon {background-color: #fff;fill: #0043e8;color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-view-default .elementor-icon {fill: #fff;color: #fff;border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-view-framed .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon {font-size: 26px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon-box-content .elementor-icon-box-description {font-size: 1.2em;font-weight: 500;letter-spacing: .6px;}
.elementor-5 .elementor-element.elementor-element-8cc0d73 > .elementor-widget-container {padding: 10px 10px 10px 10px;border-radius: 5px 5px 5px 5px;}
.elementor-5 .elementor-element.elementor-element-6fc43b6:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-6fc43b6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-5 .elementor-element.elementor-element-6fc43b6 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-5 .elementor-element.elementor-element-6fc43b6 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-65cf1a7 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-715d8cf > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5 .elementor-element.elementor-element-05c8802 > .elementor-element-populated {padding: 40px 40px 40px 40px;}
.elementor-5 .elementor-element.elementor-element-c23ab56 {text-align: left;}
.elementor-5 .elementor-element.elementor-element-9d0a7eb {--divider-border-style: solid;--divider-border-color: #0043e8;--divider-border-width: 4px;}
.elementor-5 .elementor-element.elementor-element-9d0a7eb .elementor-divider-separator {width: 80px;margin: 0 auto;margin-left: 0;}
.elementor-5 .elementor-element.elementor-element-9d0a7eb .elementor-divider {text-align: left;padding-top: 16px;padding-bottom: 16px;}
.elementor-5 .elementor-element.elementor-element-94d7999 .elementor-text-editor {text-align: left;}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {padding-bottom: calc(20px / 2);}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {margin-top: calc(20px / 2);}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {margin-right: calc(20px / 2);margin-left: calc(20px / 2);}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items.elementor-inline-items {margin-right: calc(-20px / 2);margin-left: calc(-20px / 2);}
body.rtl .elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {left: calc(-20px / 2);}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {right: calc(-20px / 2);}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-icon i {color: #0043e8;font-size: 18px;}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-icon svg {fill: #0043e8;width: 18px;}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-text {padding-left: 0px;}
.elementor-5 .elementor-element.elementor-element-bafcbf6 .elementor-icon-list-item {font-weight: bold;}
.elementor-5 .elementor-element.elementor-element-d79f75f > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-478d8e5 .elementor-image img {border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-4a50eb9:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-4a50eb9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-4a50eb9 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-5 .elementor-element.elementor-element-4a50eb9 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-d591816 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-fb8e04c > .elementor-container {max-width: 960px;}
.elementor-5 .elementor-element.elementor-element-14adcc7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-1850b3e {text-align: center;}
.elementor-5 .elementor-element.elementor-element-1850b3e .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-b297457 {--divider-border-style: solid;--divider-border-color: #fff;--divider-border-width: 4px;}
.elementor-5 .elementor-element.elementor-element-b297457 .elementor-divider-separator {width: 80px;margin: 0 auto;margin-center: 0;}
.elementor-5 .elementor-element.elementor-element-b297457 .elementor-divider {text-align: center;padding-top: 16px;padding-bottom: 16px;}
.elementor-5 .elementor-element.elementor-element-24e6597 .elementor-text-editor {text-align: center;}
.elementor-5 .elementor-element.elementor-element-24e6597 {color: #fff;}
.elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button {font-weight: 700;fill: #0043e8;color: #0043e8;background-color: #fff;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(255,255,255,0);border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button:hover, .elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button:focus {color: #fff;background-color: rgba(0,102,255,0);border-color: #fff;}
.elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button:hover svg, .elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button:focus svg {fill: #fff;}
.elementor-5 .elementor-element.elementor-element-97690c7 > .elementor-container {max-width: 960px;}
.elementor-5 .elementor-element.elementor-element-97690c7 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5 .elementor-element.elementor-element-97690c7 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-5 .elementor-element.elementor-element-97690c7 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-element-populated, .elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-element-populated > .elementor-background-overlay, .elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;}
.elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-4d06ac3 .elementor-spacer-inner {height: 40px;}
.elementor-5 .elementor-element.elementor-element-dcdc956 > .elementor-container {max-width: 960px;text-align: center;}
.elementor-5 .elementor-element.elementor-element-dcdc956:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-dcdc956 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-5 .elementor-element.elementor-element-dcdc956 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 0px 0px 0px;z-index: 99;}
.elementor-5 .elementor-element.elementor-element-dcdc956 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-85d4a01.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: center;}
.elementor-5 .elementor-element.elementor-element-85d4a01 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: -100px 0px 80px 0px;padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-85d4a01 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-b26e2fd {margin-top: 0px;margin-bottom: 0px;}
.elementor-5 .elementor-element.elementor-element-26a6302 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-fc63f3d .elementor-custom-embed-play i {color: #fff;}
.elementor-5 .elementor-element.elementor-element-fc63f3d > .elementor-widget-container {border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-81a4dba:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-81a4dba > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #e8f2ff;}
.elementor-5 .elementor-element.elementor-element-81a4dba > .elementor-background-overlay {background-color: #fff;opacity: .3;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-81a4dba {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-5 .elementor-element.elementor-element-f57714b > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-408b566 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-view-stacked .elementor-icon {background-color: #0a1e68;}
.elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-view-default .elementor-icon {fill: #0a1e68;color: #0a1e68;border-color: #0a1e68;}
.elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon {font-size: 26px;border-radius: 999px 999px 999px 999px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-4a8d9df > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;border-radius: 4px 4px 4px 4px;box-shadow: 0px 0px 24px 0px rgba(0,0,0,.06);}
.elementor-5 .elementor-element.elementor-element-e3b983d.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-e3b983d.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-e3b983d.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-e3b983d.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-e3b983d.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-e3b983d.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon {font-size: 26px;border-radius: 999px 999px 999px 999px;}
.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-e3b983d > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;border-radius: 4px 4px 4px 4px;box-shadow: 0px 0px 24px 0px rgba(0,0,0,.06);}
.elementor-5 .elementor-element.elementor-element-f64172b > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-d6124b8 .elementor-spacer-inner {height: 40px;}
.elementor-5 .elementor-element.elementor-element-a102210.elementor-view-stacked .elementor-icon {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-a102210.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-a102210.elementor-view-default .elementor-icon {fill: #0043e8;color: #0043e8;border-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-a102210.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-a102210.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-a102210.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon {font-size: 26px;border-radius: 999px 999px 999px 999px;}
.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-a102210 > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;border-radius: 4px 4px 4px 4px;box-shadow: 0px 0px 24px 0px rgba(0,0,0,.06);}
.elementor-5 .elementor-element.elementor-element-5048244.elementor-view-stacked .elementor-icon {background-color: #0a1e68;}
.elementor-5 .elementor-element.elementor-element-5048244.elementor-view-framed .elementor-icon, .elementor-5 .elementor-element.elementor-element-5048244.elementor-view-default .elementor-icon {fill: #0a1e68;color: #0a1e68;border-color: #0a1e68;}
.elementor-5 .elementor-element.elementor-element-5048244.elementor-position-right .elementor-icon-box-icon {margin-left: 10px;}
.elementor-5 .elementor-element.elementor-element-5048244.elementor-position-left .elementor-icon-box-icon {margin-right: 10px;}
.elementor-5 .elementor-element.elementor-element-5048244.elementor-position-top .elementor-icon-box-icon {margin-bottom: 10px;}
.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon {font-size: 26px;border-radius: 999px 999px 999px 999px;}
.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon i {transform: rotate(0deg);}
.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon-box-wrapper {text-align: left;}
.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon-box-content .elementor-icon-box-title {line-height: 1.4em;letter-spacing: 1px;}
.elementor-5 .elementor-element.elementor-element-5048244 > .elementor-widget-container {padding: 40px 40px 40px 40px;background-color: #fff;border-radius: 4px 4px 4px 4px;box-shadow: 0px 0px 24px 0px rgba(0,0,0,.06);}
.elementor-5 .elementor-element.elementor-element-36c4e49:not(.elementor-motion-effects-element-type-background), .elementor-5 .elementor-element.elementor-element-36c4e49 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #0043e8;}
.elementor-5 .elementor-element.elementor-element-36c4e49 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-5 .elementor-element.elementor-element-36c4e49 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-6b5854e > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-64e84d7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-5 .elementor-element.elementor-element-c2cf5e2 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-c2cf5e2 .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-eeef3a9 {--divider-border-style: solid;--divider-border-color: #fff;--divider-border-width: 4px;}
.elementor-5 .elementor-element.elementor-element-eeef3a9 .elementor-divider-separator {width: 80px;margin: 0 auto;margin-center: 0;}
.elementor-5 .elementor-element.elementor-element-eeef3a9 .elementor-divider {text-align: center;padding-top: 16px;padding-bottom: 16px;}
.elementor-5 .elementor-element.elementor-element-07ce705 > .elementor-container {max-width: 960px;}
.elementor-5 .elementor-element.elementor-element-07ce705 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5 .elementor-element.elementor-element-07ce705 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-5 .elementor-element.elementor-element-07ce705 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-348fddb > .elementor-element-populated, .elementor-5 .elementor-element.elementor-element-348fddb > .elementor-element-populated > .elementor-background-overlay, .elementor-5 .elementor-element.elementor-element-348fddb > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-5 .elementor-element.elementor-element-348fddb > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 10px 10px 10px 10px;}
.elementor-5 .elementor-element.elementor-element-348fddb > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5 .elementor-element.elementor-element-76e97e8 .elementor-testimonial-content {color: #fff;font-size: 1.2em;}
.elementor-5 .elementor-element.elementor-element-76e97e8 .elementor-testimonial-name {color: #fff;font-size: 1.2em;font-weight: bold;text-transform: uppercase;letter-spacing: 1.3px;}
.elementor-5 .elementor-element.elementor-element-76e97e8 .elementor-testimonial-job {color: #fff;}
.elementor-5 .elementor-element.elementor-element-e862435 .elementor-spacer-inner {height: 40px;}
@media (max-width:1024px) {.elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-container {min-height: 40vh;}
	.elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-container:after {content: "";min-height: inherit;}
	.elementor-5 .elementor-element.elementor-element-1a27d0e, .elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-background-overlay {border-radius: 0px 0px 160px 0px;}
	.elementor-5 .elementor-element.elementor-element-e355ef8 > .elementor-element-populated {padding: 80px 20px 80px 20px;}
	.elementor-5 .elementor-element.elementor-element-e761465 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-0da4dd8 .elementor-heading-title {font-size: 65px;}
	.elementor-5 .elementor-element.elementor-element-6568a73 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-56a99da {padding: 40px 20px 40px 20px;}
	.elementor-5 .elementor-element.elementor-element-6fc43b6 {padding: 40px 20px 40px 20px;}
	.elementor-5 .elementor-element.elementor-element-05c8802 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-d79f75f > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-4a50eb9 {padding: 40px 20px 40px 20px;}
	.elementor-5 .elementor-element.elementor-element-14adcc7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-3fd71e3 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-85d4a01 > .elementor-element-populated {margin: -80px 40px 40px 40px;padding: 0px 0px 0px 0px;}
	.elementor-5 .elementor-element.elementor-element-81a4dba {padding: 40px 20px 40px 20px;}
	.elementor-5 .elementor-element.elementor-element-f57714b > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-408b566 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-f64172b > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-d6124b8 .elementor-spacer-inner {height: 40px;}
	.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-36c4e49 {padding: 40px 20px 40px 20px;}
	.elementor-5 .elementor-element.elementor-element-64e84d7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-348fddb > .elementor-element-populated {padding: 20px 20px 20px 20px;}}
@media (max-width:767px) {.elementor-5 .elementor-element.elementor-element-1a27d0e, .elementor-5 .elementor-element.elementor-element-1a27d0e > .elementor-background-overlay {border-radius: 0px 0px 120px 0px;}
	.elementor-5 .elementor-element.elementor-element-e355ef8 > .elementor-element-populated {padding: 40px 0px 40px 0px;}
	.elementor-5 .elementor-element.elementor-element-0da4dd8 .elementor-heading-title {font-size: 35px;}
	.elementor-5 .elementor-element.elementor-element-ba0daf0 .elementor-button {font-size: 16px;}
	.elementor-5 .elementor-element.elementor-element-6568a73 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-56a99da {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-9dbe31d .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-bb0a88f .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-e1317cd .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-8cc0d73 .elementor-icon-box-wrapper {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-6fc43b6 {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-4a50eb9 {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-14adcc7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-b297457 .elementor-divider {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-b297457 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-5 .elementor-element.elementor-element-60ee363 .elementor-button {font-size: 16px;}
	.elementor-5 .elementor-element.elementor-element-85d4a01 > .elementor-element-populated {margin: 20px 20px 20px 20px;padding: 0px 0px 0px 0px;}
	.elementor-5 .elementor-element.elementor-element-81a4dba {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-7a2105f {text-align: left;}
	.elementor-5 .elementor-element.elementor-element-577ef8b .elementor-text-editor {text-align: left;}
	.elementor-5 .elementor-element.elementor-element-4a8d9df .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-e3b983d .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-d6124b8 .elementor-spacer-inner {height: 10px;}
	.elementor-5 .elementor-element.elementor-element-a102210 .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-5048244 .elementor-icon-box-icon {margin-bottom: 10px;}
	.elementor-5 .elementor-element.elementor-element-36c4e49 {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-64e84d7 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
	.elementor-5 .elementor-element.elementor-element-eeef3a9 .elementor-divider {text-align: center;}
	.elementor-5 .elementor-element.elementor-element-eeef3a9 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}}
@media (min-width:768px) {.elementor-5 .elementor-element.elementor-element-e761465 {width: 70%;}
	.elementor-5 .elementor-element.elementor-element-6568a73 {width: 30%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-5 .elementor-element.elementor-element-86608df {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-b508e23 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-f3a678a {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-8208a85 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-f57714b {width: 100%;}
	.elementor-5 .elementor-element.elementor-element-408b566 {width: 50%;}
	.elementor-5 .elementor-element.elementor-element-f64172b {width: 50%;}}