.elementor-228 .elementor-element.elementor-element-2e1c32a {padding: 80px 20px 80px 20px;}
.elementor-228 .elementor-element.elementor-element-6908381 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-3c3823a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-1a9919f:not(.elementor-motion-effects-element-type-background), .elementor-228 .elementor-element.elementor-element-1a9919f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eef0ed;}
.elementor-228 .elementor-element.elementor-element-1a9919f {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 20px 80px 20px;}
.elementor-228 .elementor-element.elementor-element-1a9919f > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-228 .elementor-element.elementor-element-2001fdc > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-9b00e11 > .elementor-container {text-align: center;}
.elementor-228 .elementor-element.elementor-element-2f2a2aa > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-771496a .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-771496a .elementor-button:hover, .elementor-228 .elementor-element.elementor-element-771496a .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-228 .elementor-element.elementor-element-771496a .elementor-button:hover svg, .elementor-228 .elementor-element.elementor-element-771496a .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-228 .elementor-element.elementor-element-1474f79 > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-cbd4171 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-cbd4171 .elementor-button:hover, .elementor-228 .elementor-element.elementor-element-cbd4171 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-228 .elementor-element.elementor-element-cbd4171 .elementor-button:hover svg, .elementor-228 .elementor-element.elementor-element-cbd4171 .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-228 .elementor-element.elementor-element-aa148d9 > .elementor-container {text-align: center;}
.elementor-228 .elementor-element.elementor-element-aa148d9 {margin-top: 40px;margin-bottom: 0px;}
.elementor-228 .elementor-element.elementor-element-4932c8a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-f1ea153 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-f1ea153 .elementor-button:hover, .elementor-228 .elementor-element.elementor-element-f1ea153 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-228 .elementor-element.elementor-element-f1ea153 .elementor-button:hover svg, .elementor-228 .elementor-element.elementor-element-f1ea153 .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-228 .elementor-element.elementor-element-5ebd18a > .elementor-element-populated {padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-4e13dd7 .elementor-button {font-weight: bold;text-transform: uppercase;fill: #2b2b2b;color: #2b2b2b;background-color: #fcaf3b;border-radius: 0px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-4e13dd7 .elementor-button:hover, .elementor-228 .elementor-element.elementor-element-4e13dd7 .elementor-button:focus {color: #2b2b2b;background-color: #fff;}
.elementor-228 .elementor-element.elementor-element-4e13dd7 .elementor-button:hover svg, .elementor-228 .elementor-element.elementor-element-4e13dd7 .elementor-button:focus svg {fill: #2b2b2b;}
.elementor-228 .elementor-element.elementor-element-2c7a5fe > .elementor-container {max-width: 900px;text-align: center;}
.elementor-228 .elementor-element.elementor-element-2c7a5fe:not(.elementor-motion-effects-element-type-background), .elementor-228 .elementor-element.elementor-element-2c7a5fe > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #18191d;}
.elementor-228 .elementor-element.elementor-element-2c7a5fe {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;color: #fff;padding: 80px 20px 80px 20px;}
.elementor-228 .elementor-element.elementor-element-2c7a5fe > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-228 .elementor-element.elementor-element-2c7a5fe .elementor-heading-title {color: #fff;}
.elementor-bc-flex-widget .elementor-228 .elementor-element.elementor-element-af0d17d.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-228 .elementor-element.elementor-element-af0d17d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-228 .elementor-element.elementor-element-af0d17d > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 20px 20px;}
.elementor-228 .elementor-element.elementor-element-af0d17d > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-228 .elementor-element.elementor-element-9be4863 {text-align: center;}
.elementor-228 .elementor-element.elementor-element-5f994cd .elementor-testimonial-content {font-size: 1.2em;}
@media (min-width:768px) {.elementor-228 .elementor-element.elementor-element-6908381 {width: 67%;}
	.elementor-228 .elementor-element.elementor-element-3c3823a {width: 33%;}}
@media (max-width:1024px) {.elementor-228 .elementor-element.elementor-element-2e1c32a {padding: 40px 20px 40px 20px;}
	.elementor-228 .elementor-element.elementor-element-1a9919f {padding: 40px 20px 40px 20px;}
	.elementor-228 .elementor-element.elementor-element-2c7a5fe {padding: 40px 20px 40px 20px;}}
@media (max-width:767px) {.elementor-228 .elementor-element.elementor-element-2e1c32a {padding: 20px 20px 20px 20px;}
	.elementor-228 .elementor-element.elementor-element-1a9919f {padding: 20px 20px 20px 20px;}
	.elementor-228 .elementor-element.elementor-element-aa148d9 {margin-top: 20px;margin-bottom: 0px;}
	.elementor-228 .elementor-element.elementor-element-2c7a5fe {padding: 20px 20px 20px 20px;}
	.elementor-228 .elementor-element.elementor-element-9be4863 {text-align: center;}
	.elementor-228 .elementor-element.elementor-element-5f994cd .elementor-testimonial-content {font-size: 1em;}}