#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-title, #section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-title a {color: #fff;font-family: Open Sans;font-size: 28px;font-weight: 800;line-height: 1;margin: 0 0 20px 0;}
@media only screen and (min-width:768px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-title, #section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-title a {font-size: 55px;}}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item-button {color: #fff;padding: 15px 30px 15px 30px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: rgba(255,255,255,1);border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;font-family: Open Sans;font-size: 14px;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
@media only screen and (min-width:768px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item-button {padding: 20px 40px 20px 40px;}}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef {padding: 0 0 0 0;}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-block-shape-bottom svg path, #section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-block-shape-bottom svg polygon {fill: rgba(255,255,255,1);}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-block-shape-bottom svg {height: 70px;}
@media only screen and (min-width:992px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-block-shape-bottom svg {width: 100%;}}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-desc {color: #fff;font-family: Open Sans;font-size: 17px;font-weight: 300;line-height: 1.5;}
@media only screen and (min-width:768px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-single-item-desc {font-size: 20px;}}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-bg-image, .imageSlider-repeater .gutentor-single-item .gutentor-bg-image {height: 500px;background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: scroll;}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item-0 .gutentor-bg-image, .imageSlider-repeater .gutentor-single-item-0 .gutentor-bg-image {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2019/09/banner-image1.jpg");}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item-1 .gutentor-bg-image, .imageSlider-repeater .gutentor-single-item-1 .gutentor-bg-image {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2019/09/agreement-2548138_1920.jpg");}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .bg-color-box {height: 300px;}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .overlay {background-color: rgba(105,82,163,.3);}
@media (min-width:768px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-bg-image {height: 550px;}
	#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .bg-color-box {height: 450px;}}
@media (min-width:992px) {#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .gutentor-bg-image {height: 650px;}
	#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-single-item .bg-color-box {height: 550px;}}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-slider-wrapper .slick-dots li {background: rgba(255,255,255,1);height: rgba(255,255,255,1);}
#section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-slider-wrapper .slick-dots li:hover, #section-6af98535-3c03-44a1-a35e-5e4c55394aef .gutentor-slider-wrapper .slick-dots li.slick-active {background: rgba(238,58,106,1);}
#section-523109a5-84cb-4770-87b9-8dc45fecc379 .gutentor-single-item .gutentor-single-item-title, #section-523109a5-84cb-4770-87b9-8dc45fecc379 .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 18px;font-weight: 700;margin: 40px 0 10px 0;}
#section-523109a5-84cb-4770-87b9-8dc45fecc379 {background-color: #fff;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-523109a5-84cb-4770-87b9-8dc45fecc379 {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-523109a5-84cb-4770-87b9-8dc45fecc379 {padding: 80px 0 80px 0;}}
#section-523109a5-84cb-4770-87b9-8dc45fecc379 .gutentor-single-item {background: #fbfbfb;padding: 40px 40px 40px 40px;}
#section-523109a5-84cb-4770-87b9-8dc45fecc379 .gutentor-single-item .gutentor-single-item-desc {color: #838383;font-family: Open Sans;font-size: 14px;font-weight: 400;line-height: 2;}
#section-523109a5-84cb-4770-87b9-8dc45fecc379 .gutentor-single-item .gutentor-single-item-icon-box {color: #ee3a6a;font-size: 30px;}
#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title, #section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 24px;font-weight: 700;line-height: 1.2;margin: 30px 0 20px 0;}
@media only screen and (min-width:768px) {#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title, #section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title a {font-size: 28px;}}
@media only screen and (min-width:992px) {#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title, #section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-title a {font-size: 32px;}}
#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a {background-color: #fcfcfc;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a {padding: 80px 0 80px 0;}}
#section-48637935-bc93-4a31-b4a5-a1ad36ca8c9a .gutentor-single-item .gutentor-single-item-desc {color: #838383;font-family: Open Sans;font-size: 14px;font-weight: 400;line-height: 2;}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-section-title .gutentor-title {margin: 0 0 0 0;color: #444;font-family: Open Sans;font-size: 30px;font-weight: 800;}
@media only screen and (min-width:768px) {#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-section-title .gutentor-title {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-section-title .gutentor-title {font-size: 34px;}}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-grid-item-wrap {margin: 40px 0 0 0;}
@media only screen and (min-width:768px) {#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-grid-item-wrap {margin: 80px 0 0 0;}}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-single-item .gutentor-single-item-title, #section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 18px;font-weight: 700;}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 {background-color: #fff;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 {padding: 80px 0 80px 0;}}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-single-item .gutentor-single-item-desc {color: #838383;font-family: Open Sans;font-size: 14px;font-weight: 400;line-height: 2;}
#section-3b2b6c4b-9b98-421a-8fee-1151cd8cbce2 .gutentor-single-item .gutentor-single-item-icon-box {color: #ee3a6a;font-size: 30px;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053 .gutentor-single-item .gutentor-single-item-title, #section-bbb3812a-8bfb-474b-b9df-103f564b9053 .gutentor-single-item .gutentor-single-item-title a {color: #fff;font-family: Open Sans;font-size: 18px;font-weight: 600;text-transform: uppercase;letter-spacing: 1px;margin: 0 0 0 0;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053 .gutentor-single-item .gutentor-single-item-icon-box {color: #ee3a6a;font-size: 30px;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053 .gutentor-single-item .gutentor-single-item-number {color: #fff;font-family: Open Sans;font-size: 40px;font-weight: 800;line-height: 1;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053 .gutentor-single-item .gutentor-single-item-number {margin: 0 0 0 0;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053 {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2019/09/unnamed-file.jpg");background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: fixed;padding: 40px 0 40px 0;}
#section-bbb3812a-8bfb-474b-b9df-103f564b9053.has-gutentor-overlay:after {background-color: rgba(105,82,163,.51);}
@media only screen and (min-width:768px) {#section-bbb3812a-8bfb-474b-b9df-103f564b9053 {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-bbb3812a-8bfb-474b-b9df-103f564b9053 {padding: 80px 0 80px 0;}}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-section-title .gutentor-title {margin: 0 0 0 0;color: #444;font-family: Open Sans;font-size: 30px;font-weight: 800;}
@media only screen and (min-width:768px) {#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-section-title .gutentor-title {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-section-title .gutentor-title {font-size: 34px;}}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-grid-item-wrap {margin: 40px 0 0 0;}
@media only screen and (min-width:768px) {#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-grid-item-wrap {margin: 80px 0 0 0;}}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-single-item .gutentor-single-item-title, #section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-single-item .gutentor-single-item-title a {color: #fff;font-family: Open Sans;font-size: 18px;font-weight: 600;}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-single-item .gutentor-single-item-content .gallery-icon {font-size: 16px;color: #fff;}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-single-item .gutentor-single-item-content .image-gallery:hover .gallery-icon {color: #275cf6;}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 .gutentor-single-item:hover .gutentor-single-item-image-box .overlay {background: rgba(0,0,0,.46);}
#section-af53bc43-6f58-496d-a467-bf04dcf92e55 {background-color: #fff;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-af53bc43-6f58-496d-a467-bf04dcf92e55 {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-af53bc43-6f58-496d-a467-bf04dcf92e55 {padding: 80px 0 80px 0;}}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-section-title .gutentor-title {margin: 0 0 0 0;color: #444;font-family: Open Sans;font-size: 30px;font-weight: 800;}
@media only screen and (min-width:768px) {#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-section-title .gutentor-title {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-section-title .gutentor-title {font-size: 34px;}}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-grid-item-wrap {margin: 40px 0 0 0;}
@media only screen and (min-width:768px) {#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-grid-item-wrap {margin: 80px 0 0 0;}}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-single-item .gutentor-single-item-title, #section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 18px;font-weight: 700;}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-single-item .gutentor-single-item-designation {color: #959595;font-family: Open Sans;font-size: 16px;font-weight: 400;}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-single-item .gutentor-single-item-designation {margin: 0 0 0 0;}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b {background-color: #f8f8f8;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-5606c619-d91a-4b6e-a9a1-e4913a55233b {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-5606c619-d91a-4b6e-a9a1-e4913a55233b {padding: 80px 0 80px 0;}}
#section-5606c619-d91a-4b6e-a9a1-e4913a55233b .gutentor-single-item {background: #fff;padding: 0 0 15px 0;}
#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-section-title .gutentor-title {margin: 0 0 0 0;color: #444;font-family: Open Sans;font-size: 30px;font-weight: 800;}
@media only screen and (min-width:768px) {#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-section-title .gutentor-title {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-section-title .gutentor-title {font-size: 34px;}}
#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-grid-item-wrap {margin: 40px 0 0 0;}
@media only screen and (min-width:768px) {#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-grid-item-wrap {margin: 80px 0 0 0;}}
#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-single-item .gutentor-single-item-title, #section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 18px;font-weight: 700;margin: 30px 0 0 0;}
#section-de62ca83-4927-4ca1-9d63-7568125af4de {background-color: #fff;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-de62ca83-4927-4ca1-9d63-7568125af4de {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-de62ca83-4927-4ca1-9d63-7568125af4de {padding: 80px 0 80px 0;}}
#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-single-item .gutentor-single-item-desc {color: #838383;font-family: Georgia;font-size: 18px;font-weight: 400;font-style: italic;line-height: 1.5;}
#section-de62ca83-4927-4ca1-9d63-7568125af4de .gutentor-single-item .gutentor-single-item-designation {color: #838383;font-family: Open Sans;font-size: 14px;font-weight: 400;}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title, #section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title a {color: #fff;font-family: Open Sans;font-size: 30px;font-weight: 800;margin: 0 0 15px 0;}
@media only screen and (min-width:768px) {#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title, #section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title a {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title, #section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-title a {font-size: 34px;}}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item-button {color: #fff;background-color: rgba(238,58,106,1);margin: 30px 0 0 0;padding: 20px 40px 20px 40px;border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;font-family: Open Sans;font-size: 14px;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item-button:hover {background-color: rgba(210,45,89,1);}
@media only screen and (min-width:768px) {#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item-button {margin: 50px 0 0 0;}}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee {background-image: url("https://lotka-co.github.io/site/wp-content/uploads/2019/09/after-work-american-bar-beard-bearded-blond-1452979-pxhere.com1_.jpg");background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: fixed;padding: 40px 0 40px 0;}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee.has-gutentor-overlay:after {background-color: rgba(105,82,163,.51);}
@media only screen and (min-width:768px) {#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee {padding: 120px 0 120px 0;}}
#section-fd1f217c-d1ab-4f3e-9074-6053991b6bee .gutentor-single-item .gutentor-single-item-desc {color: #fff;font-family: Open Sans;font-size: 17px;font-weight: 300;line-height: 1.5;}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-section-title .gutentor-title {margin: 0 0 0 0;color: #444;font-family: Open Sans;font-size: 30px;font-weight: 800;}
@media only screen and (min-width:768px) {#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-section-title .gutentor-title {font-size: 30px;}}
@media only screen and (min-width:992px) {#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-section-title .gutentor-title {font-size: 34px;}}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-grid-item-wrap {margin: 40px 0 0 0;}
@media only screen and (min-width:768px) {#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-grid-item-wrap {margin: 80px 0 0 0;}}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item .gutentor-single-item-title, #section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item .gutentor-single-item-title a {color: #444;font-family: Open Sans;font-size: 18px;font-weight: 700;margin: 30px 0 0 0;}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 {background-color: #fff;padding: 40px 0 40px 0;}
@media only screen and (min-width:768px) {#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 {padding: 60px 0 60px 0;}}
@media only screen and (min-width:992px) {#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 {padding: 80px 0 80px 0;}}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item {box-shadow: 0 0 20px 1px rgba(0,0,0,.1);padding: 40px 40px 40px 40px;}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item .gutentor-single-item-desc {color: #838383;font-family: Open Sans;font-size: 14px;font-weight: 400;line-height: 2;margin: 0 0 0 0;}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item .gutentor-single-item-image-box {margin-top: -40px;margin-right: -40px;margin-left: -40px;}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .gutentor-single-item .overlay {background: rgba(92,92,92,.31);}
#section-b3f448bf-8527-4535-bd0b-649e1a2f0652 .entry-meta div {color: #aaa;font-family: Open Sans;font-size: 14px;font-weight: 400;margin: 0 0 10px 0;}
#section-93da1839-32d7-436d-9aec-1e3cb44facfa {background-color: #fcfcfc;padding: 40px 0 0 0;}
#section-93da1839-32d7-436d-9aec-1e3cb44facfa .gutentor-single-item {border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}