body {direction: rtl;}
.nav-classic .site-branding a:before {right: -620px;left: auto;}
.nav-classic .site-branding a:after {right: 100%;border-right: 0px solid transparent;border-left: 100px solid transparent;left: auto;}
.box-header-nav .main-menu {text-align: right;margin-right: 45px;margin-left: 0;}
.box-header-nav .main-menu .page_item.page_item_has_children>a::after, .box-header-nav .main-menu>.menu-item.menu-item-has-children>a::after {margin-right: 4px;margin-left: 0;}
.box-header-nav .main-menu>ul>.page_item, .box-header-nav .main-menu>.menu-item {float: right;}
.box-header-nav .main-menu .children>.page_item.page_item_has_children>a::after, .box-header-nav .main-menu .sub-menu>.menu-item.menu-item-has-children>a::after {float: left;content: "";}
.box-header-nav .main-menu .children .children, .box-header-nav .main-menu .sub-menu .sub-menu {right: 100%;left: auto;}
@media (max-width: 992px) {span.sub-toggle {left: 0;right: auto;}
	.nav-classic .header-nav-toggle {float: left;}
	.box-header-nav .main-menu {margin-right: 0;margin-left: 0;}
	.box-header-nav .main-menu .children .children, .box-header-nav .main-menu .sub-menu .sub-menu {right: 0;left: auto;}}
.fa-angle-double-right:before {content: "";}
.calltoaction_promo_wrapper .calltoaction_button_wrap .btn-border {margin-left: 0;margin-right: 30px;}
.businessroyportfolio-caption a {right: 85%;left: auto;}
.businessroyportfolio-caption a.businessroyportfolio-image {left: auto;right: 5px;}
.articlesListing .article .info div {margin-left: 25px;margin-right: 0;}
.articlesListing .article .info div:after {margin-right: 10px;margin-left: 0;}
.businessroyteam .teamwrap .teamdesc {text-align: right;}
.widget_recent_entries a {padding-left: 0;padding-right: 15px;}
.widget_recent_entries a::before {content: "";}
.widget_archive a::before, .widget_categories a::before, .widget_recent_entries a::before, .widget_meta a::before, .widget_recent_comments li::before, .widget_rss li:before, .widget_pages li:before, .widget_nav_menu li:before, .widget_product_categories a:before {right: 0;left: auto;}
.widget_archive ul li a, .widget_categories ul li a, .widget_product_categories ul li a {float: right;}
.widget_archive a, .widget_categories a, .widget_recent_entries a, .widget_meta a, .widget_recent_comments li, .widget_rss li, .widget_pages li, .widget_nav_menu li, .widget_product_categories a {padding-right: 22px;padding-left: 0;text-align: right;}
.widget_meta a::before, .widget_nav_menu li:before {content: "";}
.site-footer .widget .widget-title {text-align: right;}
.site-footer .widget h2.widget-title:before {right: 0;left: 0;}
.cross-sells h2, .cart_totals h2, .up-sells h2, .related h2, .woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-additional-fields h3, #order_review_heading, .woocommerce-order-details h2, .woocommerce-column--billing-address h2, .woocommerce-column--shipping-address h2, .woocommerce-Address-title h3, .woocommerce-MyAccount-content h3, .wishlist-title h2, .woocommerce-account .woocommerce h2, .widget-area .widget .widget-title, .comments-area .comments-title {text-align: right;}
.cross-sells h2:before, .cart_totals h2:before, .up-sells h2:before, .related h2:before, .woocommerce-billing-fields h3:before, .woocommerce-shipping-fields h3:before, .woocommerce-additional-fields h3:before, #order_review_heading:before, .woocommerce-order-details h2:before, .woocommerce-column--billing-address h2:before, .woocommerce-column--shipping-address h2:before, .woocommerce-Address-title h3:before, .woocommerce-MyAccount-content h3:before, .wishlist-title h2:before, .woocommerce-account .woocommerce h2:before, .widget-area .widget .widget-title:before, .comments-area .comments-title:before {right: 0;left: auto;}
.widget-area ul li {text-align: right;}
.comment-metadata {padding-right: 50px;padding-left: 0;text-align: right;}
.comment-author img {margin-left: 15px;margin-right: 0;}
.comment-author {text-align: right;}
.comment-content {text-align: right;}