html {line-height: 1.15;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
h1 {font-size: 2em;margin: .67em 0;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace,monospace;font-size: 1em;}
a {background-color: transparent;}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace,monospace;font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -.25em;}
sup {top: -.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: .35em .75em .625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"], [type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
body, button, input, select, optgroup, textarea {color: #232529;font-family: sans-serif;font-size: 16px;font-size: 1rem;line-height: 1.5;}
h1, h2, h3, h4, h5, h6 {clear: both;margin-top: 0;}
p {margin-bottom: 1.5em;}
dfn, cite, em, i {font-style: italic;}
blockquote {margin: 0 1.5em;}
address {margin: 0 0 1.5em;}
pre {background: #eee;font-family: "Courier 10 Pitch",Courier,monospace;font-size: 15px;font-size: .9375rem;line-height: 1.6;margin-bottom: 1.6em;max-width: 100%;overflow: auto;padding: 1.6em;}
code, kbd, tt, var {font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size: 15px;font-size: .9375rem;}
abbr, acronym {border-bottom: 1px dotted #666;cursor: help;}
mark, ins {text-decoration: none;font-weight: 500;color: #232529;}
big {font-size: 125%;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {font-family: "Roboto",sans-serif;font-size: 16px;line-height: 26px;color: #212529;font-weight: 400;overflow-x: hidden;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
hr {background-color: #ccc;border: 0;height: 1px;margin-bottom: 1.5em;}
label {font-weight: normal;color: #232529;margin: 0;}
label .required {border-bottom: none;text-decoration: none;}
a {color: #232529;text-decoration: none;line-height: inherit;}
a:hover, a:focus, a:active {text-decoration: none;outline: none;color: #165da5;}
p {margin-bottom: 15px;}
ul, ol {padding: 0 0 0 15px;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;line-height: 1.2;margin: 0 0 15px;color: #232529;}
h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
img {height: auto;max-width: 100%;vertical-align: middle;}
figure {margin: 0;}
table {border: 1px solid #eee;border-collapse: collapse;border-spacing: 0;table-layout: auto;width: 100%;margin-bottom: 20px;}
th, td {border-color: #eee;border-style: solid;border-width: 1px;padding: 5px;font-weight: normal;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], select, textarea {border: 1px solid #eee;padding: 7px 10px;font-size: 16px;line-height: 24px;max-width: 100%;background: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="url"] {height: 40px;}
textarea {display: block;width: 100%;}
select {background: url("assets/images/down-arrow.png") no-repeat right #fff;-webkit-appearance: none;background-position-x: 95%;}
select::-ms-expand {display: none;}
:focus {outline: 1px dotted #ccc;}
blockquote {font-family: "Pacifico",cursive;color: #333;border: none;padding: 15px 0px 15px 20px;margin-bottom: 12px;margin: 15px 0;}
iframe {display: block;max-width: 100% !important;}
::-webkit-input-placeholder {color: inherit;opacity: 1;filter: alpha(opacity=100);}
:-moz-placeholder {color: inherit;opacity: 1;filter: alpha(opacity=100);}
::-moz-placeholder {color: inherit;opacity: 1;filter: alpha(opacity=100);}
:-ms-input-placeholder {color: inherit;opacity: 1;filter: alpha(opacity=100);}
input[type="radio"], input[type="checkbox"] {margin-top: 5px;}
a.button, button, input[type="submit"] {display: inline-block;vertical-align: top;font-size: 14px;line-height: 24px;padding: 8px 20px;border: none;background-color: #165da5;color: #fff;text-align: center;font-weight: 600;}
a.button:hover, a.button:focus, button:hover, input[type="submit"]:hover {opacity: .7;color: #fff;}
a {color: #212529;}
a:hover, a:focus, a:active {color: #165da5;}
a:focus {outline: 0;}
a:hover, a:active {outline: 0;}
.nav-classic .header-nav-toggle {display: none;width: 35px;margin: 6px 0;float: right;cursor: pointer;background: transparent;padding: 8px 0;}
.headertwo .header-nav-toggle {display: none;width: 35px;margin: 6px 0;float: right;cursor: pointer;top: 30px;position: absolute;right: 25px;z-index: 9;}
.nav-classic .header-nav-toggle div {width: 100%;height: 4px;background-color: #165da5;margin: 8px 0;transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;}
.headertwo .header-nav-toggle div {width: 100%;height: 4px;background-color: #fff;margin: 8px 0;transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;}
button.sub-toggle {display: none;position: absolute;top: 0;right: 0;height: 42px;text-align: center;background: rgba(228,228,228,.57);color: #212121;z-index: 99;cursor: pointer;}
.box-header-nav .main-menu ul {padding: 0;margin: 0;list-style-type: none;}
.box-header-nav .main-menu {list-style: none;margin-bottom: 0;text-align: left;margin-left: 45px;}
.block-nav-category .vertical-menu .menu-item.btn, .box-header-nav .main-menu .menu-item.btn {display: block;padding: inherit;text-align: inherit;border: 0;}
.box-header-nav .main-menu .page_item, .box-header-nav .main-menu .page_item a, .box-header-nav .main-menu .menu-item, .box-header-nav .main-menu .menu-item a {position: relative;}
.box-header-nav .main-menu>ul>.page_item, .box-header-nav .main-menu>.menu-item {display: inline-block;float: left;}
.box-header-nav .main-menu .page_item a, .box-header-nav .main-menu>.menu-item .ancestor-wrapper a {display: inline-block;padding: 20px 15px;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
.box-header-nav .main-menu .page_item.current_page_item>a, .box-header-nav .main-menu .page_item:hover>a, .box-header-nav .main-menu .page_item.focus>a, .box-header-nav .main-menu>.menu-item.current-menu-item>.ancestor-wrapper a, .box-header-nav .main-menu>.menu-item:hover>.ancestor-wrapper a, .box-header-nav .main-menu>.menu-item.focus>.ancestor-wrapper a {color: #fff;background: #165da5;}
.box-header-nav .main-menu .page_item.page_item_has_children>a::after, .box-header-nav .main-menu>.menu-item.menu-item-has-children>.ancestor-wrapper a::after {display: inline-block;vertical-align: top;content: "";margin-left: 6px;font-family: "Font Awesome 5 Free";}
.box-header-nav .main-menu .children, .box-header-nav .main-menu .sub-menu {list-style: none;position: absolute;top: 100%;left: 0;width: 225px;background-color: #fff;color: #666;box-shadow: 0 -1px #eee inset,1px 0 #eee inset,-1px 0 #eee inset;padding: 0;visibility: hidden;opacity: 0;-webkit-transform: translateY(20px);-moz-transform: translateY(20px);-ms-transform: translateY(20px);-o-transform: translateY(20px);transform: translateY(20px);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;z-index: 999;}
.box-header-nav .main-menu .page_item:hover>.children, .box-header-nav .main-menu .page_item.focus>.children, .box-header-nav .main-menu .menu-item:hover>.sub-menu, .box-header-nav .main-menu .menu-item.focus>.sub-menu {-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;transform: none;opacity: 1;visibility: visible;z-index: 999;}
.box-header-nav .main-menu .children>.page_item>a, .box-header-nav .main-menu .sub-menu>.menu-item>.ancestor-wrapper a {display: block;padding: 10px 15px;font-weight: 700;letter-spacing: .5px;}
.box-header-nav .main-menu .children li:not(:first-child)::before, .box-header-nav .main-menu .sub-menu li:not(:first-child)::before {content: "";display: block;border-top: 1px dashed #f1f1f1;}
.box-header-nav .main-menu .children>.page_item:hover>a, .box-header-nav .main-menu .children>.page_item.focus>a, .box-header-nav .main-menu .sub-menu>.menu-item:hover>.ancestor-wrapper a, .box-header-nav .main-menu .sub-menu>.menu-item.focus>.ancestor-wrapper a {background-color: #165da5;color: #fff;font-weight: 700;}
.box-header-nav .main-menu .children>.page_item.page_item_has_children>a::after, .box-header-nav .main-menu .sub-menu>.menu-item.menu-item-has-children>.ancestor-wrapper a::after {display: inline-block;float: right;content: "";font-family: "Font Awesome 5 Free";}
.box-header-nav .main-menu .children .children, .box-header-nav .main-menu .sub-menu .sub-menu {top: 0;left: 100%;-webkit-transform: translateX(20px);-moz-transform: translateX(20px);-ms-transform: translateX(20px);-o-transform: translateX(20px);transform: translateX(20px);box-shadow: 0 -1px #eee inset,1px 0 #eee inset,0 1px #eee inset;}
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {margin: 0 0 1.5em;overflow: hidden;}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {float: left;width: 50%;}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {float: right;text-align: right;width: 50%;}
.menu-modal {background: #fff;display: none;opacity: 0;overflow-y: auto;overflow-x: hidden;position: fixed;bottom: 0;left: -99999rem;right: 99999rem;top: 0;transition: opacity .25s ease-in,left 0s .25s,right 0s .25s;z-index: 99;}
.admin-bar .menu-modal {top: 32px;}
@media (max-width: 782px) {.admin-bar .menu-modal {top: 46px;}}
.menu-modal.show-modal {display: flex;}
.menu-modal.active {left: 0;opacity: 1;right: 0;transition: opacity .25s ease-out;}
button.close-nav-toggle {font-size: 1.6rem;font-weight: normal;padding: 25px 0;width: 100%;}
.modal-menu {position: relative;left: calc(50% - 50vw);width: 100vw;padding: 0 12px;}
.modal-menu li {border-color: #dedfdf;border-style: solid;border-width: .1rem 0 0 0;list-style-type: none;}
.modal-menu a {display: block;padding: 1.5rem;text-decoration: none;width: 100%;font-size: 1.5rem;}
.modal-menu > li > a, .modal-menu > li > .ancestor-wrapper > a {font-size: 1.6rem;font-weight: 700;}
.modal-menu > li:last-child {border-bottom-width: .1rem;}
.modal-menu .ancestor-wrapper {display: flex;justify-content: space-between;width: 100%;}
button.sub-menu-toggle {background: transparent;color: #505050;box-shadow: none;border-radius: 0;font-size: 2rem;font-weight: 400;text-transform: none;border-left: .1rem solid #dedfdf;margin: .8rem 0;padding: 0 1.5rem;}
button.sub-menu-toggle i {transition: transform .15s linear;}
button.sub-menu-toggle.active i {transform: rotate(180deg);}
.modal-menu ul {display: none;margin: 0;width: 100%;}
.modal-menu ul li {border-left-width: 1rem;}
button.toggle.sub-menu-toggle {display: none;}
.menu-wrapper .menu-item {position: relative;}
.menu-wrapper .active {display: block;}
.menu-wrapper.is-toggling {pointer-events: none;}
.menu-wrapper.is-toggling .menu-item {position: absolute;top: 0;left: 0;margin: 0;width: 100%;}
.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {width: auto;}
.menu-wrapper.is-animating .menu-item, .menu-wrapper.is-animating .toggling-target {transition-duration: 250ms;}
.menu-wrapper.is-animating .menu-item {transition-property: transform;}
.menu-wrapper.is-toggling .toggling-target {display: block;position: absolute;top: 0;left: 0;opacity: 1;}
.menu-wrapper.is-toggling .toggling-target.active {opacity: 0;}
.menu-wrapper.is-animating.is-toggling .toggling-target {display: block;transition-property: opacity;opacity: 0;}
.menu-wrapper.is-animating.is-toggling .toggling-target.active {opacity: 1;}
.menu-wrapper.is-toggling .modal-menu > li:last-child li {border-top-color: transparent;border-bottom-width: .1rem;}
@media (prefers-reduced-motion: reduce) {.menu-wrapper.is-animating .menu-item, .menu-wrapper.is-animating .toggling-target {transition-duration: 1ms !important;}}
.screen-reader-text {border: 0;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute !important;width: 1px;word-wrap: normal !important;}
.screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;clip-path: none;color: #21759b;display: block;font-size: 14px;font-size: .875rem;font-weight: bold;height: auto;left: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
#content[tabindex="-1"]:focus {outline: 0;}
.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {content: "";display: table;table-layout: fixed;}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {clear: both;}
.widget, .content-area {margin: 1.5em 0;}
.widget select {max-width: 100%;}
.widget-area .widget.woocommerce ul {list-style: outside none none;margin: 0;padding: 0;}
.cross-sells h2, .cart_totals h2, .up-sells h2, .related h2, .woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-additional-fields h3, #order_review_heading, .woocommerce-order-details h2, .woocommerce-column--billing-address h2, .woocommerce-column--shipping-address h2, .woocommerce-Address-title h3, .woocommerce-MyAccount-content h3, .wishlist-title  h2, .woocommerce-account .woocommerce h2, .widget-area .widget .widget-title, .comments-area .comments-title {width: 100%;margin-top: 0;text-transform: uppercase;display: inline-block;font-size: 16px;font-weight: 600;letter-spacing: 1.5px;line-height: 1.6;line-height: 35px;padding-bottom: 5px;position: relative;margin-bottom: 15px;}
.cross-sells h2:before, .cart_totals h2:before, .up-sells h2:before, .related h2:before, .woocommerce-billing-fields h3:before, .woocommerce-shipping-fields h3:before, .woocommerce-additional-fields h3:before, #order_review_heading:before, .woocommerce-order-details h2:before, .woocommerce-column--billing-address h2:before, .woocommerce-column--shipping-address h2:before, .woocommerce-Address-title h3:before, .woocommerce-MyAccount-content h3:before, .wishlist-title h2:before, .woocommerce-account .woocommerce h2:before, .widget-area .widget .widget-title:before, .comments-area .comments-title:before {content: "";position: absolute;left: 0;top: 100%;height: 1px;width: 50px;border-bottom: 2px solid #165da5;}
.widget-area ul li {border-bottom: 1px dotted rgba(0,0,0,.1);margin-bottom: 5px;padding-bottom: 5px;line-height: 32px;}
.widget-area ul li:last-child {border: 0;padding-bottom: 0;}
.widget_archive ul, .widget_categories ul, .widget_product_categories ul, .widget_recent_entries ul, .widget_meta ul, .widget_recent_comments ul, .widget_rss ul, .widget_pages ul, .widget_nav_menu ul {list-style: outside none none;margin: 0;padding: 0;}
.widget_archive li, .widget_categories li, .widget_product_categories li, .widget_recent_entries li, .widget_meta li, .widget_recent_comments li, .widget_rss li, .widget_pages li, .widget_nav_menu li {border-bottom: 1px dotted rgba(0,0,0,.1);margin-bottom: 5px;padding-bottom: 5px;}
.widget_archive a, .widget_categories a, .widget_product_categories a, .widget_recent_entries a, .widget_meta a, .widget_recent_comments li, .widget_rss li, .widget_pages li, .widget_nav_menu li {color: #333;font-size: 16px;line-height: 32px;padding-left: 22px;position: relative;-webkit-transition: color .3s ease;-moz-transition: color .3s ease;-ms-transition: color .3s ease;-o-transition: color .3s ease;transition: color .3s ease;}
.widget-area .widget a:hover, .widget-area .widget a:hover::before, .widget-area .widget li:hover::before {color: #165da5;}
.widget_archive a::before, .widget_categories a::before, .widget_product_categories a::before, .widget_recent_entries a::before, .widget_meta a::before, .widget_recent_comments li::before, .widget_rss li:before, .widget_pages li:before, .widget_nav_menu li:before {color: #333;content: "";font-family: "Font Awesome 5 Free";font-weight: 700;font-size: 14px;left: 0;position: absolute;top: -8px;-webkit-transition: color .3s ease;-moz-transition: color .3s ease;-ms-transition: color .3s ease;-o-transition: color .3s ease;transition: color .3s ease;}
.widget_categories a::before, .widget_product_categories a::before {content: "";top: 0;}
.widget_archive a::before {top: 0;}
.widget_recent_entries a::before {content: "";}
.widget_meta a::before, .widget_nav_menu li:before {content: "";}
.widget_recent_comments li::before {content: "";top: 0;}
.widget_rss li::before {content: "";top: 0;}
.widget_pages li:before {content: "";top: 0;}
.widget_recent_entries .post-date {color: #8f8f8f;display: block;font-size: 11px;margin-top: -5px;padding-left: 24px;}
.widget_nav_menu li:before {top: 0;}
.widget select {width: 100%;height: 40px;font-size: 16px;margin-bottom: 15px;max-width: 100%;}
.widget_archive ul li, .widget_product_categories ul li, .widget_categories ul li {width: 100%;text-align: right;display: inline-block;}
.widget_archive ul li a, .widget_categories ul li a, .widget_product_categories ul li a {float: left;}
.widget_product_categories ul li:last-of-type, .widget_categories ul li:last-of-type, .widget_recent_comments ul li:last-of-type, .widget_rss ul li:last-of-type, .widget_recent_entries ul li:last-of-type, .widget_pages ul li:last-of-type, .widget_meta ul li:last-of-type, .widget_nav_menu ul li:last-of-type, .widget_archive ul li:last-of-type {border-bottom-width: 0;}
.widget_tag_cloud .tagcloud {padding: 0 20px 20px;}
.widget_product_categories ul li .children li:last-child, .widget_pages ul li .children li:last-child, .widget_nav_menu ul li .sub-menu li:last-child {border-bottom: 0;padding-bottom: 0;margin-bottom: 0;}
.widget_product_categories ul li {position: relative;display: -ms-flexbox;display: flex;-ms-flex-flow: row wrap;flex-flow: row wrap;-ms-flex-align: center;align-items: center;text-align: left;}
.widget_product_categories ul li a {float: left;display: inline-block;-ms-flex: 1;flex: 1;}
.widget_product_categories ul li ul {border-left: 1px solid #ddd;margin: 0 0 10px 3px;padding-left: 15px;width: 100%;display: none;}
.widget-area ul li.cat-parent .children {padding: 0;display: none;}
.widget-area ul li.cat-parent .children li {line-height: 0;padding: 0;margin: 0;border: 0;}
.widget-area ul li.cat-parent .children li a::before {content: "";}
.cat_toggle {position: absolute;top: 0;right: 0;width: 35px;height: 35px;line-height: 35px;text-align: center;background: rgba(255,255,255,.8);color: #165da5;z-index: 99;cursor: pointer;}
.widget_product_search .woocommerce-product-search, .widget_search .search-form {position: relative;}
.widget_search .search-field::-webkit-input-placeholder, .widget_search .search-form:-moz-placeholder, .widget_search .search-form:-ms-input-placeholder {color: #868686;}
.widget_search .search-form > label {margin: 0;width: 100%;}
.widget_search .screen-reader-text {display: none;}
.widget_product_search .search-field, .widget_search .search-field {background: #eee none repeat scroll 0 0;border: 1px solid #fff;color: #333;display: inline-block;height: 47px;vertical-align: middle;width: 80%;padding: 0 10px;font-weight: 400;font-size: 16px;border-radius: 0;}
.widget_product_search a.button, .widget_product_search button, .widget_product_search input[type="submit"], .widget_search .search-submit {position: absolute;top: 0;right: 15px;border-radius: 0;display: inline-block;font-size: 15px;font-weight: 400;height: 46px;margin-left: 0;vertical-align: middle;transition: all .5s ease 0s;-webkit-transition: all ease .5s;border: none;color: #fff;background: #165da5;}
.widget_product_search .search-submit:hover, .widget_search .search-submit:hover {background: #232529;color: #fff;}
.widget_calendar tbody td {text-align: center;color: #a8a7a7;}
.widget_calendar caption {font-weight: 700;}
.calendar_wrap caption {background: none repeat scroll 0 0 #165da5;color: #fff;line-height: 25px;text-align: center;}
.calendar_wrap table {border-collapse: collapse;width: auto;}
.calendar_wrap table th {border: 1px solid #ccc;font-weight: bold;padding: 8px 0px;text-align: center;width: 5%;}
.calendar_wrap table td {border: 1px solid #ccc;padding: 8px 0px;color: #232529;width: 5%;text-align: center;}
.calendar_wrap table td #prev, .calendar_wrap table td#next {text-align: left;padding-left: 10px;padding-right: 10px;}
.calendar_wrap table td #next {text-align: right;}
.textwidget ul, .mailpoet_form_widget {padding: 0 10px;}
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {width: 100%;}
.author_widget {text-align: center;}
.author_widget .author_thumb img {display: block;width: 220px;height: 220px;border-radius: 50%;border: 3px solid #eee;-o-object-fit: cover;object-fit: cover;-o-object-position: center center;object-position: center center;margin: 0 auto;}
.author_widget .author_name {margin: 10px 0;}
.author_widget .author_name h4 {margin-bottom: 0;}
.author_widget .author_desc {padding: 0 5px;}
.aboutus-wrap .sociallink ul {margin: 0px;list-style: none;padding: 0px;text-align: center;}
.aboutus-wrap .sociallink ul li {display: inline-block;vertical-align: middle;border: 0;}
.site-footer .aboutus-wrap .sociallink ul li {border: 0;}
.aboutus-wrap .sociallink ul li a {font-size: 14px;border-radius: 3px;border-radius: 100%;line-height: 35px;display: inline-block;width: 35px;height: 35px;text-align: center;border: 1px solid #165da5;color: #165da5;margin-right: 5px;}
.aboutus-wrap .sociallink ul li a:hover {background: #165da5;color: #fff;border: 1px solid #165da5;}
.site-footer .author_name h4, .site-footer .author_desc {color: #fff;}
.woocommerce .widget_price_filter {padding: 0 8px;}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {position: relative;text-align: left;background-color: #165da5;margin-top: 15px;margin-bottom: 13px;border-radius: 0;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {display: block;position: absolute;top: 0;height: 100%;background: #ccc;z-index: 1;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {position: absolute;top: -5px;left: 0;width: 13px;height: 17px;cursor: e-resize;-ms-touch-action: none;touch-action: none;background-image: url("assets/images/filter.png");background-size: cover;background-color: initial;z-index: 2;margin-left: -6px;border-radius: 0;}
.woocommerce .widget_price_filter .ui-slider.ui-state-disabled .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider.ui-state-disabled .ui-slider-range {filter: inherit;}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {left: 0;}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {right: 0;}
.woocommerce .widget_price_filter .price_slider_amount {position: relative;padding: 35px 0 5px;font-size: inherit;line-height: inherit;}
.woocommerce .widget_price_filter .price_slider_amount .price_label {position: absolute;top: 0;left: 0;color: #333;}
.woocommerce .widget_price_filter .price_slider_amount .button {position: relative;width: 100%;font-size: 15px;}
.woocommerce .widget_price_filter .price_slider_amount .button:hover::after {position: absolute;top: 0;bottom: 0;left: 0;right: 0;content: "";background-color: rgba(255,255,255,.3);}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {float: left;margin-left: 0px;width: 80px;margin-right: 10px;}
.woocommerce ul.product_list_widget li {line-height: 25px;padding: 8px 0;}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a, .widget_top_rated_products .product_list_widget .product-title {font-size: 15px;color: #555;font-weight: 600;text-transform: capitalize;text-rendering: auto;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;}
.widget-area .product_list_widget .woocommerce-Price-amount {display: inline-block;font-size: 16px;font-weight: 600;color: #165da5;margin-bottom: 0;}
.widget-area .product_list_widget del .woocommerce-Price-amount {display: inline-block;vertical-align: bottom;font-size: 14px;line-height: 18px;color: #fb0404;opacity: .7;}
.widget-area .product_list_widget ins .woocommerce-Price-amount {float: left;margin-right: 10px;text-decoration: none;color: #108430;}
.woocommerce .star-rating {font-size: 12px;width: 6.3em;margin-top: 10px;letter-spacing: 2px;}
.woocommerce ul.product_list_widget li .star-rating {margin-bottom: 5px;}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {color: #ffc60a;}
.reviewer {color: #999;}
.woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {background: #ebe9eb;padding: 10px;border-top: 0;margin-bottom: 10px;}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {padding-left: 0;margin-bottom: 10px;}
.widget_shopping_cart_content .total .amount {float: right;}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {color: #232529;font-weight: bold;left: auto;right: 10px;top: 2px;font-size: 16px;background: #f1eeee;}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover, .woocommerce.widget_shopping_cart .cart_list li a.remove:hover {color: red;background: inherit;background: #165da5;left: auto;right: 10px;top: 2px;}
.widget p.woocommerce-mini-cart__buttons {margin-bottom: 0;}
.woocommerce .widget .woocommerce-mini-cart__buttons a.button {display: block;text-transform: uppercase;margin-right: 0;margin-bottom: 0;}
.widget .woocommerce-mini-cart__buttons a:last-child {margin-top: 10px;}
.widget .woocommerce-mini-cart__buttons a:hover {color: #fff;}
.widget_layered_nav li {display: -ms-flexbox;display: flex;}
.widget_layered_nav li a {-ms-flex: 1;flex: 1;}
.widget_layered_nav li .count {opacity: .5;font-size: .7em;}
.yith-woocompare-widget ul {padding: 0;margin: 0;list-style: none;}
.yith-woocompare-widget ul li {line-height: inherit;}
.yith-woocompare-widget ul.products-list li .remove {line-height: inherit;}
.widget.yith-woocompare-widget .compare, .widget.yith-woocompare-widget .clear-all {display: inline-block;border: 1px solid #165da5;background-color: #165da5;padding: 5px 15px;margin: 10px;height: auto;text-transform: capitalize;color: #fff;font-size: 15px;border-radius: 0;line-height: inherit;font-weight: normal;}
.widget.yith-woocompare-widget .compare:hover, .widget.yith-woocompare-widget .clear-all:hover {border: 1px solid #165da5;background-color: transparent;border-radius: 0px;color: #165da5;}
.select2-container .select2-selection--multiple, .select2-container .select2-selection--single {height: 30px !important;min-height: 37px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 35px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 35px !important;}
.sticky {display: block;}
.blog-grid .article {margin: 0 0 2em;}
.updated:not(.published) {display: none;}
.page-content, .entry-content, .entry-summary {margin: 1.5em 0 0;}
.page-links {clear: both;margin: 0 0 1.5em;}
.comment-content a {word-wrap: break-word;}
.bypostauthor {display: block;}
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {display: none;}
.infinity-end.neverending .site-footer {display: block;}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.custom-logo-link {display: inline-block;}
.wp-caption {margin-bottom: 1.5em;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto;}
.wp-caption .wp-caption-text {margin: .8075em 0;}
.wp-caption-text {text-align: center;}
.gallery {margin-bottom: 1.5em;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;}
.gallery-item img {width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 50%;}
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item {max-width: 25%;}
.gallery-columns-5 .gallery-item {max-width: 20%;}
.gallery-columns-6 .gallery-item {max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%;}
.gallery-columns-8 .gallery-item {max-width: 12.5%;}
.gallery-columns-9 .gallery-item {max-width: 11.11%;}
.gallery-caption {display: block;}
.gallery figure {margin: 0px;padding: 3px;}
body.boxed {max-width: 1160px;margin: 0 auto;}
body.boxed .site {background: #eee none repeat scroll 0 0;box-shadow: 1px 1px 6px rgba(0,0,0,.5);position: relative;}
body.boxed .nav-classic .site-branding a:before {left: -25px;width: 25px;}
.btn {display: inline-block;font-weight: 400;font-weight: 700;text-align: center;white-space: nowrap;vertical-align: middle;font-size: 14px;line-height: 1.5;text-transform: uppercase;border-radius: 0px;border-radius: 25px;padding: 12px 25px;}
.btn i {margin-left: 2px;}
.btn-primary {background: #165da5;color: #fff;border: 1px solid #165da5;}
.btn-primary:hover, .btn-primary:focus {background: #222;color: #fff;border-color: #222;}
.btn-border-dark {border: 1px solid #24272a;color: #24272a !important;}
.btn-border-dark:hover, .btn-border-dark:focus {background: #165da5;color: #222;border-color: #165da5;}
.btn-border {border: 1px solid #fff;color: #fff !important;}
.btn-border:hover, .btn-border:focus {background: #165da5;color: #222;border-color: #165da5;}
.btn-link {font-size: 14px;color: #101010;padding-left: 0px;}
.btn-link:hover {color: #165da5;text-decoration: none;}
.nav-classic .site-branding {position: absolute;z-index: 2;background: #165da5;padding: 15px 0;text-align: center;max-height: 90px;}
.nav-classic .site-branding h1 {margin-bottom: 0;}
.nav-classic .site-branding h1 {font-size: 30px;}
.nav-classic .site-branding h1 a, .nav-classic .site-branding p.site-description {color: #fff;}
.nav-classic .site-branding a:before {content: "";position: absolute;top: 0;height: 100%;left: -620px;width: 620px;background: #165da5;}
.nav-classic .site-branding a:after {content: "";position: absolute;left: 100%;z-index: -1;border-top: 90px solid #165da5;border-left: 0px solid transparent;border-right: 100px solid transparent;bottom: 0;height: 90px;}
.banner-slider .slider-item {height: 535px;background-repeat: no-repeat;background-size: cover;background-position: center center;position: relative;}
.banner-slider .slider-item:before {background: rgba(0,0,0,.4);bottom: 0;height: 100%;content: "";display: block;left: 0;position: absolute;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;width: 100%;}
.banner-slider .slider-item .slider-content {height: auto;color: #fff;padding: 20px;background: rgba(0,0,0,.2);}
.banner-slider .slider-item .slider-content .slider-title {font-size: 64px;line-height: 72px;color: #fff;margin-bottom: 30px;}
.banner-slider .slider-item .slider-content p {font-size: 20px;line-height: 1.6;display: block;}
.banner-slider .slider-item .slider-content .btn-area .btn-border {margin-left: 30px;}
.banner-slider .owl-nav {display: none;}
.banner-table {width: 100%;height: 100%;display: table;}
.banner-table .banner-table-cell {display: table-cell;width: 100%;height: 100%;vertical-align: middle;}
.banner-table .banner-table-cell .mx-auto .slider-content {text-align: center;}
.owl-item.active .slider-content h2.slider-title {-webkit-animation-name: animLeft;animation-name: animLeft;-webkit-animation: animLeft 1s ease 500ms both;animation: animLeft 1s ease 500ms both;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-animation-delay: 2000ms;animation-delay: 2000ms;}
.owl-item.active .slider-content p {-webkit-animation-name: animLeft;animation-name: animLeft;-webkit-animation: animLeft 1s ease 500ms both;animation: animLeft 1s ease 500ms both;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-animation-delay: 2500ms;animation-delay: 2500ms;}
@-webkit-keyframes animLeft {from {opacity: 0;-webkit-transform: translate3d(0,-20%,0);transform: translate3d(0,-20%,0);}
	to {opacity: 1;-webkit-transform: none;transform: all .5s;}}
.banner-slider .owl-dots {position: absolute;bottom: 10%;right: 47%;left: auto;}
.banner-slider.owl-carousel button.owl-dot {background: #165da5;padding: 0 8px !important;}
.banner-slider .owl-dots .owl-dot span {width: 12px;height: 12px;border-radius: 50%;background: #fff;display: inline-block;opacity: 1;}
.banner-slider .owl-dots .owl-dot.active span {border-radius: 50%;border: 2px solid #fff;background: transparent;position: relative;opacity: 1;}
.banner-slider .owl-dots .owl-dot:focus {outline: none;}
.section-title {position: relative;letter-spacing: 0;line-height: 46px;font-weight: 700;margin-bottom: 20px;font-size: 35px;text-align: center;}
.section-tagline {font-size: 18px;width: 70%;margin: 0 auto;text-align: center;margin-bottom: 35px;}
.businessroytestimonial .client-img, .businessroyservices .feature-list .box figure {position: relative;overflow: hidden;}
.businessroytestimonial .client-img img, .businessroyservices .feature-list .box figure img {transition: all ease .6s;-webkit-transition: all ease .6s;-ms-transition: all ease .6s;}
.businessroytestimonial .client-img img:hover, .businessroyservices .feature-list .box figure img:hover {transform: scale(1.1);-webkit-transform: scale(1.1);-ms-transform: scale(1.1);}
.businessroyfeature {margin-top: 0;z-index: 1;position: relative;}
.no-gutters {padding-left: 0 !important;padding-right: 0 !important;}
.businessroyfeature .feature-list.nogutters {margin-bottom: 30px;}
.businessroyfeature .feature-list .box {display: inline-block;text-align: center;background: #014b8d;color: #fff;padding: 35px 25px 15px;font-size: 18px;margin-bottom: 0;cursor: pointer;position: relative;line-height: 1.6;}
.businessroyfeature .feature-list .box.prime-column-1 {background: #f17d80 none repeat scroll 0 0;}
.businessroyfeature .feature-list .box.prime-column-2 {background: #68a8ad none repeat scroll 0 0;}
.businessroyfeature .feature-list .box.prime-column-3 {background: #9c1472 none repeat scroll 0 0;}
.businessroyfeature .feature-list .box.prime-column-4 {background: #737495 none repeat scroll 0 0;}
.businessroyfeature .feature-list .box.prime-column-5 {background: #628e2a none repeat scroll 0 0;}
.businessroyfeature .feature-list .box.prime-column-6 {background: #6c8672 none repeat scroll 0 0;}
.businessroyfeature .feature-list .icon-box {font-size: 50px;margin-bottom: 15px;width: 100px;height: 100px;line-height: 100px;text-align: center;display: inline-block;border-radius: 50%;background-color: rgba(0,0,0,.25);color: #fff;}
.businessroyfeature .feature-list .box h3 {margin-top: 15px;}
.businessroyfeature .feature-list .box h3 a {color: #fff;transition: all .4s ease;}
.about_us_front {margin: 40px 0;}
.about_us_front .aboutimgwrap img {width: 100%;}
.businessroyservices {padding: 40px 0;background-color: #004a8d;}
.businessroyservices.layout_one .feature-list {margin-bottom: 30px;}
.businessroyservices.layout_one .feature-list .bottom-content {padding: 20px;text-align: center;}
.businessroyservices.layout_one .feature-list .bottom-content .btn {padding: 10px 15px;border-radius: 25px;text-transform: none;}
.businessroyservices .section-title, .businessroyservices .section-tagline {color: #fff;}
.businessroyservices.layout_two .feature-list .box {background: #fff;padding: 30px;-webkit-box-shadow: 0px 1px 20px -8px rgba(0,0,0,.8);box-shadow: 0px 1px 20px -8px rgba(0,0,0,.8);text-align: center;}
.businessroyservices.layout_two .feature-list .box .icon-box {color: #333;font-size: 50px;margin-bottom: 30px;}
.businessroyservices.layout_two .feature-list {margin-bottom: 30px;}
.businessroyservices.layout_two .feature-list .bottom-content a {color: #545454;padding: 0;background: transparent;border: 0;margin-top: 10px;-webkit-transition: all .3s ease;transition: all .3s ease;}
.businessroyservices.layout_two .feature-list .bottom-content a:hover {color: #165da5;}
.calltoaction_promo_wrapper {position: relative;z-index: 2;padding: 120px 0;text-align: center;}
.calltoaction_promo_wrapper .calltoaction_full_widget_content h2 {font-size: 40px;font-weight: 700;color: #fff;margin-bottom: 25px;}
.calltoaction_promo_wrapper .calltoaction_full_widget_content .calltoaction_subtitle {width: 80%;margin: 0 auto;font-size: 18px;line-height: 30px;color: #fff;}
.calltoaction_promo_wrapper .calltoaction_button_wrap {padding-top: 30px;}
.calltoaction_promo_wrapper .calltoaction_button_wrap .btn-border {margin-left: 30px;}
.calltoaction_promo_wrapper.video_calltoaction {padding: 80px 0;color: #fff;}
.calltoaction_promo_wrapper:before {background: rgba(0,0,0,.5);bottom: 0;height: 100%;content: "";display: block;left: 0;position: absolute;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;width: 100%;z-index: -1;}
.calltoaction_promo_wrapper.video_calltoaction .calltoaction_full_widget_content {margin-bottom: 0;}
.calltoaction_promo_wrapper.video_calltoaction .calltoaction_full_widget_content::after {display: none;}
.video_calltoaction_wrap {margin-bottom: 50px;}
.video_calltoaction_wrap .box-shadow-ripples {position: relative;z-index: 99;width: 80px;height: 80px;line-height: 80px;font-size: 30px;color: #fff;text-align: center;text-align: center;background: #165da5;border-radius: 50%;border: none;display: inline-block;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;box-shadow: 0 0 16px rgba(255,255,255,.5);}
.video_calltoaction_wrap .box-shadow-ripples:before {position: absolute;content: "";top: -3px;bottom: -3px;left: -3px;right: -3px;border-radius: 50%;box-shadow: 0 0 rgba(255,255,255,.2),0 0 0 16px rgba(255,255,255,.2),0 0 0 32px rgba(255,255,255,.2),0 0 0 48px rgba(255,255,255,.2);animation: ripples 1s linear infinite;animation-play-state: running;opacity: 1;visibility: visible;transform: scale(.8);z-index: 0;}
.video_calltoaction_wrap .box-shadow-ripples:hover:before {animation-play-state: paused;opacity: 0;visibility: hidden;transition: .5s;}
@keyframes ripples {to {box-shadow: 0 0 0 16px rgba(255,255,255,.2),0 0 0 32px rgba(255,255,255,.2),0 0 0 48px rgba(255,255,255,.2),0 0 0 64px rgba(255,255,255,0);}}
.businessroyportfolio-section {margin: 40px 0;}
.businessroyportfolio-cat-name-list {text-align: center;margin-bottom: 25px;}
.businessroyportfolio-cat-name-list .businessroyportfolio-cat-name:first-child {background: #fff;color: #165da5;}
.businessroyportfolio-cat-name {cursor: pointer;cursor: pointer;display: inline-block;background: #165da5;border: 1px solid #165da5;color: #fff;font-weight: 700;text-transform: capitalize;border-radius: 25px;padding: .5rem 1.5rem;-webkit-transition: all .3s ease;transition: all .3s ease;}
.businessroyportfolio-cat-name:last-child {margin-right: 0;}
.businessroyportfolio-cat-name:hover, .businessroyportfolio-cat-name.active {color: #165da5;background: transparent;border: 1px solid #165da5;}
.businessroyportfolio-post-wrap {margin: 0 -7.5px;}
.businessroyportfolio {width: 33.33%;float: left;padding: 7.5px;}
.businessroyportfolio-outer-wrap {position: relative;}
.businessroyportfolio-wrap {background-size: cover;background-position: center;background-repeat: no-repeat;overflow: hidden;background-color: #f9f9f9;}
.businessroyportfolio-wrap img {position: relative;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.businessroyportfolio-caption {position: absolute;left: 0;right: 0;bottom: 0;top: 0;padding: 30px;opacity: 0;background: rgba(22,93,165,.75);transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;overflow: hidden;text-align: center;}
.businessroyportfolio-wrap:hover .businessroyportfolio-caption {opacity: 1;}
.businessroyportfolio-caption h3 {color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,.2);position: absolute;top: 20px;left: 20px;right: 20px;-ms-transform: translate(0,-300px);-webkit-transform: translate(0,-300px);transform: translate(0,-300px);transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;}
.businessroyportfolio-wrap:hover .businessroyportfolio-caption h3 {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
.businessroyportfolio-caption a {height: 36px;width: 36px;position: absolute;right: 20px;bottom: 20px;text-align: center;display: block;line-height: 36px;color: #165da5;font-size: 18px;background: #fff;margin: 10px 5px;transition: all .3s ease;-moz-transition: all .3s ease;-webkit-transition: all .3s ease;}
.businessroyportfolio-caption a.businessroyportfolio-image {-ms-transform: translate(300px,0);-webkit-transform: translate(300px,0);transform: translate(300px,0);right: 0;left: 15px;}
.businessroyportfolio-caption a.businessroyportfolio-link {-ms-transform: translate(-300px,0);-webkit-transform: translate(-300px,0);transform: translate(-300px,0);}
.businessroyportfolio-wrap:hover .businessroyportfolio-caption a.businessroyportfolio-link, .businessroyportfolio-wrap:hover .businessroyportfolio-caption a.businessroyportfolio-image {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
.businessroycounter_wrap {padding: 60px 0;background-position: center;background-position: 50% 0;background-repeat: no-repeat;background-size: cover;color: #fff;background-attachment: fixed;position: relative;}
.businessroycounter_wrap:before {background: rgba(0,0,0,.8);bottom: 0;height: 100%;content: "";display: block;left: 0;position: absolute;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;width: 100%;}
.businessroycounter_wrap .section-title {color: #fff;}
.businessroycounter {text-align: center;border-top: 0;padding: 0 20px 20px;position: relative;margin-top: 50px;}
.businessroycounter-count {font-size: 35px;line-height: 1;margin: 25px 0;letter-spacing: 3px;}
.businessroycounter-title {letter-spacing: 1px;text-transform: uppercase;margin-top: 15px;font-weight: 400;margin: 0;color: #fff;}
.businessroyblog-list-area {padding: 40px 0;}
.businessroyblog-list-area .articlesListing .article .box {padding: 15px 10px;}
.businessroyblog-list-area .articlesListing .article .box {padding: 15px;}
.businessroyblog-list-area .articlesListing {margin-bottom: 20px;}
.businessroytestimonial {padding: 90px 0;position: relative;text-align: center;background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;}
.businessroytestimonial .section-title, .businessroytestimonial .section-tagline {color: #fff;}
.businessroytestimonial .section-tagline {margin-bottom: 60px;}
.businessroytestimonial:before {background: rgba(0,0,0,.5);bottom: 0;height: 100%;content: "";display: block;left: 0;position: absolute;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;width: 100%;}
.businessroytestimonial .testimonialbox {background: #fff;padding: 20px;-webkit-box-shadow: 0 0 12px rgba(0,0,0,.15);box-shadow: 0 0 12px rgba(0,0,0,.15);transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);margin: 15px;text-align: left;}
.businessroytestimonial .owl-item.center .testimonialbox {transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);}
.businessroytestimonial .testimonialwrap {display: -ms-flexbox;display: -webkit-box;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.businessroytestimonial .testimonialbox img {width: 80px;height: auto;margin-right: 20px;border-radius: 50%;}
.businessroytestimonial .testimonialbox h4 {margin-bottom: 0;font-size: 20px;}
.owl-dots {text-align: center;margin-top: 15px;}
.owl-theme .owl-dots .owl-dot.active {width: 30px;background-color: #165da5;}
.owl-theme .owl-dots .owl-dot {width: 10px;height: 10px;display: inline-block;margin-right: 8px;border-radius: 6px;background-color: #fff;transition: .25s;}
.owl-theme .owl-dots .owl-dot:hover {background-color: #165da5;}
.businessroyteam {padding: 40px 0;background: #f9f8f8;}
.businessroyteam .teamwrap {background: #fff;margin-bottom: 25px;}
.businessroyteam .teamwrap {display: -ms-flexbox;display: -webkit-box;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.businessroyteam .teamwrap .teamdesc {width: 60%;padding: 10px 15px;}
.businessroyteam .teamwrap .teamdesc h4 {margin-bottom: 0;}
.businessroyteam .teamwrap .teamdesc h4 a {color: #404040;font-weight: 500;}
.businessroyteam .teamwrap .teamdesc h4 a:hover {color: #165da5;}
.businessroyteam .teamwrap .teamdesc span {color: #165da5;}
.businessroyteam ul.sp_socialicon {padding: 0;margin: 0;list-style-type: none;}
.businessroyteam ul.sp_socialicon li {display: inline-block;margin-right: 5px;margin-bottom: 5px;}
.businessroyteam ul.sp_socialicon li a i {display: block;width: 30px;height: 30px;text-align: center;line-height: 30px;border-radius: 50%;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;color: #fff;background: #165da5;}
.businessroyteam ul.sp_socialicon li a i.fa-facebook-f {background: #3b5998;}
.businessroyteam ul.sp_socialicon li a i.fa-twitter {background: #1da1f2;}
.businessroyteam ul.sp_socialicon li a i.fa-google {background: #db4c3f;}
.businessroyteam ul.sp_socialicon li a i.fa-linkedin-in {background: #1178b3;}
.businessroyteam.sp_socialicon li a i.fa-youtube {background: #d20014;}
.businessroyteam ul.sp_socialicon li a i:hover {background: #165da5;color: #fff;border-color: #165da5;}
.articlesListing .article .blog-post-thumbnail {position: relative;overflow: hidden;}
.articlesListing .article .blog-post-thumbnail .post-thumbnail img {transition: all ease .6s;-webkit-transition: all ease .6s;-ms-transition: all ease .6s;}
.articlesListing .article .blog-post-thumbnail .post-thumbnail img:hover {transform: scale(1.1);-webkit-transform: scale(1.1);-ms-transform: scale(1.1);}
.articlesListing .article .box {padding: 15px 10px;position: relative;margin: -30px 15px 30px;}
.businessroyblog-list-area .articlesListing .article .box {margin: 0;}
.articlesListing .article .box.nopostimage {margin: 0;}
.box {background: #f9f9f9;}
.articlesListing .article h3 {font-weight: 400;text-align: center;margin-bottom: 15px;font-size: 25px;}
.product.articlesListing .article h3 {color: #555;font-size: 22px;}
.articlesListing .article iframe {width: 100%;border: 0;}
.articlesListing .article .info {text-align: center;}
.articlesListing .article .info div {display: inline-block;margin-right: 25px;font-weight: 300;color: #525252;}
.articlesListing .article .info div:after {width: 6px;height: 6px;border-radius: 90px;background: #165da5;margin-top: 10px;margin-left: 10px;position: absolute;content: "";}
.articlesListing .article .info div:last-child:after {content: none;}
.articlesListing .entry-content {margin-top: 15px;}
.articlesListing.blog-grid .entry-content p {text-align: center;}
.articlesListing .entry-content p {line-height: 26px;}
.articlesListing .article .btns.text-center {margin: 10px 0;}
.articlesListing article:last-child {margin: 0;}
.entry-content a {color: #165da5;}
.entry-content a.btn {color: #fff;}
.entry-content a.btn:hover {color: #fff;}
.entry-content a:hover {color: #212529;}
.post-format-media-quote {background: #e87477;padding: 10px;color: #fff;font-size: 18px;line-height: 1.6;}
.articlesListing .article .post-format-media-quote p {color: #fff;font-weight: 500;margin-top: 0;}
.articlesListing .article .post-format-media-quote blockquote {padding: 0;margin: 0;}
.blog-grid > li {display: inline-block;vertical-align: top;margin-right: 15px;}
[data-layout*="masonry2"] .article {width: calc(( 100% - 15px ) / 2 - 1px);width: -webkit-calc(( 100% - 15px ) / 2 - 1px);}
[data-layout*="gridcol2"] .blog-grid-style:nth-of-type(2n+2) {margin-right: 0;}
.pagination {text-align: center;padding: 20px;margin: 0;display: block;background: #fdfdfd;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);-moz-box-shadow: 0px 0px 5px 0px rgba(247,247,247,.82);box-shadow: 0px 0px 1px 0px rgba(247,247,247,.82);border-radius: 0;}
.page-numbers {display: inline-block;margin: 0 2px;background: #165da5;border: 1px solid #165da5;color: #fff;padding: 10px 18px;line-height: 1;}
.page-numbers.current {background: #fff;color: #165da5;}
.page-numbers:hover {background: transparent;border: 1px solid #165da5;color: #165da5;}
.prevNextArticle {padding: 20px 15px;text-align: center;margin-top: 20px;}
.prevNextArticle .hoverExtend.active {font-weight: bold;text-transform: capitalize;}
.prevNextArticle .hoverExtend.active span {border-bottom: 4px double #165da5;}
.prevNextArticle .title {font-size: 18px;}
.prevNextArticle a:hover {color: #165da5;}
#comments {margin-top: 30px;}
.comment-content a {word-wrap: break-word;}
.bypostauthor {display: block;}
#comments h3 {margin: 0 0 10px;color: #141414;font-weight: 600;display: inline-block;line-height: 22px;font-size: 18px;}
#commentform label {display: block;}
textarea#comment {width: 100%;height: 150px;border-radius: 5px;}
.comments-area .comment-form input[type="text"], .comments-area .comment-form input[type="email"], .comments-area .comment-form input[type="url"] {width: 100%;border-radius: 5px;}
.comment-form-cookies-consent label {margin-left: 14px;}
.comments-area ol {margin: 0;padding: 0;list-style: none;}
.comments-area ol.children {margin: 0 0 0 15px;}
.comment-list .comment-body {padding: 20px;margin-bottom: 20px !important;background: none;border: 1px solid #e1e1e1;text-align: left;}
.comment-author img {vertical-align: text-top;margin-right: 15px;border: 1px solid #e1e1e1;padding: 3px;border-radius: 50%;}
.comment-author {float: none;}
.comment-metadata {font-size: 12px;margin-top: -12px;padding-left: 50px;}
.comment-content {margin-top: 10px;}
.comment-author .fn {font-style: normal;font-size: 16px;text-transform: capitalize;font-weight: bold;}
.comment-author .fn .url {color: #333;padding: 0;font-size: 16px;}
.comment-author .fn .url:hover {color: #165da5;}
.comment-author .says {display: none;}
.commentmetadata {float: right;font-weight: normal;font-weight: 300;font-size: 12px;font-style: italic;}
.comment-metadata a {color: #969696;}
.commentmetadata .comment-edit-link {color: #165da5;}
.commentmetadata+.clear {margin-bottom: 20px;}
.reply .comment-reply-link {background: none repeat scroll 0 0 #165da5;color: #fff;font-size: 12px;line-height: 20px;padding: 0 10px;display: inline-block;border-radius: 25px;}
#respond {padding: 20px;margin: 20px 0 0;color: #141414;box-shadow: 0 0 5px rgba(0,0,0,.1);}
#commentform .form-submit {margin-bottom: 0;}
#cancel-comment-reply-link {font-style: italic;color: #165da5;}
#cancel-comment-reply-link:before {font-family: "Font Awesome 5 Free";content: "";margin: 0 5px 0 20px;font-style: normal;color: #165da5;}
.logged-in-as a {color: #165da5;}
.not-found {text-align: center;padding: 50px 0;}
.not-found .page-header {background: none;}
.not-found .page-header h1 {color: #165da5;font-size: 120px;font-weight: bold;line-height: 1;margin-bottom: 15px;margin-top: 0;}
.not-found  .page-header {border: 0;margin: 0;}
.not-found .backhome {margin-top: 50px;}
.not-found .backhome a {background-color: #165da5;border-radius: 2px 2px 2px 2px;color: #fff;cursor: pointer;font-size: 15px;padding: 12px 25px;text-decoration: none;font-weight: 600;letter-spacing: .5px;border: 1px solid #165da5;}
.not-found .backhome a:hover {background: transparent;border-color: #165da5;color: #165da5;}
.breadcrumb {padding: 100px 0;background: #f9f9f9;border-radius: 0;position: relative;margin-bottom: 0;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;}
.breadcrumb:before {background: rgba(0,0,0,.5);bottom: 0;height: 100%;content: "";display: block;left: 0;position: absolute;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;width: 100%;}
.breadcrumb_wrapper {text-align: center;}
.breadcrumb h2 {color: #fff;font-size: 40px;font-weight: 500;}
.breadcrumb ul {color: #fff;padding: 0;margin: 0;list-style-type: none;}
.breadcrumb ul li {display: inline-block;font-size: 18px;color: #165da5;font-weight: 400;}
.breadcrumb ul li a {color: #fff;transition: .3s ease;}
.breadcrumb ul li a:hover {color: #165da5;transition: .3s ease;}
.breadcrumb ul li a:after {content: ">";color: #fff;padding: 0px 8px;position: relative;top: 1px;}
.breadcrumb ul li:last-child a:after {content: "";}
.page-header {background: #f9f9f9;padding: 20px 0 5px 15px;margin-bottom: 15px;}
.page-header span {background: #165da5;padding: 2px 10px;color: #fff;text-transform: capitalize;}
.site-footer {background: #191818;color: #fff;}
.site-footer .widget {margin: 2em 0;}
.site-footer .widget .widget-title {width: 100%;margin-top: 0;text-transform: uppercase;display: inline-block;color: #fff;font-size: 18px;font-weight: 600;letter-spacing: 1.5px;line-height: 1.6;padding-bottom: 5px;position: relative;margin-bottom: 30px;}
.site-footer .widget h2.widget-title:before {content: "";position: absolute;top: 100%;left: 0;line-height: 1.6;width: 50px;border-bottom: 2px solid #165da5;}
.site-footer .widget ul, .widget_tag_cloud .tagcloud {padding: 0;}
.site-footer .widget ul li {border-bottom: 1px dotted rgba(239,239,239,.1);margin-bottom: 0;}
.site-footer .widget ul li:last-child {border: 0;}
.site-footer .widget ul li, .site-footer .widget ul li a, .site-footer .widget a, .site-footer .widget ul li:before, .site-footer .widget a::before, .site-footer .calendar_wrap table td, .site-footer .calendar_wrap table th {color: #fff;}
.site-footer .widget a:hover, .site-footer .widget a:hover::before, .site-footer .widget li:hover::before {color: #165da5;}
.site-footer .widget_recent_entries a {padding-left: 15px;}
.site-footer .textwidget h2, .site-footer .textwidget h3, .site-footer .textwidget h4 {color: #fff;}
.site-footer .textwidget ul {list-style-type: none;}
.site-footer .textwidget ul li {border: 0;padding: 5px;}
.site-footer .textwidget ul li a {color: #165da5;}
.sub_footer {background: #101010;padding: 10px 0px;text-align: center;}
.businessroycopyright {color: #fff;line-height: 40px;}
.businessroycopyright a, .businessroycopyright a.privacy-policy-link:hover {color: #165da5;}
.businessroycopyright a:hover, .businessroycopyright a.privacy-policy-link {color: #fff;}
.sub_footer ul.sp_socialicon {padding: 0;margin: 0;list-style-type: none;}
.sub_footer ul.sp_socialicon li {display: inline-block;margin-right: 15px;}
.sub_footer ul.sp_socialicon li a i {display: block;width: 35px;height: 35px;text-align: center;line-height: 35px;border-radius: 50%;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;color: #fff;background: #165da5;}
ul.sp_socialicon li a i.fa-facebook-f {background: #3b5998;}
ul.sp_socialicon li a i.fa-twitter {background: #1da1f2;}
ul.sp_socialicon li a i.fa-google {background: #db4c3f;}
ul.sp_socialicon li a i.fa-linkedin-in {background: #1178b3;}
ul.sp_socialicon li a i.fa-youtube {background: #d20014;}
.sub_footer ul.sp_socialicon li a i:hover {background: #165da5;color: #fff;border-color: #165da5;}
.widget div.wpcf7 {background-color: transparent;padding: 0;}
div.wpcf7 {background-color: #f9f9f9;padding: 20px;}
.wpcf7 label {display: block;margin-bottom: 15px;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 input[type="url"], .wpcf7 textarea, .wpcf7 select {width: 100%;padding: 10px;}
.wpcf7 input[type="submit"], .wpcf7 input[type="button"] {background-color: #165da5;border: 1px solid #165da5;text-align: center;text-transform: uppercase;float: right;padding: 8px 30px;}
.wpcf7 input[type="submit"]:hover, .wpcf7 input[type="button"]:hover {background: transparent;border: 1px solid #165da5;color: #165da5;}
.page-template-template-pagebuilder .so-panel {margin: 0;margin-bottom: 0;}
.page-template-template-pagebuilder .businessroyfeature, .page-template-template-pagebuilder .businessroyclient_logo_layout_two {background: transparent;}
.businessroyclient_logo_layout_two .container {width: 100%;}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {display: block;vertical-align: middle;position: relative;}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {display: inline-block;vertical-align: middle;position: relative;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {display: inline-block;vertical-align: middle;visibility: hidden;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {text-align: left;display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {display: block;}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {display: block;-webkit-backface-visibility: hidden;}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {display: block;-webkit-transform: translateZ(0);}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {position: absolute;}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {-webkit-transition: -webkit-transform 2s;-moz-transition: -moz-transform 2s;-ms-transition: -ms-transform 2s;-o-transition: -o-transform 2s;transition: transform 2s;}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {-webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {-webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {-webkit-transition: -webkit-transform 2s;-moz-transition: -moz-transform 2s;-ms-transition: -ms-transform 2s;-o-transition: -o-transform 2s;transition: transform 2s;-webkit-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {text-align: center;}