.grid-lg-2m3, .grid-md-2m3, .grid-sm-2m3, .grid-xl-2m3, .grid-xz-2m3 {position: relative;width: 100%;min-height: 1px;padding-left: 15px;padding-right: 15px;}
@media (min-width:0) {.grid-xs-2m3 {flex: 0 0 20%;max-width: 20%;}
	.offset-xs-2m3 {margin-right: 20%;}
	.hide-xs-2m3-none {display: none !important;}
	.hide-xs-2m3-inline {display: inline !important;}
	.hide-xs-2m3-inline-block {display: inline-block !important;}
	.hide-xs-2m3-block {display: block !important;}
	.hide-xs-2m3-table {display: table !important;}
	.hide-xs-2m3-table-row {display: table-row !important;}
	.hide-xs-2m3-table-cell {display: table-cell !important;}
	.hide-xs-2m3-flex {display: flex !important;}
	.hide-xs-2m3-inline-flex {display: inline-flex !important;}}
@media (min-width:576px) {.grid-sm-2m3 {flex: 0 0 20%;max-width: 20%;}
	.offset-sm-2m3 {margin-right: 20%;}
	.hide-sm-2m3-none {display: none !important;}
	.hide-sm-2m3-inline {display: inline !important;}
	.hide-sm-2m3-inline-block {display: inline-block !important;}
	.hide-sm-2m3-block {display: block !important;}
	.hide-sm-2m3-table {display: table !important;}
	.hide-sm-2m3-table-row {display: table-row !important;}
	.hide-sm-2m3-table-cell {display: table-cell !important;}
	.hide-sm-2m3-flex {display: flex !important;}
	.hide-sm-2m3-inline-flex {display: inline-flex !important;}}
@media (min-width:768px) {.grid-md-2m3 {flex: 0 0 20%;max-width: 20%;}
	.offset-xl-2m3 {margin-right: 20%;}
	.hide-md-2m3-none {display: none !important;}
	.hide-md-2m3-inline {display: inline !important;}
	.hide-md-2m3-inline-block {display: inline-block !important;}
	.hide-md-2m3-block {display: block !important;}
	.hide-md-2m3-table {display: table !important;}
	.hide-md-2m3-table-row {display: table-row !important;}
	.hide-md-2m3-table-cell {display: table-cell !important;}
	.hide-md-2m3-flex {display: flex !important;}
	.hide-md-2m3-inline-flex {display: inline-flex !important;}}
@media (min-width:992px) {.grid-lg-2m3 {flex: 0 0 20%;max-width: 20%;}
	.offset-lg-2m3 {margin-right: 20%;}
	.hide-lg-2m3-none {display: none !important;}
	.hide-lg-2m3-inline {display: inline !important;}
	.hide-lg-2m3-inline-block {display: inline-block !important;}
	.hide-lg-2m3-block {display: block !important;}
	.hide-lg-2m3-table {display: table !important;}
	.hide-lg-2m3-table-row {display: table-row !important;}
	.hide-lg-2m3-table-cell {display: table-cell !important;}
	.hide-lg-2m3-flex {display: flex !important;}
	.hide-lg-2m3-inline-flex {display: inline-flex !important;}}
@media (min-width:1200px) {.grid-xl-2m3 {flex: 0 0 20%;max-width: 20%;}
	.offset-xl-2m3 {margin-right: 20%;}
	.hide-xl-2m3-none {display: none !important;}
	.hide-xl-2m3-inline {display: inline !important;}
	.hide-xl-2m3-inline-block {display: inline-block !important;}
	.hide-xl-2m3-block {display: block !important;}
	.hide-xl-2m3-table {display: table !important;}
	.hide-xl-2m3-table-row {display: table-row !important;}
	.hide-xl-2m3-table-cell {display: table-cell !important;}
	.hide-xl-2m3-flex {display: flex !important;}
	.hide-xl-2m3-inline-flex {display: inline-flex !important;}}
.flex-row {flex-direction: row !important;}
.flex-column {flex-direction: column !important;}
.flex-row-reverse {flex-direction: row-reverse !important;}
.flex-column-reverse {flex-direction: column-reverse !important;}
.flex-wrap {flex-wrap: wrap !important;}
.flex-nowrap {flex-wrap: nowrap !important;}
.flex-wrap-reverse {flex-wrap: wrap-reverse !important;}
.flex-fill {flex: 1 1 auto !important;}
.flex-grow-0 {flex-grow: 0 !important;}
.flex-grow-1 {flex-grow: 1 !important;}
.flex-shrink-0 {flex-shrink: 0 !important;}
.flex-shrink-1 {flex-shrink: 1 !important;}
.justify-content-start {justify-content: flex-start !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-center {justify-content: center !important;}
.justify-content-between {justify-content: space-between !important;}
.justify-content-around {justify-content: space-around !important;}
.align-items-start {align-items: flex-start !important;}
.align-items-end {align-items: flex-end !important;}
.align-items-center {align-items: center !important;}
.align-items-baseline {align-items: baseline !important;}
.align-items-stretch {align-items: stretch !important;}
.align-content-start {align-content: flex-start !important;}
.align-content-end {align-content: flex-end !important;}
.align-content-center {align-content: center !important;}
.align-content-between {align-content: space-between !important;}
.align-content-around {align-content: space-around !important;}
.align-content-stretch {align-content: stretch !important;}
.align-self-auto {align-self: auto !important;}
.align-self-start {align-self: flex-start !important;}
.align-self-end {align-self: flex-end !important;}
.align-self-center {align-self: center !important;}
.align-self-baseline {align-self: baseline !important;}
.align-self-stretch {align-self: stretch !important;}
@media (min-width:576px) {.flex-sm-row {flex-direction: row !important;}
	.flex-sm-column {flex-direction: column !important;}
	.flex-sm-row-reverse {flex-direction: row-reverse !important;}
	.flex-sm-column-reverse {flex-direction: column-reverse !important;}
	.flex-sm-wrap {flex-wrap: wrap !important;}
	.flex-sm-nowrap {flex-wrap: nowrap !important;}
	.flex-sm-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.flex-sm-fill {flex: 1 1 auto !important;}
	.flex-sm-grow-0 {flex-grow: 0 !important;}
	.flex-sm-grow-1 {flex-grow: 1 !important;}
	.flex-sm-shrink-0 {flex-shrink: 0 !important;}
	.flex-sm-shrink-1 {flex-shrink: 1 !important;}
	.justify-content-sm-start {justify-content: flex-start !important;}
	.justify-content-sm-end {justify-content: flex-end !important;}
	.justify-content-sm-center {justify-content: center !important;}
	.justify-content-sm-between {justify-content: space-between !important;}
	.justify-content-sm-around {justify-content: space-around !important;}
	.align-items-sm-start {align-items: flex-start !important;}
	.align-items-sm-end {align-items: flex-end !important;}
	.align-items-sm-center {align-items: center !important;}
	.align-items-sm-baseline {align-items: baseline !important;}
	.align-items-sm-stretch {align-items: stretch !important;}
	.align-content-sm-start {align-content: flex-start !important;}
	.align-content-sm-end {align-content: flex-end !important;}
	.align-content-sm-center {align-content: center !important;}
	.align-content-sm-between {align-content: space-between !important;}
	.align-content-sm-around {align-content: space-around !important;}
	.align-content-sm-stretch {align-content: stretch !important;}
	.align-self-sm-auto {align-self: auto !important;}
	.align-self-sm-start {align-self: flex-start !important;}
	.align-self-sm-end {align-self: flex-end !important;}
	.align-self-sm-center {align-self: center !important;}
	.align-self-sm-baseline {align-self: baseline !important;}
	.align-self-sm-stretch {align-self: stretch !important;}}
@media (min-width:768px) {.flex-md-row {flex-direction: row !important;}
	.flex-md-column {flex-direction: column !important;}
	.flex-md-row-reverse {flex-direction: row-reverse !important;}
	.flex-md-column-reverse {flex-direction: column-reverse !important;}
	.flex-md-wrap {flex-wrap: wrap !important;}
	.flex-md-nowrap {flex-wrap: nowrap !important;}
	.flex-md-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.flex-md-fill {flex: 1 1 auto !important;}
	.flex-md-grow-0 {flex-grow: 0 !important;}
	.flex-md-grow-1 {flex-grow: 1 !important;}
	.flex-md-shrink-0 {flex-shrink: 0 !important;}
	.flex-md-shrink-1 {flex-shrink: 1 !important;}
	.justify-content-md-start {justify-content: flex-start !important;}
	.justify-content-md-end {justify-content: flex-end !important;}
	.justify-content-md-center {justify-content: center !important;}
	.justify-content-md-between {justify-content: space-between !important;}
	.justify-content-md-around {justify-content: space-around !important;}
	.align-items-md-start {align-items: flex-start !important;}
	.align-items-md-end {align-items: flex-end !important;}
	.align-items-md-center {align-items: center !important;}
	.align-items-md-baseline {align-items: baseline !important;}
	.align-items-md-stretch {align-items: stretch !important;}
	.align-content-md-start {align-content: flex-start !important;}
	.align-content-md-end {align-content: flex-end !important;}
	.align-content-md-center {align-content: center !important;}
	.align-content-md-between {align-content: space-between !important;}
	.align-content-md-around {align-content: space-around !important;}
	.align-content-md-stretch {align-content: stretch !important;}
	.align-self-md-auto {align-self: auto !important;}
	.align-self-md-start {align-self: flex-start !important;}
	.align-self-md-end {align-self: flex-end !important;}
	.align-self-md-center {align-self: center !important;}
	.align-self-md-baseline {align-self: baseline !important;}
	.align-self-md-stretch {align-self: stretch !important;}}
@media (min-width:992px) {.flex-lg-row {flex-direction: row !important;}
	.flex-lg-column {flex-direction: column !important;}
	.flex-lg-row-reverse {flex-direction: row-reverse !important;}
	.flex-lg-column-reverse {flex-direction: column-reverse !important;}
	.flex-lg-wrap {flex-wrap: wrap !important;}
	.flex-lg-nowrap {flex-wrap: nowrap !important;}
	.flex-lg-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.flex-lg-fill {flex: 1 1 auto !important;}
	.flex-lg-grow-0 {flex-grow: 0 !important;}
	.flex-lg-grow-1 {flex-grow: 1 !important;}
	.flex-lg-shrink-0 {flex-shrink: 0 !important;}
	.flex-lg-shrink-1 {flex-shrink: 1 !important;}
	.justify-content-lg-start {justify-content: flex-start !important;}
	.justify-content-lg-end {justify-content: flex-end !important;}
	.justify-content-lg-center {justify-content: center !important;}
	.justify-content-lg-between {justify-content: space-between !important;}
	.justify-content-lg-around {justify-content: space-around !important;}
	.align-items-lg-start {align-items: flex-start !important;}
	.align-items-lg-end {align-items: flex-end !important;}
	.align-items-lg-center {align-items: center !important;}
	.align-items-lg-baseline {align-items: baseline !important;}
	.align-items-lg-stretch {align-items: stretch !important;}
	.align-content-lg-start {align-content: flex-start !important;}
	.align-content-lg-end {align-content: flex-end !important;}
	.align-content-lg-center {align-content: center !important;}
	.align-content-lg-between {align-content: space-between !important;}
	.align-content-lg-around {align-content: space-around !important;}
	.align-content-lg-stretch {align-content: stretch !important;}
	.align-self-lg-auto {align-self: auto !important;}
	.align-self-lg-start {align-self: flex-start !important;}
	.align-self-lg-end {align-self: flex-end !important;}
	.align-self-lg-center {align-self: center !important;}
	.align-self-lg-baseline {align-self: baseline !important;}
	.align-self-lg-stretch {align-self: stretch !important;}}
@media (min-width:1200px) {.flex-xl-row {flex-direction: row !important;}
	.flex-xl-column {flex-direction: column !important;}
	.flex-xl-row-reverse {flex-direction: row-reverse !important;}
	.flex-xl-column-reverse {flex-direction: column-reverse !important;}
	.flex-xl-wrap {flex-wrap: wrap !important;}
	.flex-xl-nowrap {flex-wrap: nowrap !important;}
	.flex-xl-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.flex-xl-fill {flex: 1 1 auto !important;}
	.flex-xl-grow-0 {flex-grow: 0 !important;}
	.flex-xl-grow-1 {flex-grow: 1 !important;}
	.flex-xl-shrink-0 {flex-shrink: 0 !important;}
	.flex-xl-shrink-1 {flex-shrink: 1 !important;}
	.justify-content-xl-start {justify-content: flex-start !important;}
	.justify-content-xl-end {justify-content: flex-end !important;}
	.justify-content-xl-center {justify-content: center !important;}
	.justify-content-xl-between {justify-content: space-between !important;}
	.justify-content-xl-around {justify-content: space-around !important;}
	.align-items-xl-start {align-items: flex-start !important;}
	.align-items-xl-end {align-items: flex-end !important;}
	.align-items-xl-center {align-items: center !important;}
	.align-items-xl-baseline {align-items: baseline !important;}
	.align-items-xl-stretch {align-items: stretch !important;}
	.align-content-xl-start {align-content: flex-start !important;}
	.align-content-xl-end {align-content: flex-end !important;}
	.align-content-xl-center {align-content: center !important;}
	.align-content-xl-between {align-content: space-between !important;}
	.align-content-xl-around {align-content: space-around !important;}
	.align-content-xl-stretch {align-content: stretch !important;}
	.align-self-xl-auto {align-self: auto !important;}
	.align-self-xl-start {align-self: flex-start !important;}
	.align-self-xl-end {align-self: flex-end !important;}
	.align-self-xl-center {align-self: center !important;}
	.align-self-xl-baseline {align-self: baseline !important;}
	.align-self-xl-stretch {align-self: stretch !important;}}
.hide-none {display: none !important;}
.hide-inline {display: inline !important;}
.hide-inline-block {display: inline-block !important;}
.hide-block {display: block !important;}
.hide-table {display: table !important;}
.hide-table-row {display: table-row !important;}
.hide-table-cell {display: table-cell !important;}
.hide-flex {display: flex !important;}
.hide-inline-flex {display: inline-flex !important;}
@media (min-width:576px) {.hide-sm-none {display: none !important;}
	.hide-sm-inline {display: inline !important;}
	.hide-sm-inline-block {display: inline-block !important;}
	.hide-sm-block {display: block !important;}
	.hide-sm-table {display: table !important;}
	.hide-sm-table-row {display: table-row !important;}
	.hide-sm-table-cell {display: table-cell !important;}
	.hide-sm-flex {display: flex !important;}
	.hide-sm-inline-flex {display: inline-flex !important;}}
@media (min-width:768px) {.hide-md-none {display: none !important;}
	.hide-md-inline {display: inline !important;}
	.hide-md-inline-block {display: inline-block !important;}
	.hide-md-block {display: block !important;}
	.hide-md-table {display: table !important;}
	.hide-md-table-row {display: table-row !important;}
	.hide-md-table-cell {display: table-cell !important;}
	.hide-md-flex {display: flex !important;}
	.hide-md-inline-flex {display: inline-flex !important;}}
@media (min-width:992px) {.hide-lg-none {display: none !important;}
	.hide-lg-inline {display: inline !important;}
	.hide-lg-inline-block {display: inline-block !important;}
	.hide-lg-block {display: block !important;}
	.hide-lg-table {display: table !important;}
	.hide-lg-table-row {display: table-row !important;}
	.hide-lg-table-cell {display: table-cell !important;}
	.hide-lg-flex {display: flex !important;}
	.hide-lg-inline-flex {display: inline-flex !important;}}
@media (min-width:1200px) {.hide-xl-none {display: none !important;}
	.hide-xl-inline {display: inline !important;}
	.hide-xl-inline-block {display: inline-block !important;}
	.hide-xl-block {display: block !important;}
	.hide-xl-table {display: table !important;}
	.hide-xl-table-row {display: table-row !important;}
	.hide-xl-table-cell {display: table-cell !important;}
	.hide-xl-flex {display: flex !important;}
	.hide-xl-inline-flex {display: inline-flex !important;}}
@media print {.hide-print-none {display: none !important;}
	.hide-print-inline {display: inline !important;}
	.hide-print-inline-block {display: inline-block !important;}
	.hide-print-block {display: block !important;}
	.hide-print-table {display: table !important;}
	.hide-print-table-row {display: table-row !important;}
	.hide-print-table-cell {display: table-cell !important;}
	.hide-print-flex {display: flex !important;}
	.hide-print-inline-flex {display: inline-flex !important;}}
.grid-container {width: 100%;padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;}
@media (min-width:576px) {.grid-container {max-width: 540px;}}
@media (min-width:768px) {.grid-container {max-width: 720px;}}
@media (min-width:992px) {.grid-container {max-width: 960px;}}
@media (min-width:1200px) {.grid-container {max-width: 1140px;}}
.grid-container-fluid {width: 100%;padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;}
.grid-row {display: flex;flex-wrap: wrap;margin-left: -15px;margin-right: -15px;}
.grid-no-gutters {margin-left: 0;margin-right: 0;}
.grid-no-gutters>.grid, .grid-no-gutters>[class*=grid-] {padding-left: 0;padding-right: 0;}
.grid, .grid-1, .grid-10, .grid-11, .grid-12, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-auto, .grid-lg, .grid-lg-1, .grid-lg-10, .grid-lg-11, .grid-lg-12, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-auto, .grid-md, .grid-md-1, .grid-md-10, .grid-md-11, .grid-md-12, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-auto, .grid-sm, .grid-sm-1, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-auto, .grid-xl, .grid-xl-1, .grid-xl-10, .grid-xl-11, .grid-xl-12, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-auto {position: relative;width: 100%;min-height: 1px;padding-left: 15px;padding-right: 15px;}
.grid {flex-basis: 0;flex-grow: 1;max-width: 100%;}
.grid-auto {flex: 0 0 auto;width: auto;max-width: none;}
.grid-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
.grid-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
.grid-3 {flex: 0 0 25%;max-width: 25%;}
.grid-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
.grid-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
.grid-6 {flex: 0 0 50%;max-width: 50%;}
.grid-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
.grid-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
.grid-9 {flex: 0 0 75%;max-width: 75%;}
.grid-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
.grid-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
.grid-12 {flex: 0 0 100%;max-width: 100%;}
.order-first {order: -1;}
.order-last {order: 13;}
.order-0 {order: 0;}
.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}
.order-11 {order: 11;}
.order-12 {order: 12;}
.offset-1 {margin-right: 8.3333333333%;}
.offset-2 {margin-right: 16.6666666667%;}
.offset-3 {margin-right: 25%;}
.offset-4 {margin-right: 33.3333333333%;}
.offset-5 {margin-right: 41.6666666667%;}
.offset-6 {margin-right: 50%;}
.offset-7 {margin-right: 58.3333333333%;}
.offset-8 {margin-right: 66.6666666667%;}
.offset-9 {margin-right: 75%;}
.offset-10 {margin-right: 83.3333333333%;}
.offset-11 {margin-right: 91.6666666667%;}
@media (min-width:576px) {.grid-sm {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.grid-sm-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.grid-sm-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.grid-sm-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.grid-sm-3 {flex: 0 0 25%;max-width: 25%;}
	.grid-sm-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.grid-sm-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.grid-sm-6 {flex: 0 0 50%;max-width: 50%;}
	.grid-sm-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.grid-sm-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.grid-sm-9 {flex: 0 0 75%;max-width: 75%;}
	.grid-sm-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.grid-sm-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.grid-sm-12 {flex: 0 0 100%;max-width: 100%;}
	.order-sm-first {order: -1;}
	.order-sm-last {order: 13;}
	.order-sm-0 {order: 0;}
	.order-sm-1 {order: 1;}
	.order-sm-2 {order: 2;}
	.order-sm-3 {order: 3;}
	.order-sm-4 {order: 4;}
	.order-sm-5 {order: 5;}
	.order-sm-6 {order: 6;}
	.order-sm-7 {order: 7;}
	.order-sm-8 {order: 8;}
	.order-sm-9 {order: 9;}
	.order-sm-10 {order: 10;}
	.order-sm-11 {order: 11;}
	.order-sm-12 {order: 12;}
	.offset-sm-0 {margin-right: 0;}
	.offset-sm-1 {margin-right: 8.3333333333%;}
	.offset-sm-2 {margin-right: 16.6666666667%;}
	.offset-sm-3 {margin-right: 25%;}
	.offset-sm-4 {margin-right: 33.3333333333%;}
	.offset-sm-5 {margin-right: 41.6666666667%;}
	.offset-sm-6 {margin-right: 50%;}
	.offset-sm-7 {margin-right: 58.3333333333%;}
	.offset-sm-8 {margin-right: 66.6666666667%;}
	.offset-sm-9 {margin-right: 75%;}
	.offset-sm-10 {margin-right: 83.3333333333%;}
	.offset-sm-11 {margin-right: 91.6666666667%;}}
@media (min-width:768px) {.grid-md {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.grid-md-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.grid-md-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.grid-md-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.grid-md-3 {flex: 0 0 25%;max-width: 25%;}
	.grid-md-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.grid-md-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.grid-md-6 {flex: 0 0 50%;max-width: 50%;}
	.grid-md-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.grid-md-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.grid-md-9 {flex: 0 0 75%;max-width: 75%;}
	.grid-md-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.grid-md-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.grid-md-12 {flex: 0 0 100%;max-width: 100%;}
	.order-md-first {order: -1;}
	.order-md-last {order: 13;}
	.order-md-0 {order: 0;}
	.order-md-1 {order: 1;}
	.order-md-2 {order: 2;}
	.order-md-3 {order: 3;}
	.order-md-4 {order: 4;}
	.order-md-5 {order: 5;}
	.order-md-6 {order: 6;}
	.order-md-7 {order: 7;}
	.order-md-8 {order: 8;}
	.order-md-9 {order: 9;}
	.order-md-10 {order: 10;}
	.order-md-11 {order: 11;}
	.order-md-12 {order: 12;}
	.offset-md-0 {margin-right: 0;}
	.offset-md-1 {margin-right: 8.3333333333%;}
	.offset-md-2 {margin-right: 16.6666666667%;}
	.offset-md-3 {margin-right: 25%;}
	.offset-md-4 {margin-right: 33.3333333333%;}
	.offset-md-5 {margin-right: 41.6666666667%;}
	.offset-md-6 {margin-right: 50%;}
	.offset-md-7 {margin-right: 58.3333333333%;}
	.offset-md-8 {margin-right: 66.6666666667%;}
	.offset-md-9 {margin-right: 75%;}
	.offset-md-10 {margin-right: 83.3333333333%;}
	.offset-md-11 {margin-right: 91.6666666667%;}}
@media (min-width:992px) {.grid-lg {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.grid-lg-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.grid-lg-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.grid-lg-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.grid-lg-3 {flex: 0 0 25%;max-width: 25%;}
	.grid-lg-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.grid-lg-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.grid-lg-6 {flex: 0 0 50%;max-width: 50%;}
	.grid-lg-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.grid-lg-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.grid-lg-9 {flex: 0 0 75%;max-width: 75%;}
	.grid-lg-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.grid-lg-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.grid-lg-12 {flex: 0 0 100%;max-width: 100%;}
	.order-lg-first {order: -1;}
	.order-lg-last {order: 13;}
	.order-lg-0 {order: 0;}
	.order-lg-1 {order: 1;}
	.order-lg-2 {order: 2;}
	.order-lg-3 {order: 3;}
	.order-lg-4 {order: 4;}
	.order-lg-5 {order: 5;}
	.order-lg-6 {order: 6;}
	.order-lg-7 {order: 7;}
	.order-lg-8 {order: 8;}
	.order-lg-9 {order: 9;}
	.order-lg-10 {order: 10;}
	.order-lg-11 {order: 11;}
	.order-lg-12 {order: 12;}
	.offset-lg-0 {margin-right: 0;}
	.offset-lg-1 {margin-right: 8.3333333333%;}
	.offset-lg-2 {margin-right: 16.6666666667%;}
	.offset-lg-3 {margin-right: 25%;}
	.offset-lg-4 {margin-right: 33.3333333333%;}
	.offset-lg-5 {margin-right: 41.6666666667%;}
	.offset-lg-6 {margin-right: 50%;}
	.offset-lg-7 {margin-right: 58.3333333333%;}
	.offset-lg-8 {margin-right: 66.6666666667%;}
	.offset-lg-9 {margin-right: 75%;}
	.offset-lg-10 {margin-right: 83.3333333333%;}
	.offset-lg-11 {margin-right: 91.6666666667%;}}
@media (min-width:1200px) {.grid-xl {flex-basis: 0;flex-grow: 1;max-width: 100%;}
	.grid-xl-auto {flex: 0 0 auto;width: auto;max-width: none;}
	.grid-xl-1 {flex: 0 0 8.3333333333%;max-width: 8.3333333333%;}
	.grid-xl-2 {flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
	.grid-xl-3 {flex: 0 0 25%;max-width: 25%;}
	.grid-xl-4 {flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
	.grid-xl-5 {flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
	.grid-xl-6 {flex: 0 0 50%;max-width: 50%;}
	.grid-xl-7 {flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
	.grid-xl-8 {flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
	.grid-xl-9 {flex: 0 0 75%;max-width: 75%;}
	.grid-xl-10 {flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
	.grid-xl-11 {flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
	.grid-xl-12 {flex: 0 0 100%;max-width: 100%;}
	.order-xl-first {order: -1;}
	.order-xl-last {order: 13;}
	.order-xl-0 {order: 0;}
	.order-xl-1 {order: 1;}
	.order-xl-2 {order: 2;}
	.order-xl-3 {order: 3;}
	.order-xl-4 {order: 4;}
	.order-xl-5 {order: 5;}
	.order-xl-6 {order: 6;}
	.order-xl-7 {order: 7;}
	.order-xl-8 {order: 8;}
	.order-xl-9 {order: 9;}
	.order-xl-10 {order: 10;}
	.order-xl-11 {order: 11;}
	.order-xl-12 {order: 12;}
	.offset-xl-0 {margin-right: 0;}
	.offset-xl-1 {margin-right: 8.3333333333%;}
	.offset-xl-2 {margin-right: 16.6666666667%;}
	.offset-xl-3 {margin-right: 25%;}
	.offset-xl-4 {margin-right: 33.3333333333%;}
	.offset-xl-5 {margin-right: 41.6666666667%;}
	.offset-xl-6 {margin-right: 50%;}
	.offset-xl-7 {margin-right: 58.3333333333%;}
	.offset-xl-8 {margin-right: 66.6666666667%;}
	.offset-xl-9 {margin-right: 75%;}
	.offset-xl-10 {margin-right: 83.3333333333%;}
	.offset-xl-11 {margin-right: 91.6666666667%;}}